{% extends "_layouts/wizard.html" %}

{% set title = "Check and confirm details" %}
{% set buttonText = "Confirm" %}
{% set baseHref = "/sessions/new/" + campaignId %}

{% block form %}
  {{ heading({ title: title }) }}

  {{ summaryList({
    rows: decorateRows([
      {
        key: "Type of session",
        value: campaign["type-of-session"],
        href: baseHref
      },
      {
        key: "School",
        value: campaign.where,
        href: baseHref + "/where"
      },
      {
        key: "Vaccine",
        value: campaign.which,
        href: baseHref + "/which"
      },
      {
        key: "Date",
        value: campaign["session-date"] | isoDateFromDateInput | dateWithDayOfWeek,
        href: baseHref + "/when"
      },
      {
        key: "Time",
        value: campaign.time,
        href: baseHref + "/when"
      }
    ])
  }) }}
{% endblock %}
