{% set menACWYVaccineGiven = "men-acwy" in vaccination["multi-given"] %}
{% set 3in1VaccineGiven = "3-in-1" in vaccination["multi-given"] %}

{{ summaryList({
  rows: decorateRows([
    {
      key: "Child",
      value: patient.fullName
    },
    {
      key: "Date",
      value: "Today (" + "today" | govukDate + ")",
      href: "#"
    },
    {
      key: "Time",
      value: "now" | govukTime,
      href: "#"
    },
    {
      key: "Location",
      value: session.location,
      href: "#"
    },
    {
      key: "Vaccinator",
      value: "You (" + data.user.fullName + ")",
      href: "#"
    }
  ])
}) }}

<h2 class="nhsuk-heading-m">MenACWY</h2>
{% set basePath = "/men-acwy-vaccination/" + session.id + "/" + patient.nhsNumber %}
{% set vaccine = session.vaccines[1] %}
{% set batch = vaccine.batches[0] %}

{% if patient.consent.outcome == CONSENT_OUTCOME.ONLY_MENACWY or menACWYVaccineGiven %}
  {{ summaryList({
    rows: decorateRows([
      {
        key: "Brand",
        value: vaccine.summary,
        href: "#"
      } if menACWYVaccineGiven,
      {
        key: "Batch",
        value: batch.id + " (expires " + (batch.expiry | govukDate("truncate")) + ")",
        href: "#"
      } if menACWYVaccineGiven,
      {
        key: "Site",
        value: vaccination.siteMenACWY,
        href: "#"
      } if menACWYVaccineGiven,
      {
        key: "Outcome",
        value: menACWYVaccination.outcome,
        href: basePath + "/not-given" if not menACWYVaccineGiven
      }
    ])
  }) }}
{% else %}
  <p>Consent not given</p>
{% endif %}

<h2 class="nhsuk-heading-m">3-in-1 booster</h2>
{% set basePath = "/3-in-1-vaccination/" + session.id + "/" + patient.nhsNumber %}
{% set vaccine = session.vaccines[0] %}
{% set batch = vaccine.batches[0] %}

{% if patient.consent.outcome == CONSENT_OUTCOME.ONLY_3_IN_1 or 3in1VaccineGiven %}
  {{ summaryList({
    rows: decorateRows([
      {
        key: "Brand",
        value: vaccine.summary,
        href: "#"
      } if 3in1VaccineGiven,
      {
        key: "Batch",
        value: batch.id + " (expires " + (batch.expiry | govukDate("truncate")) + ")",
        href: "#"
      } if 3in1VaccineGiven,
      {
        key: "Site",
        value: vaccination.site3in1,
        href: "#"
      } if 3in1VaccineGiven,
      {
        key: "Given",
        value: "No",
        href: "#"
      } if not 3in1VaccineGiven,
      {
        key: "Reason",
        value: 3in1Vaccination.outcome,
        href: basePath + "/not-given"
      } if not 3in1VaccineGiven
    ])
  }) }}
{% else %}
  <p>Consent not given</p>
{% endif %}
