{% set menACWYVaccineGiven = "men-acwy" in vaccination["multi-given"] %}
{% set 3in1VaccineGiven = "3-in-1" in vaccination["multi-given"] %}

{{ govukSummaryList({
  classes: "app-summary-list--no-bottom-border",
  rows: decorateRows([
    {
      key: "Child",
      value: child.fullName
    },
    {
      key: "Date",
      value: "Today (" + "today" | govukDate + ")",
      href: "#"
    },
    {
      key: "Time",
      value: "now" | govukTime,
      href: "#"
    },
    {
      key: "Location",
      value: campaign.location,
      href: "#"
    },
    {
      key: "Vaccinator",
      value: "You (" + data.user.name + ")",
      href: "#"
    }
  ])
}) }}

<h2 class="nhsuk-heading-m">MenACWY</h2>
{% set basePath = "/men-acwy-vaccination/" + campaign.id + "/" + child.nhsNumber %}
{% set vaccine = campaign.vaccines[1] %}
{% set batch = vaccine.batches[0] %}
{% set brand = vaccine.brand + " (Injection)" %}

{% if child.consent["men-acwy"] == "Yes" or menACWYVaccineGiven %}
  {{ govukSummaryList({
    classes: "app-summary-list--no-bottom-border",
    rows: decorateRows([
      {
        key: "Brand",
        value: brand,
        href: "#"
      } if menACWYVaccineGiven,
      {
        key: "Batch",
        value: batch.name + " (expires " + (batch.expiry | govukDate("truncate")) + ")",
        href: "#"
      } if menACWYVaccineGiven,
      {
        key: "Site",
        value: vaccination.siteMenACWY,
        href: "#"
      } if menACWYVaccineGiven,
      {
        key: "Outcome",
        value: menACWYVaccination.outcome,
        href: basePath + "/not-given" if not menACWYVaccineGiven
      }
    ])
  }) }}
{% else %}
  <p>Consent not given</p>
{% endif %}

<h2 class="nhsuk-heading-m">3-in-1 booster</h2>
{% set basePath = "/3-in-1-vaccination/" + campaign.id + "/" + child.nhsNumber %}
{% set vaccine = campaign.vaccines[0] %}
{% set batch = vaccine.batches[0] %}
{% set brand = vaccine.brand + " (Injection)" %}

{% if child.consent["3-in-1"] == "Yes" or 3in1VaccineGiven %}
  {{ govukSummaryList({
    classes: "app-summary-list--no-bottom-border",
    rows: decorateRows([
      {
        key: "Brand",
        value: brand,
        href: "#"
      } if 3in1VaccineGiven,
      {
        key: "Batch",
        value: batch.name + " (expires " + (batch.expiry | govukDate("truncate")) + ")",
        href: "#"
      } if 3in1VaccineGiven,
      {
        key: "Site",
        value: vaccination.site3in1,
        href: "#"
      } if 3in1VaccineGiven,
      {
        key: "Given",
        value: "No",
        href: "#"
      } if not 3in1VaccineGiven,
      {
        key: "Reason",
        value: 3in1Vaccination.outcome,
        href: basePath + "/not-given"
      } if not 3in1VaccineGiven
    ])
  }) }}
{% else %}
  <p>Consent not given</p>
{% endif %}
