{% set rootPath = "/vaccination/" %}
{% set index = 0 %}
{% if 3in1Vaccination %}
  {% set rootPath = "/3-in-1-vaccination/" %}
{% elseif menACWYVaccination %}
  {% set rootPath = "/men-acwy-vaccination/" %}
  {% set index = 1 %}
{% endif %}
{% set batchKey = vaccination.batch %}
{% set batch = data.vaccines.batches[batchKey] %}
{% set vaccineGiven = vaccination.outcome == VACCINATION_OUTCOME.VACCINATED %}
{% set basePath = rootPath + campaign.id + "/" + child.nhsNumber %}

{{ vaccine.summary }}

{{ govukSummaryList({
  classes: "app-summary-list--no-bottom-border",
  rows: decorateRows([
    {
      key: "Child",
      value: child.fullName
    },
    {
      key: "Vaccine",
      value: batch.vaccine
    },
    {
      key: "Dose",
      value: "1 of 2",
      href: "#"
    } if type == "HPV",
    {
      key: "Brand",
      value: batch.brand + " (" + batch.method + ")",
      href: "#"
    },
    {
      key: "Batch",
      value: batch.name + " (expires " + (batch.expiryDate | govukDate("truncate")) + ")",
      href: "#"
    },
    {
      key: "Site",
      value: vaccination.site,
      href: basePath + "/has-it-been-given" if batch.method != "Nasal spray"
    } if vaccineGiven,
    {
      key: "Outcome",
      value: vaccination.outcome,
      href: basePath + "/not-given" if not vaccineGiven
    },
    {
      key: "Date",
      value: "Today (" + "today" | govukDate + ")",
      href: "#"
    },
    {
      key: "Time",
      value: "now" | govukTime,
      href: "#"
    } if vaccineGiven,
    {
      key: "Location",
      value: campaign.location,
      href: "#"
    },
    {
      key: "Vaccinator",
      value: "You (" + data.user.name + ")",
      href: "#"
    }
  ])
}) }}
