{% set rootPath = "/vaccination/" %}
{% set index = 0 %}
{% if 3in1Vaccination %}
  {% set rootPath = "/3-in-1-vaccination/" %}
{% elseif menACWYVaccination %}
  {% set rootPath = "/men-acwy-vaccination/" %}
  {% set index = 1 %}
{% endif %}
{% set vaccine = data.vaccines[vaccination.vaccineId] %}
{% set batch = vaccine.batches[vaccination.batchId] %}
{% set vaccineGiven =
  vaccination.outcome == VACCINATION_OUTCOME.VACCINATED or
  vaccination.outcome == VACCINATION_OUTCOME.PART_VACCINATED
%}
{% set hrefBase = rootPath + session.id + "/" + patient.nhsNumber %}

{{ summaryList({
  rows: decorateRows([
    {
      key: "Child",
      value: patient.fullName
    },
    {
      key: "Vaccine",
      value: vaccine.vaccine
    } if vaccineGiven,
    {
      key: "Dose",
      value: vaccine.dose | formatDose(vaccination)
    } if vaccineGiven,
    {
      key: "Brand",
      value: vaccine.brand + " (" + vaccine.method + ")",
      href: "#"
    } if vaccineGiven,
    {
      key: "Batch",
      value: batch.id + " (expires " + (batch.expiryDate | govukDate("truncate")) + ")",
      href: "#"
    } if vaccineGiven,
    {
      key: "Site",
      value: vaccination.otherSite or vaccination.site,
      href: "#"
    }  if vaccineGiven and vaccination.site,
    {
      key: "Outcome",
      value: vaccination.outcome,
      href: hrefBase + "/not-given" if not vaccineGiven
    },
    {
      key: "Date",
      value: "Today (" + "today" | govukDate + ")",
      href: "#"
    },
    {
      key: "Time",
      value: "now" | govukTime,
      href: "#"
    } if vaccineGiven,
    {
      key: "Location",
      value: session.location,
      href: "#"
    },
    {
      key: "Vaccinator",
      value: "You (" + data.user.fullName + ")",
      href: "#"
    }
  ])
}) }}
