{% extends "_layouts/wizard.html" %}

{% set title = "Which batch did you use?" %}

{% block form %}
  {% set defaultText = "Default to this batch for today" %}

  {% set otherBatch %}
    {{ input({
      label: {
        text: "Batch"
      },
      classes: "nhsuk-input--width-10",
      decorate: "other-batch-name"
    }) }}

    {{ dateInput({
      fieldset: {
        legend: {
          text: "Expiry date"
        }
      },
      hint: {
        text: "For example, 31 12 2023"
      },
      decorate: "other-batch-expiry"
    }) }}

    {{ checkboxes({
      items: [
        {
          text: defaultText,
          value: "other-batch"
        }
      ],
      decorate: "todays-batch-other"
    }) }}
  {% endset %}

  {% set items = [] %}
  {% for batchKey in batchItems %}
    {% set batch = data.vaccines.batches[batchKey] %}
    {% set items = (items.push({
      text: batch.name + " (expires " + batch.expiryDate | govukDate + ")",
      value: batchKey,
      conditional: {
        html: checkboxes({
          items: [
            {
              text: defaultText,
              value: batchKey
            }
          ],
          decorate: "todays-batch-" + batchKey
        })
      }
    }), items) %}
  {% endfor %}

  {% set items = (items.push({ divider: "or" }, {
    text: "A batch that’s not in this list",
    conditional: {
      html: otherBatch
    }
  }), items) %}

  {{ radios({
    fieldset: {
      legend: {
        classes: "nhsuk-fieldset__legend--l",
        text: heading({ caption: patient.fullName, title: title })
      }
    },
    items: items,
    decorate: [dataLocation, session.id, patient.nhsNumber, "batch"]
  }) }}
{% endblock %}
