{% extends "layouts/wizard.html" %}

{% set title = "Record stored" if isOffline else "Record saved" %}
{% set hideButton = true %}

{% block outerContent %}{% endblock %}

{% block form %}
  {% set html %}
    <p class="nhsuk-body-l nhsuk-u-margin-bottom-0">You still need to connect to the internet to save this&nbsp;record.</p>
  {% endset %}

  {{ govukPanel({
    titleText: title,
    html: html if isOffline,
    classes: "nhsuk-u-margin-bottom-6"
  }) }}

  <h2 class="nhsuk-u-heading-m">Continue</h2>
  <p>
    <a href="/campaign/{{ campaign.id }}/record">Record another vaccination</a>
  </p>
{% endblock %}
