{% extends "_layouts/wizard.html" %}
{% set title = "Check and confirm" %}
{% set buttonText = "Confirm" %}

{% block form %}
  {{ heading({ title: title }) }}

  {% set detailsHtml %}
    {% if campaign.is3in1MenACWY %}
      {% include "vaccination/_multiple-vaccine-details.html" %}
    {% else %}
      {% include "vaccination/_single-vaccine-details.html" %}
    {% endif %}
  {% endset %}

  {{ card({
    headingHtml: " ",
    descriptionHtml: detailsHtml
  }) }}

  {{ card({
    headingHtml: " ",
    descriptionHtml: textarea({
      label: {
        text: "Add notes",
        classes: "nhsuk-label--m nhsuk-u-margin-bottom-2"
      },
      hint: {
        text: "For example, if the child had a reaction to the vaccine"
      },
      rows: 5,
      decorate: [dataLocation, campaign.id, patient.nhsNumber, "notes"]
    })
  }) }}
{% endblock %}
