{% extends "layouts/wizard.html" %}
{% set title = "Check and confirm details" %}
{% set buttonText = "Confirm" %}

{% block form %}
  <h1 class="nhsuk-heading-l">{{ title }}</h1>

  {% set detailsHtml %}
    {% if isSingleVaccine %}
      {% include 'vaccination/_single-vaccine-details.html' %}
    {% else %}
      {% include 'vaccination/_multiple-vaccine-details.html' %}
    {% endif %}
  {% endset %}

  <div class="nhsuk-card nhsuk-u-margin-bottom-0 nhsuk-u-margin-top-4">
    <div class="nhsuk-card__content">
      {{ detailsHtml | safe }}
    </div>
  </div>
{% endblock %}
