{% extends "layouts/wizard.html" %}
{% set title = "Record a flu vaccination" %}

{% block form %}
  <h1 class="nhsuk-heading-l">{{ title }}</h1>

  <h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-0">Patient</h2>
  <p>
    <a href="#">Change</a>
  </p>

  {{ summaryList({
    rows: decorateRows([
      {
        key: "Name",
        data: "patients.abc.name"
      },
      {
        key: "Date of birth",
        value: d("patients.abc.dob") | govukDate
      },
      {
        key: "Consent",
        data: "patients.abc.consent"
      }
    ])
  }) }}
  <!--  value: "Parent or guardian consent (digital)" -->

  <!-- <h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-0">Vaccinator</h2>
  <p>
    <a href="#">Change</a>
  </p>

  {{ summaryList({
    rows: decorateRows([
      {
        key: "Name",
        value: "Jane Doe"
      }
    ])
  }) }} -->

  <h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-0">Vaccine</h2>
  <p>
    <a href="#">Change</a>
  </p>

  {{ summaryList({
    rows: decorateRows([
      {
        key: "Vaccine",
        value: d("vaccines.fluSpray.type") | capitaliseFirstLetter
      },
      {
        key: "Brand",
        value: d("vaccines.fluSpray.brand") + ' (' + d("vaccines.fluSpray.method") + ')'
      },
      {
        key: "Batch",
        data: "vaccines.fluSpray.batch"
      }
    ])
  }) }}
{% endblock %}
