{% extends "layouts/wizard.html" %}
{% set title = "Was " + child.fullName + " given the " + type + " vaccine?" %}

{% block form %}
  {% set where %}
    {{ radios({
      fieldset: {
        legend: {
          classes: "nhsuk-fieldset__legend--s",
          text: "Where did they get the vaccine?"
        }
      },
      items: [
        { text: "Left arm" },
        { text: "Right arm" },
        { text: "Left thigh" },
        { text: "Right thigh" },
        { text: "Left buttock" },
        { text: "Right buttock" }
      ],
      decorate: [dataLocation, campaign.id, child.nhsNumber, "where"]
    }) }}
  {% endset %}

  {{ radios({
    fieldset: {
      legend: {
        classes: "nhsuk-fieldset__legend--l",
        isPageHeading: true,
        text: title | noOrphans | safe
      }
    },
    items: [{
      text: "Yes, they had the " + type + " vaccine",
      value: "Yes",
      conditional: {
        html: where
      } if campaign.vaccines[0].method == "Injection"
    }, {
      text: "No, they did not get the vaccine",
      value: "No"
    }],
    decorate: [dataLocation, campaign.id, child.nhsNumber, "given"]
  }) }}
{% endblock %}
