{% extends "layouts/wizard.html" %}
{% set index = 1 if isMenACWY else 0 %}
{% set vaccine = campaign.vaccines[index] %}
{% set batch = vaccine.batches[0] %}
{% set brand = vaccine.brand + ' (Nasal spray)' if vaccine.isNasal else vaccine.brand + ' (Injection)' %}
{% set title = "Record " + type + " vaccination" %}

{% block form %}
  <h1 class="nhsuk-heading-l">{{ title }}</h1>

  {% set html %}
    {{ summaryList({
      classes: "app-summary-list--no-bottom-border nhsuk-u-margin-bottom-0",
      rows: decorateRows([
        {
          key: "Vaccine",
          value: type
        },
        {
          key: "Dose",
          value: "1 of 2"
        } if type == "HPV",
        {
          key: "Brand",
          value: brand
        },
        {
          key: "Batch",
          value: batch.name + ' (expires ' + (batch.expiry | govukDate('truncate')) + ')'
        }
      ])
    }) }}
  {% endset %}

  {{ card({
    heading: "",
    headingLevel: "2",
    headingClasses: "nhsuk-heading-m nhsuk-u-margin-bottom-1",
    HTML: html,
    classes: "nhsuk-u-margin-bottom-4"
  }) }}

  {{ radios({
    fieldset: {
      legend: {
        classes: "nhsuk-fieldset__legend--m",
        text: "Are these details correct?"
      }
    },
    items: [{
      text: "Yes",
      value: "Yes"
    }, {
      text: "No, I need to change something",
      value: "No"
    }],
    decorate: [dataLocation, campaignId, patient.nhsNumber, "vaccine-correct"]
  }) }}

{% endblock %}
