{% extends "_layouts/wizard.html" %}

{% set index = 1 if isMenACWY else 0 %}
{% set vaccine = campaign.vaccines[index] %}
{% set batch = vaccine.batches[0] %}
{% set title = "Record " + type + " vaccination" %}

{% block form %}
  {{ appHeading({ title: title }) }}

  {{ card({
    heading: type + " vaccine",
    headingClasses: "nhsuk-heading-m",
    HTML: summaryList({
      rows: decorateRows([
        {
          key: "Dose",
          value: "1 of 2"
        } if type == "HPV",
        {
          key: "Brand",
          value: batch.brand + " (" + batch.method + ")"
        },
        {
          key: "Batch",
          value: batch.name + " (expires " + (batch.expiry | govukDate("truncate")) + ")"
        }
      ])
    })
  }) }}

  {{ radios({
    fieldset: {
      legend: {
        classes: "nhsuk-fieldset__legend--m",
        text: "Are these details correct?"
      }
    },
    items: [{
      text: "Yes",
      value: "Yes"
    }, {
      text: "No, I need to change something",
      value: "No"
    }],
    decorate: [dataLocation, campaignId, child.nhsNumber, "vaccine-correct"]
  }) }}
{% endblock %}
