{% extends "_layouts/wizard.html" %}

{% set title = "Why was the " + type + " vaccine not given?" %}

{% block form %}
  {{ radios({
    fieldset: {
      legend: {
        classes: "nhsuk-fieldset__legend--l",
        text: heading({ caption: patient.fullName, title: title })
      }
    },
    items: [
      {
        text: "They refused it",
        value: VACCINATION_OUTCOME.REFUSED
      },
      {
        text: "They were not well enough",
        value: VACCINATION_OUTCOME.UNWELL
      },
      {
        text: "They had contraindications",
        value: VACCINATION_OUTCOME.CONTRAINDICATIONS
      },
      {
        text: "They have already had the vaccine",
        value: VACCINATION_OUTCOME.ALREADY_VACCINATED
      },
      {
        text: "They were absent from the session",
        value: VACCINATION_OUTCOME.ABSENT
      }
    ],
    decorate: [dataLocation, session.id, patient.nhsNumber, "outcome"]
  }) }}
{% endblock %}
