{% extends "layouts/wizard.html" %}
{% set title = "Why was the vaccine not given?" %}

{% block form %}
  {{ radios({
    fieldset: {
      legend: {
        classes: "nhsuk-fieldset__legend--l",
        isPageHeading: true,
        text: title
      }
    },
    items: [
      {
        text: 'They refused it',
        value: data.patients.abc.name + ' refused it'
      },
      {
        text: 'They were not well enough',
        value: data.patients.abc.name + ' was not well enough'
      },
      {
        text: 'They had contraindications',
        value: data.patients.abc.name + ' had contraindications'
      }
    ],
    decorate: ["vaccination", "why-not-given"]
  }) }}
{% endblock %}
