{% extends "layouts/wizard.html" %}
{% set title = "Why was the " + type + " vaccine not given?" %}

{% block form %}
  {{ radios({
    fieldset: {
      legend: {
        classes: "nhsuk-fieldset__legend--l",
        text: appHeading({ caption: child.fullName, title: title })
      }
    },
    items: [
      {
        text: "They refused it",
        value: child.fullName + " refused it"
      },
      {
        text: "They were not well enough",
        value: child.fullName + " was not well enough"
      },
      {
        text: "They had contraindications",
        value: child.fullName + " had contraindications"
      },
      {
        text: "They have already had the vaccine",
        value: child.fullName + " has already had the vaccine"
      },
      {
        text: "They were absent from school",
        value: child.fullName + " was absent from school"
      },
      {
        text: "They were absent from the session",
        value: child.fullName + " was absent from the session"
      }
    ],
    decorate: [dataLocation, campaign.id, child.nhsNumber, "whyNotGiven"]
  }) }}
{% endblock %}
