{% extends "layouts/wizard.html" %}

{% set title = "Tell us how the vaccination was given" %}

{% block form %}
  {{ appHeading({
    caption: child.fullName,
    title: title
  }) }}

  {{ radios({
    fieldset: {
      legend: {
        classes: "nhsuk-fieldset__legend--m",
        text: "How was the vaccination given?"
      }
    },
    items: [
      {
        text: "Intramuscular (IM)"
      },
      {
        text: "Subcutaneous"
      }
    ],
    decorate: [dataLocation, campaign.id, child.nhsNumber, "how-given"]
  }) }}

  {{ radios({
    fieldset: {
      legend: {
        classes: "nhsuk-fieldset__legend--m",
        text: "Site"
      }
    },
    items: [
      { text: VACCINATION_SITE.ARM_LEFT_UPPER },
      { text: VACCINATION_SITE.ARM_LEFT_LOWER },
      { text: VACCINATION_SITE.ARM_RIGHT_UPPER },
      { text: VACCINATION_SITE.ARM_RIGHT_LOWER },
      { text: VACCINATION_SITE.THIGH_LEFT },
      { text: VACCINATION_SITE.THIGH_RIGHT },
      { text: VACCINATION_SITE.BUTTOCK_LEFT },
      { text: VACCINATION_SITE.BUTTOCK_RIGHT }
    ],
    decorate: [dataLocation, campaign.id, child.nhsNumber, "site"]
  }) }}
{% endblock %}
