{% extends "layouts/wizard.html" %}
{% set title = "Which batch did you use?" %}

{% block form %}
  {% set default %}
    {{ checkboxes({
      items: [
        { text: 'Default to this batch for today' }
      ],
      decorate: "batch-default"
    }) }}
  {% endset %}

  {% set otherBatch %}
    {{ input({
      label: {
        text: 'Batch',
        classes: 'nhsuk-label--s nhsuk-u-margin-bottom-1'
      },
      value: batch.name,
      classes: 'nhsuk-input--width-10',
      decorate: "users.new.fullName"
    }) }}

    {{ dateInput({
      fieldset: {
        legend: {
          text: "Expiry date",
          classes: "nhsuk-fieldset__legend--s nhsuk-u-margin-bottom-1"
        }
      },
      hint: {
        text: "For example, 27 10 2023"
      },
      value: batch.expiry,
      decorate: "expiry"
    }) }}

    {{ default | safe }}
  {% endset %}

  {{ radios({
    fieldset: {
      legend: {
        classes: "nhsuk-fieldset__legend--l",
        text: title
      }
    },
    items: [
      {
        text: 'GT1217 (10 July 2023)',
        conditional: {
          html: default
        }
      },
      {
        text: 'GT2237 (1 August 2023)',
        conditional: {
          html: default
        }
      },
      { divider: 'or' },
      {
        text: 'A batch that’s not in this list',
        conditional: {
          html: otherBatch
        }
      }
    ],
    decorate: "batch"
  }) }}

{% endblock %}
