{% extends "layouts/wizard.html" %}
{% set title = "Which batch did you use?" %}

{% block form %}
  {% set default %}
    {{ checkboxes({
      items: [
        { text: 'Default to this batch for today' }
      ],
      decorate: "batch-default"
    }) }}
  {% endset %}

  {% set otherBatch %}
    {{ input({
      label: {
        text: 'Batch',
        classes: 'nhsuk-label--s nhsuk-u-margin-bottom-1'
      },
      value: batch.name,
      classes: 'nhsuk-input--width-10',
      decorate: "users.new.fullName"
    }) }}

    {{ dateInput({
      fieldset: {
        legend: {
          text: "Expiry date",
          classes: "nhsuk-fieldset__legend--s nhsuk-u-margin-bottom-1"
        }
      },
      hint: {
        text: "For example, 27 10 2023"
      },
      value: batch.expiry,
      decorate: "expiry"
    }) }}

    {{ default | safe }}
  {% endset %}

  {% set items = [] %}
  {% for batchKey in batchItems %}
    {% set batch = data.vaccines.batches[batchKey] %}
    {% set items = (items.push({
      text: batch.name + ' (expires ' + batch.expiryDate | govukDate + ')',
      value: batchKey,
      conditional: {
        html: default
      }
    }), items) %}
  {% endfor %}

  {% set items = (items.push({ divider: 'or' }, {
    text: 'A batch that’s not in this list',
    conditional: {
      html: otherBatch
    }
  }), items) %}

  {{ radios({
    fieldset: {
      legend: {
        classes: "nhsuk-fieldset__legend--l",
        text: title
      }
    },
    items: items,
    decorate: [dataLocation, campaign.id, child.nhsNumber, "batch"]
  }) }}

{% endblock %}
