{% extends "layouts/wizard.html" %}
{% set title = "Which batch did you use?" %}

{% block form %}
  {% set defaulText = 'Default to this batch for today' %}

  {% set otherBatch %}
    {{ input({
      label: {
        text: 'Batch',
        classes: 'nhsuk-label--s nhsuk-u-margin-bottom-1'
      },
      classes: 'nhsuk-input--width-10',
      decorate: "other-batch-name"
    }) }}

    {{ dateInput({
      fieldset: {
        legend: {
          text: "Expiry date",
          classes: "nhsuk-fieldset__legend--s nhsuk-u-margin-bottom-1"
        }
      },
      hint: {
        text: "For example, 31 12 2023"
      },
      decorate: "other-batch-expiry"
    }) }}

    {{ checkboxes({
      items: [
        { text: defaulText, value: "other-batch" }
      ],
      decorate: "todays-batch-other"
    }) }}
  {% endset %}

  {% set items = [] %}
  {% for batchKey in batchItems %}
    {% set batch = data.vaccines.batches[batchKey] %}
    {% set items = (items.push({
      text: batch.name + ' (expires ' + batch.expiryDate | govukDate + ')',
      value: batchKey,
      conditional: {
        html: checkboxes({
                items: [
                  { text: defaulText, value: batchKey }
                ],
                decorate: "todays-batch-" + batchKey
              })
      }
    }), items) %}
  {% endfor %}

  {% set items = (items.push({ divider: 'or' }, {
    text: 'A batch that’s not in this list',
    conditional: {
      html: otherBatch
    }
  }), items) %}

  {{ radios({
    fieldset: {
      legend: {
        classes: "nhsuk-fieldset__legend--l",
        text: title
      }
    },
    items: items,
    decorate: [dataLocation, campaign.id, child.nhsNumber, "batch"]
  }) }}

{% endblock %}
