{%- set color = params.color or "white" -%}
<div class="app-consent-banner app-consent-banner--{{ color }}">
{%- if params.heading -%}
  <h2 class="nhsuk-heading-m">{{ params.heading }}</h2>
{% endif -%}
{%- if params.text -%}
  <p class="nhsuk-body">{{ params.text }}</p>
{% endif -%}
{{- caller() if caller }}
{%- if params.link -%}
  <p class="nhsuk-body">
    <a class="nhsuk-link" href="{{ params.link.href }}">{{ params.link.text }}</a>
  </p>
{% endif -%}
</div>
