{{ card({
  heading: "Consent",
  headingClasses: "nhsuk-heading-m",
  descriptionHtml: summaryList({
    rows: decorateRows([
      {
        key: "Response",
        value: {
          html: response.status
        }
      },
      {
        key: "Refusal reason",
        value: {
          html: response.refusalReason | default("Personal choice") + (" – " + response.refusalReasonOther if response.refusalReason == "Other")
        }
      } if response.status == RESPONSE_CONSENT.REFUSED
    ])
  })
}) }}
