{% extends "_layouts/default.html" %}

{% set caption = "Consent response from " + response.parentOrGuardian.fullName %}
{% set title = "Are you sure you want to delete this consent response?" %}

{% block outerContent %}
  {{ backLink({
    href: "/sessions/" + session.id + "/unmatched-responses",
    classes: "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      {{ heading({
        caption: caption,
        title: title
      }) }}

      <p>You should only delete a consent response if you can’t find a matching child record for {{ response.child.fullName }}.</p>

      <form class="govuk-button-group" action="/sessions/{{ session.id }}/unmatched-responses?deletedResponse=1" method="post">
        {{ button({
          classes: "nhsuk-u-margin-right-3",
          text: "Yes, delete this consent response"
        }) }}
        <p><a class="nhsuk-link" href="/sessions/{{ session.id }}/unmatched-responses">No, return to unmatched consent responses</a></p>
      </form>
    </div>
  </div>
{% endblock %}
