{% extends "_layouts/default.html" %}

{% set patient = data.patient | patientFromNHSNumber(session) %}
{% set title = "Consent response from " + response.parentOrGuardian.fullName %}

{% block outerContent %}
  {{ backLink({
    href: "/sessions/" + session.id + "/unmatched-responses/",
    classes: "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  {{ heading({ title: title }) }}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      {% set html %}
        {% include "response/_patient-summary.html" %}
      {% endset %}
      {{ card({
        heading: "Child",
        headingClasses: "nhsuk-heading-m",
        descriptionHtml: html
      }) }}

      {% set html %}
        {% include "response/_parent-summary.html" %}
      {% endset %}
      {{ card({
        heading: "Parent or guardian",
        headingClasses: "nhsuk-heading-m",
        descriptionHtml: html
      }) }}
    </div>
  </div>
{% endblock %}
