{% extends "_layouts/default.html" %}

{% set title = "Link consent response with child record?" %}

{% block outerContent %}
  {{ backLink({
    href: "/sessions/" + session.id + "/responses/" + response.id + "/match",
    classes: "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  {{ heading({
    caption: "Consent response from " + response.parentOrGuardian.fullName,
    title: title
  }) }}

  <form class="nhsuk-grid-row" method="post">
    <div class="nhsuk-grid-column-three-quarters">
      {% set patient = data.patient | patientFromNHSNumber(session) %}
      {{ table({
        panel: true,
        caption: "Compare details",
        captionClasses: "nhsuk-u-padding-top-4",
        firstCellIsHeader: true,
        head: [
          { html: "<span class=\"nhsuk-u-visually-hidden\">Field</span>" },
          { text: "Consent response" },
          { text: "Child record" }
        ],
        rows: [
          [
            { text: "Child’s name" },
            { html: response.child.fullName | highlightDifference(patient.fullName) },
            { text: patient.fullName }
          ],
          [
            { text: "Date of birth" },
            { html: response.child.dob | govukDate | highlightDifference(patient.dob | govukDate) },
            { text: patient.dob | govukDate }
          ],
          [
            { text: "Address" },
            { html: response.child.address | nl2br | highlightDifference(patient.address | nl2br) },
            { html: patient.address | nl2br }
          ],
          [
            { text: "GP" },
            { html: response.child.gpSurgery | highlightDifference(patient.gpSurgery) },
            { text: patient.gpSurgery }
          ],
          [
            { text: "NHS number" },
            { html: response.child.nhsNumber | formatNHSNumber | highlightDifference(patient.nhsNumber | formatNHSNumber) },
            { text: patient.nhsNumber | formatNHSNumber }
          ]
        ]
      }) | replace("with-heading-tab", "with-heading-tab nhsuk-u-margin-top-0") }}

      {% set html %}
        {% include "patient/_response-summary.html" %}
      {% endset %}
      {{ card({
        heading: "Consent response",
        headingClasses: "nhsuk-heading-m",
        descriptionHtml: html
      }) }}

      {{ button({
        text: "Link response with record"
      }) }}
    </div>
  </form>
{% endblock %}
