<p>Taking part in the pilot is voluntary. You can withdraw at any time by emailing <a href="mailto:england.manage-childrens-vaccinations@nhs.net">england.manage-childrens-vaccinations@nhs.net</a>.</p>

<p>Any findings we make will be anonymised. This means you won’t be personally identified when we share the results of our research.</p>

<h3>What happens to data in our service</h3>

<p>We’ll save the responses you give in our digital service, as well as data recorded during vaccination sessions.</p>

<p>This data will only be shared within the project team. We’ll store it securely with password protection.</p>

<h3>How long we’ll keep your data</h3>

<p>We’ll keep data in our digital service for 2 months after the project finishes.</p>

<h3>Your child’s vaccination session</h3>

<p>By taking part in the pilot, you agree to the NHS pilot team observing your child’s vaccination session. They won’t be able to see any personal data about your child.</p>

<h3>What you’ll get for taking part in the pilot</h3>

<p>We’ll send you a £20 high street shopping voucher once you’ve:</p>

<ul>
  <li>submitted a response through our digital service</li>
  <li>completed a survey about your experience</li>
</ul>

<p>You need to do both these things to qualify for a voucher.</p>

<p>Vouchers are limited to one per household. If you have more than one child eligible for the HPV vaccination, you should only submit a consent response for one of your children.</p>

<h3>Follow-up research</h3>

<p>Once you’ve completed the survey, you might be asked to take part in some follow-up research. There are separate incentives for this, and there’s no obligation to take part.</p>
