<h3 class="nhsuk-heading-m">What you’ll get for taking part in the pilot</h3>

<p class="nhsuk-body">We’ll send you a £20 high street shopping voucher once you’ve:</p>

<ul class="nhsuk-list nhsuk-list--bullet">
  <li>submitted a response through our digital service</li>
  <li>completed a survey about your experience</li>
</ul>

<p class="nhsuk-body">You need to do both these things to qualify for a voucher.</p>

<p class="nhsuk-body">Vouchers are limited to one per household. If you have more than one child eligible for the HPV vaccination, you should only submit a consent response for one of your children.</p>

<h3 class="nhsuk-heading-m">Follow-up research</h3>

<p class="nhsuk-body">Once you’ve completed the survey, you might be asked to take part in some follow-up research. There are separate incentives for this, and there’s no obligation to take part.</p>

<h3 class="nhsuk-heading-m">Your personal information </h3>

<p class="nhsuk-body">Your contact details will be shared with NHS England so they can contact you and send you a high street shopping voucher. You can find out more about how NHS England will protect your personal information in their <a href="#">privacy notice</a>.</p>

<h3 class="nhsuk-heading-m">If you’re not chosen to take part in the pilot</h3>

<p class="nhsuk-body">NHS England will delete your contact details within two months of the last pilot vaccination session taking place.</p>
