{% extends "_layouts/pilot.html" %}

{% set title = "The deadline for registering your interest in the NHS school vaccinations pilot has passed" %}

{% block content %}
  {{ heading({ title: title, size: "xl" }) }}

  <p>If you have not already responded to messages from your child’s school about the HPV vaccination, please do so. The routine vaccination campaign is running in parallel with the pilot.</p>

  <p>If you’re interested in taking part in future research with the NHS, please email {{ "anthony.green11@nhs.net" | urlize | safe }}.</p>
{% endblock %}
