{% extends "_layouts/pilot.html" %}

{% set title = "Register your interest in the NHS school vaccinations pilot" %}

{% set termsHtml %}
  {% include "pilot/screener/_terms.html" %}
{% endset %}

{% block content %}
<form action="/pilot/screener/{{ school.urn }}/confirmation">
  {{ heading({ caption: "The Holy Cross School", title: title, size: "xl" }) }}

  <p>This pilot is for parents of children who are due to get their HPV vaccination this year.</p>

  <p>Taking part involves responding to a request for consent through a digital service, and then completing a follow-up survey. It should take 15 to 30 minutes of your time.</p>

  <p>To register your interest, complete the fields below.</p>

  <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">

  {% call fieldset({
    legend: {
      classes: "nhsuk-fieldset__legend--l",
      text: "About you"
    }
  }) %}
    {{ input({
      classes: "nhsuk-input--width-20",
      label: {
        classes: "nhsuk-label--s",
        text: "Your name"
      },
      decorate: "parent.name"
    }) }}

    {% set other %}
      {{ input({
        label: {
          text: "Relationship to the child"
        },
        hint: {
          text: "For example, carer"
        },
        decorate: "parent.relationship-other"
      }) }}
    {% endset %}

    {{ radios({
      fieldset: {
        legend: {
          classes: "nhsuk-fieldset__legend--s",
          text: "Your relationship to the child"
        }
      },
      items: [
        { text: "Mum" },
        { text: "Dad" },
        { text: "Guardian" },
        { text: "Other", conditional: { html: other } }
      ],
      decorate: "parent.relationship"
    }) }}

    {{ input({
      label: {
        classes: "nhsuk-label--s",
        text: "Email address"
      },
      autocomplete: "email",
      decorate: "parent.email"
    }) }}

    {{ input({
      classes: "nhsuk-input--width-10",
      label: {
        classes: "nhsuk-label--s",
        text: "Phone number (optional)"
      },
      autocomplete: "tel",
      decorate: "parent.tel"
    }) }}
  {% endcall %}

  <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">

  {% call fieldset({
    legend: {
      classes: "nhsuk-fieldset__legend--l",
      text: "About your child"
    }
  }) %}

    {{ input({
      classes: "nhsuk-input--width-20",
      label: {
        classes: "nhsuk-label--s",
        text: "First name"
      },
      decorate: "child.first-name"
    }) }}

    {{ input({
      classes: "nhsuk-input--width-20",
      label: {
        classes: "nhsuk-label--s",
        text: "Last name"
      },
      decorate: "child.last-name"
    }) }}

    {% set otherNameHtml %}
      {{ input({
        classes: "nhsuk-input--width-20",
        label: {
          text: "Preferred name"
        },
        decorate: "child.preferred-name"
      }) }}
    {% endset %}

    {{ radios({
      fieldset: {
        legend: {
          classes: "nhsuk-fieldset__legend--s",
          text: "Do they use a different name in school?"
        }
      },
      items: [
        { text: "Yes", conditional: { html: otherNameHtml } },
        { text: "No" }
      ],
      decorate: "child.preferred-name-choice"
    }) }}

    {{ dateInput({
      fieldset: {
        legend: {
          classes: "nhsuk-fieldset__legend--s",
          text: "Date of birth"
        }
      },
      hint: {
        text: "For example, 27 3 2017"
      },
      decorate: "child.dob"
    }) }}

    {% call fieldset({
      legend: {
        classes: "nhsuk-fieldset__legend--s",
        text: "Address"
      }
    }) %}
      <p class="nhsuk-hint">If your child lives at more than one address, enter the address registered with the&nbsp;GP.</p>

      {{ input({
        label: {
          text: "Address line 1"
        },
        autocomplete: "address-line1",
        decorate: "child.address.line1"
      }) }}

      {{ input({
        label: {
          text: "Address line 2 (optional)"
        },
        autocomplete: "address-line2",
        decorate: "child.address.line2"
      }) }}

      {{ input({
        classes: "nhsuk-!-width-two-thirds",
        label: {
          text: "Town or city"
        },
        autocomplete: "address-level2",
        decorate: "child.address.level2"
      }) }}

      {{ input({
        label: {
          text: "Postcode"
        },
        classes: "nhsuk-input--width-10",
        autocomplete: "postal-code",
        decorate: "child.address.postal-code"
      }) }}
    {% endcall %}

    {{ input({
      classes: "nhsuk-input--width-10",
      label: {
        classes: "nhsuk-label--s",
        text: "NHS number (optional)"
      },
      decorate: "child.nhs-number"
    }) }}
  {% endcall %}

  <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">

  <h2>Terms and conditions</h2>

  {{ insetText({
    text: "View terms and conditions",
    HTML: termsHtml
  }) }}

  {{ checkboxes({
    items: [
      {
        text: "I agree to the terms and conditions"
      },
      {
        text: "I agree to my data and my child’s data being processed during the pilot"
      },
      {
        text: "I confirm I’ve responded to the school’s regular request for consent for my child's HPV vaccination",
        hint: {
          text: "You can only take part in the pilot if you’ve done this"
        }
      }
    ],
    decorate: "terms"
  }) }}

  <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">

  {{ button({
    classes: "nhsuk-button--secondary",
    text: "Register your interest"
  }) }}
</form>
{% endblock %}
