{% extends "_layouts/wizard.html" %}

{% set title = "Check and confirm answers" %}
{% set buttonText = "Confirm" %}
{% set hasConsented = response.status == CONSENT_OUTCOME.GIVEN %}
{% set hasRefused = response.status == CONSENT_OUTCOME.REFUSED %}
{% set isGillickCompetent = response.gillickCompetent === "Yes" %}

{% block form %}
  {{ heading({ caption: patient.fullName, title: title }) }}

  {% if isGillickCompetent %}
    {% set consentRecord = d("response.") %}
    {% include "campaign/patient/_gillick-competence.html" %}
  {% else %}
    {% set descriptionHtml %}
      {% set showActions = true %}
      {% include "campaign/patient/_response-summary.html" %}
    {% endset %}

    {{ card({
      heading: responseHeading(response),
      headingClasses: "nhsuk-heading-m",
      descriptionHtml: descriptionHtml
    }) }}
  {% endif %}

  {% if hasConsented %}
    {% set descriptionHtml %}
      <p><a href="#">Change</a></p>

      {{ summaryList({
        classes: "app-summary-list--full-width",
        rows: healthAnswerRows(campaign, [response])
      }) }}
    {% endset %}

    {{ card({
      heading: "Health questions",
      headingClasses: "nhsuk-heading-m",
      descriptionHtml: descriptionHtml
    }) }}

    {{ card({
      heading: "Triage",
      headingClasses: "nhsuk-heading-m",
      descriptionHtml: summaryList({
        rows: decorateRows([
          {
            key: "Status",
            value: triage.outcome or "Not provided",
            href: "#"
          },
          {
            key: "Triage notes",
            value: triage.note or "Not provided",
            href: "#"
          }
        ])
      })
    }) }}
  {% endif %}
{% endblock %}
