{% extends "layouts/wizard.html" %}
{% set title = "Check and confirm answers" %}
{% set buttonText = "Confirm" %}
{% set consented = d(base + "consent") == CONSENT.GIVEN %}
{% set refused = d(base + "consent") == CONSENT.REFUSED %}
{% set isGillickCompetent = d(base + "gillick-competent") === "Yes" %}

{% block form %}
  <h1 class="nhsuk-heading-l">{{ title }}</h1>

  {% set parentContactDetailsHtml %}
    <div class="nhsuk-u-margin-top-2 nhsuk-u-font-size-16">
      {{ d(base + "parent.name") }}<br>
      Telephone: {{ d(base + "parent.telephone") }}
    </div>
  {% endset %}

  {% if isGillickCompetent %}
    {% set consentRecord = d("consent." + campaign.id + "." + child.nhsNumber) %}
    {% include "campaign/child/_consent-gillick.html" %}
  {% else %}
    {{ card({
      heading: "Consent",
      headingLevel: "2",
      headingClasses: "nhsuk-heading-m",
      descriptionHtml: govukSummaryList({
        classes: "app-summary-list--no-bottom-border",
        rows: decorateRows([
          {
            key: "Consent",
            value: d(base + "consent"),
            href: "#"
          } if consented or refused,
          {
            key: "Consent",
            value: "No response",
            href: "#"
          } if not (consented or refused),
          {
            key: "For",
            value: child.fullName
          },
          {
            key: "By",
            value: {
              html: d(base + "parent.relationship") + parentContactDetailsHtml
            },
            href: "#"
          },
          {
            key: "Reason",
            value: {
              html: d(base + "no-consent-reason") + (" – " + d(base + "no-consent-reason-details") if d(base + "no-consent-reason") == "Other")
            },
            href: "#"
          } if refused
        ])
      })
    }) }}
  {% endif %}

  {% if consented %}
    <div class="nhsuk-u-margin-top-4">
      {% set consentJourney = true %}
      {% include "campaign/child/_health-questions.html" %}
    </div>

    <div class="nhsuk-card nhsuk-u-margin-bottom-0 nhsuk-u-margin-top-4">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-heading-m">Triage</h2>
        {% set triageNotes = d("triage." + campaign.id + "." + child.nhsNumber + ".notes") or "No notes" %}
        {% set triageStatus = d("triage." + campaign.id + "." + child.nhsNumber + ".status") or "Vaccinate" %}

        {% if triageStatus === TRIAGE.NEEDS_FOLLOW_UP %}
          {% set triageStatus = "Keep in triage" %}
        {% endif %}

        {{ govukSummaryList({
          classes: "app-summary-list--no-bottom-border",
          rows: decorateRows([
            {
              key: "Triage notes",
              value: triageNotes,
              href: "#"
            },
            {
              key: "Status",
              value: triageStatus,
              href: "#"
            }
          ])
        }) }}
      </div>
    </div>
  {% else %}
    <div class="nhsuk-card nhsuk-u-margin-bottom-0 nhsuk-u-margin-top-3">
      <div class="nhsuk-card__content">
        {{ textarea({
          label: {
            text: "Add notes",
            classes: "nhsuk-label--m nhsuk-u-margin-bottom-3"
          },
          hint: {
            text: "For example, unable to contact parent"
          },
          rows: 5,
          value: "",
          decorate: base + "note"
        }) }}

        {{ input({
          type: "hidden",
          value: data.user.name,
          decorate: base + "user"
        }) }}
      </div>
    </div>
  {% endif %}
{% endblock %}
