{% extends "_layouts/wizard.html" %}

{% set isGillickCompetent = response.gillickCompetent === "Yes" %}
{% set sessionName = session.type | lower if session.type == "Flu" else session.type %}
{% if isGillickCompetent %}
  {% set title = "Do they agree to having the " + sessionName + " vaccination?" %}
{% else %}
  {% set title = "Do they agree to them having the " + sessionName + " vaccination?" %}
{% endif %}

{% block form %}
  {{ radios({
    fieldset: {
      legend: {
        text: heading({ caption: patient.fullName, title: title }),
        classes: "nhsuk-fieldset__legend--l"
      }
    },
    items: [
      {
        text: "Yes, they agree",
        value: RESPONSE_CONSENT.GIVEN
      },
      {
        text: "No, they do not agree",
        value: RESPONSE_CONSENT.FINAL_REFUSAL
      },
      {
        text: "No response",
        value: RESPONSE_CONSENT.NO_RESPONSE
      } if not isGillickCompetent
    ],
    decorate: ["response", "status"]
  }) }}
{% endblock %}
