{% extends "layouts/wizard.html" %}

{% set isGillickCompetent = d(base + "gillick-competent") === "Yes" %}
{% set campaignName = campaign.type | lower if campaign.type == "Flu" else campaign.type %}
{% if isGillickCompetent %}
  {% set title = "Do they agree to having the " + campaignName + " vaccination?" %}
{% else %}
  {% set title = "Do they agree to them having the " + campaignName + " vaccination?" %}
{% endif %}

{% block form %}
  {{ radios({
    fieldset: {
      legend: {
        text: appHeading({ caption: child.fullName, title: title }),
        classes: "nhsuk-fieldset__legend--l"
      }
    },
    items: [
      {
        text: "Yes, they agree",
        value: CONSENT_OUTCOME.VALID
      },
      {
        text: "No, they do not agree",
        value: CONSENT_OUTCOME.REFUSED
      },
      {
        text: "No response",
        value: CONSENT_OUTCOME.NO_RESPONSE
      } if not isGillickCompetent
    ],
    decorate: base + "consent"
  }) }}
{% endblock %}
