{% extends "layouts/wizard.html" %}
{% set isGillickCompetent = d(base + "gillick-competent") === "Yes" %}
{% if isGillickCompetent %}
  {% set title = "Do they agree to having the HPV vaccination?" %}
{% else %}
  {% set title = "Do they agree to them having the HPV vaccination?" %}
{% endif %}

{% block form %}
  {{ radios({
    fieldset: {
      legend: {
        text: appHeading({ caption: child.fullName, title: title }),
        classes: "nhsuk-fieldset__legend--l"
      }
    },
    items: [
      {
        text: "Yes, they agree",
        value: CONSENT.GIVEN
      },
      {
        text: "No, they do not agree",
        value: CONSENT.REFUSED
      },
      {
        text: "No response",
        value: CONSENT.UNKNOWN
      } if not isGillickCompetent
    ],
    decorate: base + "consent"
  }) }}

{% endblock %}
