{% extends "_layouts/wizard.html" %}

{% set title = "Are they Gillick competent?" %}

{% block form %}
  {{ radios({
    fieldset: {
      legend: {
        text: heading({ caption: patient.fullName, title: title }),
        classes: "nhsuk-fieldset__legend--l"
      }
    },
    items: [
      {
        text: "Yes, they are Gillick competent",
        value: "Yes"
      },
      {
        text: "No"
      }
    ],
    decorate: base + "gillick-competent"
  }) }}

  {{ textarea({
    label: {
      text: "Give details of your assessment"
    },
    rows: 10,
    decorate: base + "gillick-assessment"
  }) }}
{% endblock %}
