{% extends "layouts/wizard.html" %}
{% set title = "Health questions" %}

{% block form %}
  <h1 class="nhsuk-heading-l">{{ title }}</h1>

  {% for q in child.healthQuestions.questions %}
    {% set giveDetailsHtml %}
      {{ textarea({
        label: {
          text: "Give details"
        },
        decorate: base + "health.details." + q.id
      }) }}
    {% endset %}

    {{ radios({
      fieldset: {
        legend: {
          text: q.question
        }
      },
      classes: "nhsuk-radios--inline",
      items: [
        {
          text: 'Yes',
          conditional: {
            html: giveDetailsHtml
          }
        },
        {
          text: 'No'
        }
      ],
      decorate: base + "health." + q.id
    }) }}
  {% endfor %}

  <h2 class="nhsuk-heading-m nhsuk-u-margin-top-8">Triage</h2>
  {% set showKeepInTriage = isTriage %}
  {% include "campaign/child/_triage-fields.html" %}
{% endblock %}
