{% extends "_layouts/wizard.html" %}

{% set title = "Health questions" %}

{% block form %}
  {{ heading({ caption: child.fullName, title: title }) }}

  {% for id, question in campaign.healthQuestions %}
    {% set giveDetailsHtml %}
      {{ textarea({
        label: {
          text: "Give details"
        },
        decorate: base + "health.details." + id
      }) }}
    {% endset %}

    {{ radios({
      fieldset: {
        legend: {
          text: question
        }
      },
      classes: "nhsuk-radios--inline",
      items: [
        {
          text: "Yes",
          conditional: {
            html: giveDetailsHtml
          }
        },
        {
          text: "No"
        }
      ],
      decorate: base + "health." + id
    }) }}
  {% endfor %}

  {{ radios({
    formGroup: {
      classes: "nhsuk-u-margin-top-6"
    },
    fieldset: {
      legend: {
        classes: "nhsuk-fieldset__legend--m",
        text: "Triage status"
      }
    },
    items: [
      {
        text: TRIAGE_OUTCOME.VACCINATE
      },
      {
        text: TRIAGE_OUTCOME.DELAY_VACCINATION
      },
      {
        text: TRIAGE_OUTCOME.DO_NOT_VACCINATE
      },
      {
        text: "Keep in triage",
        value: TRIAGE_OUTCOME.NEEDS_TRIAGE
      }
    ],
    decorate: ["triage", campaign.id, child.nhsNumber, "outcome"]
  }) }}

  {{ textarea({
    formGroup: {
      classes: "nhsuk-u-margin-top-6"
    },
    label: {
      classes: "nhsuk-label--m nhsuk-u-margin-bottom-3",
      text: "Triage notes (optional)"
    },
    rows: 5,
    value: "",
    decorate: ["triage", campaign.id, child.nhsNumber, "note"]
  }) }}
{% endblock %}
