{% extends "_layouts/wizard.html" %}

{% set title = "Health questions" %}

{% block form %}
  {{ heading({ caption: patient.fullName, title: title }) }}

  {% for id, question in session.healthQuestions %}
    {% set giveDetailsHtml %}
      {{ textarea({
        label: {
          text: "Give details"
        },
        decorate: ["response", "healthAnswerDetails", id]
      }) }}
    {% endset %}

    {{ radios({
      fieldset: {
        legend: {
          text: question
        }
      },
      classes: "nhsuk-radios--inline",
      items: [
        {
          text: "Yes",
          conditional: {
            html: giveDetailsHtml
          }
        },
        {
          text: "No"
        }
      ],
      decorate: ["response", "healthAnswers", id]
    }) }}
  {% endfor %}

  <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">

  {{ radios({
    fieldset: {
      legend: {
        classes: "nhsuk-fieldset__legend--m",
        text: "Is it safe to vaccinate Leonard Schowalter?"
      }
    },
    items: [
      {
        text: "Yes, it’s safe to vaccinate",
        value: TRIAGE_OUTCOME.VACCINATE
      },
      {
        text: "No, do not vaccinate",
        value: TRIAGE_OUTCOME.DO_NOT_VACCINATE
      },
      {
        text: "No, delay vaccination to a later date",
        value: TRIAGE_OUTCOME.DELAY_VACCINATION
      },
      {
        text: "No, keep in triage",
        value: TRIAGE_OUTCOME.NEEDS_TRIAGE
      }
    ],
    decorate: ["triage", "outcome"]
  }) }}

  {{ textarea({
    formGroup: {
      classes: "nhsuk-u-margin-top-6"
    },
    label: {
      classes: "nhsuk-u-margin-bottom-3 nhsuk-u-margin-top-6",
      text: "Triage notes (optional)"
    },
    rows: 5,
    value: "",
    decorate: ["triage", "note"]
  }) }}
{% endblock %}
