{% extends "_layouts/wizard.html" %}

{% set title = "Who are you trying to get consent from?" %}

{% block form %}
  {{ heading({ caption: patient.fullName, title: title }) }}

  {{ input({
    label: {
      text: "Full name"
    },
    decorate: base + "parent.name"
  }) }}

  {{ input({
    label: {
      text: "Phone number"
    },
    decorate: base + "parent.tel"
  }) }}

  {% set other %}
    <p>They need parental responsibility to give consent.</p>
    {{ input({
      label: {
        text: "Relationship to the child"
      },
      hint: {
        text: "For example, carer"
      },
      decorate: base + "parent.relationshipOther"
    }) }}
  {% endset %}

  {{ radios({
    fieldset: {
      legend: {
        text: "Relationship to the child"
      }
    },
    items: [
      { text: "Mum" },
      { text: "Dad" },
      { text: "Guardian" },
      {
        text: "Other",
        conditional: {
          html: other
        }
      }
    ],
    decorate: base + "parent.relationship"
  }) }}
{% endblock %}
