{% extends "_layouts/wizard.html" %}

{% set title = "Who are you trying to get consent from?" %}

{% block form %}
  {{ radios({
    fieldset: {
      legend: {
        text: heading({ caption: patient.fullName, title: title }),
        classes: "nhsuk-fieldset__legend--l"
      }
    },
    items: [
      {
        text: exampleParents.a.fullName,
        label: {
          classes: "nhsuk-label--s"
        },
        hint: {
          html: patient.address | replace("\n", ", ") + "<br>" + exampleParents.a.tel
        },
        value: "a"
      },
      {
        text: exampleParents.b.fullName,
        label: {
          classes: "nhsuk-label--s"
        },
        hint: {
          html: patient.address | replace("\n", ", ") + "<br>" + exampleParents.b.tel
        },
        value: "b"
      }
    ],
    decorate: ["exampleParent"]
  }) }}
{% endblock %}
