{% extends "layouts/wizard.html" %}
{% set title = "Why do they not agree?" %}

{% block form %}
  {% set other %}
    {{ input({
      label: {
        classes: "nhsuk-label--s nhsuk-u-margin-bottom-1",
        text: "Give details"
      },
      decorate: base + "no-consent-reason-other"
    }) }}
  {% endset %}

  {{ radios({
    fieldset: {
      legend: {
        classes: "nhsuk-fieldset__legend--l",
        text: appHeading({ caption: child.fullName, title: title })
      }
    },
    items: [
      { text: REFUSAL_REASON.GELATINE } if campaign.isFlu,
      { text: REFUSAL_REASON.ALREADY_GIVEN },
      { text: REFUSAL_REASON.GETTING_ELSEWHERE },
      { text: REFUSAL_REASON.MEDICAL },
      { text: REFUSAL_REASON.PERSONAL },
      {
        divider: 'or'
      },
      {
        text: REFUSAL_REASON.OTHER,
        conditional: {
          html: other
        }
      }
    ],
    decorate: base + "no-consent-reason"
  }) }}
{% endblock %}
