{% extends "_layouts/wizard.html" %}
{% set title = "Why do they not agree?" %}

{% block form %}
  {{ radios({
    fieldset: {
      legend: {
        classes: "nhsuk-fieldset__legend--l",
        text: appHeading({ caption: child.fullName, title: title })
      }
    },
    items: [
      { text: RESPONSE_REFUSAL.GELATINE } if campaign.isFlu,
      { text: RESPONSE_REFUSAL.ALREADY_GIVEN },
      { text: RESPONSE_REFUSAL.GETTING_ELSEWHERE },
      { text: RESPONSE_REFUSAL.MEDICAL },
      { text: RESPONSE_REFUSAL.PERSONAL },
      {
        divider: "or"
      },
      {
        text: RESPONSE_REFUSAL.OTHER,
        conditional: {
          html: input({
            label: {
              text: "Give details"
            },
            decorate: base + "refusalReasonOther"
          })
        }
      }
    ],
    decorate: base + "refusalReason"
  }) }}
{% endblock %}
