{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}

{% extends "_layouts/default.html" %}

{% set title = "Upload the cohort list" %}

{% block beforeContent %}
  {{ breadcrumbs({
    items: [
      {
        text: "Home",
        href: "/dashboard"
      },
      {
        text: "Manage pilot",
        href: "/pilot"
      },
      {
        text: title
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form method="post" action="/pilot/cohort-upload-success">
        {{ errorSummary({
          titleText: "There is a problem",
          errorList: [
            {
              text: "Uploaded CSV is missing the CHILD_POSTCODE column",
              href: "#cohort"
            }
          ]
        }) if data.error == 1 }}

        {{ govukFileUpload({
          label: {
            text: heading({ title: title })
          },
          hint: {
            text: "Make sure the CSV you upload has the same format as your standard cohort template"
          },
          errorMessage: {
            text: "Uploaded CSV is missing the CHILD_POSTCODE column"
          } if data.error,
          decorate: "cohort"
        }) }}

        {{ button({
          text: title
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
