{% extends "_layouts/default.html" %}

{% set title = "The cohort list could not be added" %}

{% block outerContent %}
  {{ backLink({
    href: "/pilot/cohort",
    classes: "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  {{ heading({ title: title }) }}

  <p>It wasn’t possible to add a cohort list due to the following errors in the uploaded CSV file:</p>

  <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-2">Row 3</h2>
  <ul class="nhsuk-list nhsuk-list--bullet nhsuk-u-font-size-16">
    <li><code>Child First name</code> is required but missing</li>
    <li><code>Child NHS Number</code> ‘QQ 12 34 56 A’ should be a valid NHS number, like 485 777 3456</li>
    <li><code>Child Postcode</code> ‘24 High Street’ should be a postcode, like SW1A 1AA</li>
    <li><code>Parent Phone Number</code> ‘BS1 2DF’ should be a phone number, like 01632 960 001, 07700 900 982 or +44 808 157 0192</li>
  </ul>

  <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-2">Row 8</h2>
  <ul class="nhsuk-list nhsuk-list--bullet nhsuk-u-font-size-16">
    <li><code>Child Date of birth</code> ‘Simon’ should be formatted as YYYY-MM-DD</li>
  </ul>

  <hr class="nhsuk-section-break nhsuk-section-break--visible nhsuk-section-break--l">

  <div class="govuk-button-group">
    <p><a class="nhsuk-link" href="/pilot/cohort">Upload a new cohort list</a></p>
  </div>
{% endblock %}
