{% extends "_layouts/default.html" %}

{% set title = "Parents interested in the pilot" %}

{% block beforeContent %}
  {{ breadcrumbs({
    items: [
      {
        text: "Home",
        href: "/dashboard"
      },
      {
        text: "Manage pilot",
        href: "/pilot"
      },
      {
        text: title
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  {{ heading({ title: title }) }}

  {{ button({
    href: "/public/downloads/expressions-of-interest.csv",
    text: "Download data for registered parents (CSV)",
    attributes: {
      download: "expressions-of-interest.csv"
    }
  }) }}

  {% for urn, participants in data.pilot.participants | groupby("urn") %}
    {% set rows = [] %}
    {% for participant in participants %}
      {% set rows = (rows.push([
        {
          header: "Name",
          text: participant.parent.fullName
        },
        {
          header: "Email",
          text: participant.parent.email
        },
        {
          header: "Phone number",
          text: participant.parent.tel or "Not provided"
        }
      ]), rows) %}
    {% endfor %}

    {% set descriptionHtml %}
      {% if data.screener != "closed" %}
        <p>
          <a href="/pilot/close-screener">
            Close pilot to new participants at this school
            <span class="nhsuk-u-visually-hidden">({{ data.schools[urn].name }})</span>
          </a>
        </p>
      {% endif %}
      {{ table({
        responsive: true,
        caption: (participants | length) + " responses",
        captionClasses: "nhsuk-u-font-size-19",
        firstCellIsHeader: false,
        head: [
          { text: "Name" },
          { text: "Email address" },
          { text: "Phone number" }
        ],
        rows: rows
      }) }}
    {% endset %}

    {{ card({
      heading: data.schools[urn].name,
      headingClasses: "nhsuk-heading-m",
      descriptionHtml: descriptionHtml
    }) }}
  {% endfor %}
{% endblock %}
