{% extends "_layouts/default.html" %}

{% set title = "Parents interested in the pilot" %}

{% block beforeContent %}
  {{ breadcrumbs({
    items: [
      {
        text: "Home",
        href: "/dashboard"
      },
      {
        text: "Manage pilot",
        href: "/pilot"
      },
      {
        text: title
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  {{ heading({ title: title }) }}

  {{ button({
    href: "/public/downloads/expressions-of-interest.csv",
    text: "Download data for registered parents (CSV)",
    attributes: {
      download: "expressions-of-interest.csv"
    }
  })}}

  {% set rows = [] %}
  {% for id, participant in data.pilot.participants %}
    {% set rows = (rows.push([
      {
        header: "Name",
        text: participant.parent.fullName
      },
      {
        header: "Email",
        text: participant.parent.email
      },
      {
        header: "Phone number",
        text: participant.parent.tel or "Not provided"
      }
    ]), rows) %}
  {% endfor %}

  {{ table({
    responsive: true,
    caption: (data.pilot.participants | length) + " responses",
    firstCellIsHeader: false,
    head: [
      { text: "Name" },
      { text: "Email address" },
      { text: "Phone number" }
    ],
    rows: rows
  }) }}
{% endblock %}
