{% set getConsent %}
  {% if child.consent.log.length > 0 %}
    {% include "campaign/child/_consent-log.html" %}
  {% endif %}

  {{ radios({
    fieldset: {
      legend: {
        classes: "nhsuk-fieldset__legend--s",
        text: "Are you attempting to get consent?"
      }
    },
    items: [{
      text: "Yes, I am contacting a parent or guardian",
      value: "Yes"
    }, {
      text: "Yes, I am assessing Gillick competence",
      value: "Gillick"
    } if not (campaign.type == "Flu"), {
      text: "No, I am not vaccinating",
      value: "No, I am not vaccinating"
    }],
    decorate: ["vaccination", campaign.id, child.nhsNumber, "get-consent"]
  }) }}

  {{ button({
    text: "Continue",
    classes: "nhsuk-u-margin-bottom-2"
  }) }}
{% endset %}

<form method="post">
  {{ card({
    heading: "Consent",
    headingLevel: "2",
    headingClasses: "nhsuk-heading-m",
    description: getConsent
  }) }}
</form>
