{% set where %}
  {{ radios({
    items: [
      { text: "Left arm" },
      { text: "Right arm" },
      { text: "Other" }
    ],
    classes: "nhsuk-radios--inline",
    decorate: ["vaccination", campaign.id, child.nhsNumber, "where"]
  }) }}
{% endset %}

{{ radios({
  fieldset: {
    legend: {
      text: "Did they get the " + ("flu" if campaign.isFlu else campaign.type) + " vaccine?",
      isPageHeading: true,
      classes: "nhsuk-fieldset__legend--l"
    }
  } if consentJourney,
  items: [{
    text:
      "Yes, they got the full dose" if campaign.isFlu else
      "Yes, they got the " + campaign.type + " vaccine",
    value: "Yes",
    conditional: {
      html: where
    } if not campaign.isFlu
  }, {
    text: "Yes, they got half a dose",
    value: "Half"
  } if campaign.isFlu, {
    text: "No, they did not get it",
    value: "No"
  }],
  decorate: ['vaccination', campaign.id, child.nhsNumber, "given"]
}) }}
