{% set where %}
  {{ radios({
    items: [
      { text: "Left arm" },
      { text: "Right arm" },
      { text: "Other" }
    ],
    classes: "nhsuk-radios--inline",
    decorate: ["vaccination", campaign.id, child.nhsNumber, "where"]
  }) }}
{% endset %}

{{ radios({
  fieldset: {
    legend: {
      text: "Did they get the " + (campaign.type | lower if campaign.type == 'Flu' else campaign.type) + " vaccine?",
      isPageHeading: true,
      classes: "nhsuk-fieldset__legend--l"
    }
  } if consentJourney,
  items: [{
    text: "Yes, they got the " + (campaign.type | lower if campaign.type == 'Flu' else campaign.type) + " vaccine",
    value: "Yes",
    conditional: {
      html: where
    } if campaign.vaccines[0].method == "Injection"
  }, {
    text: "No, they did not get it",
    value: "No"
  }],
  decorate: ['vaccination', campaign.id, child.nhsNumber, "given"]
}) }}
