{% if child.consent[campaign.type] == 'Yes' %}
<div class="app-consent-status app-consent-status--green nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-6">
  <h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-0">
    Consent given by {{ child.parentOrGuardian.relationship | lower }}
  </h2>
</div>
{% endif %}

{% if child.consent[campaign.type] == 'No' %}
<div class="app-consent-status app-consent-status--red nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-6">
  <h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-0">
    Consent refused by {{ child.parentOrGuardian.relationship | lower }}
  </h2>
</div>
{% endif %}

{% if child.consent[campaign.type] == 'Unknown' %}
<div class="app-consent-status app-consent-status--amber nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-6">
  <h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-0">
    No response to consent request
  </h2>
</div>
{% endif %}
