{% if child.consent[campaign.type].unknown %}
  {{ appConsentBanner({
    color: "orange",
    heading: "No response to consent request"
  }) }}
{% else %}
  {% if child.consent["men-acwy"] == CONSENT.GIVEN %}
    {{ appConsentBanner({
      color: "green",
      heading: "MenACWY consent given by " + child.consent.parentOrGuardian.relationship | lower
    }) }}
  {% else %}
    {{ appConsentBanner({
      color: "red",
      heading: "MenACWY consent refused by " + child.consent.parentOrGuardian.relationship | lower
    }) }}
  {% endif %}

  {% if child.consent["3-in-1"] == CONSENT.GIVEN %}
    {{ appConsentBanner({
      color: "green",
      heading: "3 in 1 consent given by " + child.consent.parentOrGuardian.relationship | lower
    }) }}
  {% else %}
    {{ appConsentBanner({
      color: "red",
      heading: "3 in 1 consent refused by " + child.consent.parentOrGuardian.relationship | lower
    }) }}
  {% endif %}
{% endif %}
