{% set parentContactDetailsHtml %}
  <div class="nhsuk-u-margin-top-2 nhsuk-u-font-size-16">
    Telephone: {{ child.parentOrGuardian.telephone }}<br />
    Email: {{ child.parentOrGuardian.email }}
  </div>
{% endset %}

{% set consentHtml %}
  {{ summaryList({
      classes: "app-summary-list--no-bottom-border nhsuk-u-margin-bottom-0",
      rows: decorateRows([
        {
          key: "Given by" if consented else "Refused by",
          value: child.parentOrGuardian.relationship
        },
        {
          key: "Reason for refusal",
          value: child.consent.reason or "Personal choice"
        } if not consented,
        {
          key: child.parentOrGuardian.relationship,
          value: {
            html: child.parentOrGuardian.fullName + ( parentContactDetailsHtml if responded )
          }
        },
        {
          key: "Date",
          value: child.consentedDate | govukDate
        },
        {
          key: "Type of consent",
          value: child.consentedMethod
        }
      ])
    }) }}
{% endset %}

{% set noResponseHtml %}
  <p>No response yet</p>

  <p class="nhsuk-u-margin-bottom-0">
    <a href="/triage-consent/{{ campaign.id }}/{{ child.nhsNumber }}" class="nhsuk-button nhsuk-u-margin-bottom-2">Get consent</a>
  </p>
{% endset %}

{{ card({
  heading: "Consent",
  headingLevel: "2",
  headingClasses: "nhsuk-heading-m",
  description: consentHtml if child.consent.responded else noResponseHtml
}) }}

{% if not child.consent.responded %}
  <form method="post">
    <div class="nhsuk-card">
      <div class="nhsuk-card__content">
        <h2 class="nhsuk-heading-m">Triage</h2>

        {{ textarea({
            label: {
            text: "Triage notes"
          },
          rows: 5,
          classes: "nhsuk-u-margin-bottom-0",
          decorate: ["triage", campaign.id, child.nhsNumber, "notes"]
        }) }}

        {{ button({
          text: "Add notes",
          classes: "nhsuk-button--secondary"
        }) }}
      </div>
    </div>
  </form>

{% endif %}
