{% set consentHtml %}
  {% for response in child.consentResponses %}
    {% set parentContactDetailsHtml %}
      <div class="nhsuk-u-margin-top-2 nhsuk-u-font-size-16">
        Telephone: {{ response.parentOrGuardian.telephone }}<br>
        Email: {{ response.parentOrGuardian.email }}
      </div>
    {% endset %}

    {{ summaryList({
      classes: "app-summary-list--no-bottom-border nhsuk-u-margin-bottom-0",
      rows: decorateRows([
        {
          key: "Given by" if consented else "Refused by",
          value: response.parentOrGuardian.relationship
        },
        {
          key: "Reason for refusal",
          value: {
            html: response.reason | default("Personal choice") + (" – " + response.reasonDetails if response.reason == "Other")
          }
        } if not consented,
        {
          key: response.parentOrGuardian.relationship,
          value: {
            html: response.parentOrGuardian.fullName + ( parentContactDetailsHtml if child.consent.responded )
          }
        },
        {
          key: "Date",
          value: response.date | govukDate
        },
        {
          key: "Type of consent",
          value: response.method
        }
      ])
    }) }}
  {% endfor %}
{% endset %}

{% set noResponseHtml %}
  <p>No response yet</p>

  <p class="nhsuk-u-margin-bottom-0">
    <a href="/triage-consent/{{ campaign.id }}/{{ child.nhsNumber }}" class="nhsuk-button nhsuk-u-margin-bottom-2">Get consent</a>
  </p>
{% endset %}

{{ card({
  heading: "Consent",
  headingLevel: "2",
  headingClasses: "nhsuk-heading-m",
  description: consentHtml if child.consent.responded else noResponseHtml
}) }}
