{% set parentContactDetailsHtml %}
  <div class="nhsuk-u-margin-top-2 nhsuk-u-font-size-16">
    Telephone: {{ child.consent.parentOrGuardian.telephone }}<br>
    Email: {{ child.consent.parentOrGuardian.email }}
  </div>
{% endset %}

{% set consentHtml %}
  {{ summaryList({
      classes: "app-summary-list--no-bottom-border nhsuk-u-margin-bottom-0",
      rows: decorateRows([
        {
          key: "Given by" if consented else "Refused by",
          value: child.consent.parentOrGuardian.relationship
        },
        {
          key: "Reason for refusal",
          value: {
            html: child.consent.reason | default("Personal choice") + (" – " + child.consent.reasonDetails if child.consent.reason == "Other")
          }
        } if not consented,
        {
          key: child.consent.parentOrGuardian.relationship,
          value: {
            html: child.consent.parentOrGuardian.fullName + ( parentContactDetailsHtml if responded )
          }
        },
        {
          key: "Date",
          value: child.consent.date | govukDate
        },
        {
          key: "Type of consent",
          value: child.consent.method
        }
      ])
    }) }}
{% endset %}

{% set noResponseHtml %}
  <p>No response yet</p>

  <p class="nhsuk-u-margin-bottom-0">
    <a href="/triage-consent/{{ campaign.id }}/{{ child.nhsNumber }}" class="nhsuk-button nhsuk-u-margin-bottom-2">Get consent</a>
  </p>
{% endset %}

{{ card({
  heading: "Consent",
  headingLevel: "2",
  headingClasses: "nhsuk-heading-m",
  description: consentHtml if child.consent.responded else noResponseHtml
}) }}
