{% set consentHtml %}
  {% for response in child.responses %}
    {% set parentContactDetailsHtml %}
      <div class="nhsuk-u-margin-top-2 nhsuk-u-font-size-16">
        Phone: {{ response.parentOrGuardian.tel }}<br>
        Email: {{ response.parentOrGuardian.email }}
      </div>
    {% endset %}

    {% set detailText %}
      {{ response[campaign.type] + " by " + response.parentOrGuardian.relationship }} on {{ response.date | govukDate }}
    {% endset %}

    {{ details({
      classes: "nhsuk-u-margin-bottom-0" if loop.last,
      attributes: { open: true },
      text: detailText,
      HTML: summaryList({
        classes: "app-summary-list--no-bottom-border nhsuk-u-margin-bottom-0",
        rows: decorateRows([
          {
            key: "Reason for refusal",
            value: {
              html: response.refusalReason | default("Personal choice") + (" – " + response.refusalReasonOther if response.refusalReason == "Other")
            }
          } if response.refusalReason,
          {
            key: response.parentOrGuardian.relationship,
            value: {
              html: response.parentOrGuardian.fullName + ( parentContactDetailsHtml if not isUnknown )
            }
          },
          {
            key: "Type of consent",
            value: response.method
          }
        ])
      })
    }) }}
  {% else %}
    <p>No response yet</p>

    {{ button({
      classes: "nhsuk-u-margin-bottom-0",
      text: "Get consent",
      href: "/triage-consent/" + campaign.id + "/" + child.nhsNumber
    }) }}
  {% endfor %}
{% endset %}

{{ card({
  heading: "Consent",
  headingLevel: "2",
  headingClasses: "nhsuk-heading-m",
  description: consentHtml
}) }}
