{% set rows = [] %}
{% for item in child.consent.log %}
  {% set _rows = rows.push([
    {
      html: "<p class=\"nhsuk-u-margin-0 app-u-nowrap\">" + item.date | govukDate("truncate") + "</p><p class=\"nhsuk-u-secondary-text-color nhsuk-u-margin-0\">" + item.date | govukTime + "</p>"
    },
    {
      html: "<p class=\"nhsuk-u-margin-0\">" + item.note + "</p><p class=\"nhsuk-u-secondary-text-color nhsuk-u-margin-0\">" + item.user.fullName + "</p>"
    }
  ]) %}
{% endfor %}

{{ table({
  caption: "Consent log",
  captionClasses: "nhsuk-u-font-size-19",
  tableClasses: "app-table--no-bottom-border",
  firstCellIsHeader: false,
  head: [
    {
      text: "Date"
    },
    {
      text: "Note"
    }
  ],
  rows: rows
}) }}
