{{ card({
  heading: "Child details",
  headingLevel: "2",
  headingClasses: "nhsuk-heading-m",
  description: summaryList({
    classes: "app-summary-list--no-bottom-border nhsuk-u-margin-bottom-0",
    rows: decorateRows([
      {
        key: "Name",
        value: child.fullName
      },
      {
        key: "Known as",
        value: child.knownAs
      } if child.knownAs,
      {
        key: "Date of birth",
        value: child.dob | govukDate + " (aged " + child.dob | age + ")"
      },
      {
        key: "Address",
        value: {
          html: child.address | nl2br
        }
      } if not hasNoResponse,
      {
        key: "GP",
        value: child.gpSurgery
      } if not hasNoResponse,
      {
        key: "NHS Number",
        value: child.nhsNumber | formatNHSNumber
      } if not hasNoResponse,
      {
        key: "Vaccination history",
        value: {
          html: "<a href=\"#\">Record available</a>"
        }
      } if not hasNoResponse
    ])
  })
}) }}
