<div class="nhsuk-card">
  <div class="nhsuk-card__content">
    <h2 class="nhsuk-card__heading nhsuk-heading-m">
      Child details
    </h2>
    {% set parentContactDetailsHtml %}
      <div class="nhsuk-u-margin-top-2 nhsuk-u-font-size-16">
        Telephone: {{ child.consent.parentOrGuardian.telephone }}<br />
        Email: {{ child.consent.parentOrGuardian.email }}
      </div>
    {% endset %}

    {% set addressHtml %}
      1 Street Name<br />
      Town<br />
      City<br />
      BN1 1AA
    {% endset %}

    {{ summaryList({
      classes: "app-summary-list--no-bottom-border nhsuk-u-margin-bottom-0",
      rows: decorateRows([
        {
          key: 'Name',
          value: child.fullName
        },
        {
          key: 'Known as',
          value: child.preferredName
        } if child.preferredName,
        {
          key: 'Date of birth',
          value: child.dob | govukDate + ' (aged ' + child.age + ')'
        },
        {
          key: 'Address',
          value: {
            html: child.address
          }
        } if responded,
        {
          key: 'GP',
          value: child.gp
        } if responded,
        {
          key: 'NHS Number',
          value: child.nhsNumber | formatNHSNumber
        } if responded,
        {
          key: 'Vaccination history',
          value: {
            html: '<a href="#">Record available</a>'
          }
        } if responded,
        {
          key: child.consent.parentOrGuardian.relationship,
          value: {
            html: child.consent.parentOrGuardian.fullName + ( parentContactDetailsHtml if responded )
          }
        } if child.consent.parentOrGuardian.relationship and not triaging
      ])
    }) }}
  </div>
</div>
