{% for id, question in campaign.healthQuestions %}
  <h3 class="nhsuk-heading-xs nhsuk-u-margin-bottom-2 {% if not loop.first %}nhsuk-u-margin-top-4{% endif %}">
    {{ question }}
  </h3>

  {% for response in child.consentResponses %}
    <p class="nhsuk-u-margin-bottom-0">
      {#- Response can be `true` if no detailed answer given -#}
      {%- if response.healthAnswers[id] -%}
        Yes
        {%- if response.healthAnswers[id] != true %}
          – {{ response.healthAnswers[id] }}
        {%- endif-%}
      {%- else -%}
        No
      {%- endif -%}
    </p>
  {% endfor %}
{% endfor %}
