{% if consentJourney %}
  <p><a href="#">Change</a></p>
{% endif %}
{% for id, question in campaign.healthQuestions %}
  <h3 class="nhsuk-heading-xs nhsuk-u-margin-bottom-2 {% if not loop.first %}nhsuk-u-margin-top-4{% endif %}">
    {{ question }}
  </h3>

  {#- Only return responses with health answers that are different -#}
  {% set uniqueResponses = child.responses | selectattr("healthAnswers") | uniqueFromArrayBy("healthAnswers[" + id + "]") %}
  {% for response in uniqueResponses %}
    {%- if child.responses.length > 1 %}
      {%- set who = (response.parentOrGuardian.relationship if uniqueResponses.length > 1 else "All") + " answered:" -%}
    {% endif -%}
    <p class="nhsuk-body">
      {{- who }} {{ "No" if not response.healthAnswers[id] else "Yes" }}
    {%- if response.healthAnswers[id] and response.healthAnswers[id] != true %}
      {{ " – " if response.healthAnswers[id] and response.healthAnswers[id] != true }}
      {{- response.healthAnswers[id] -}}
    </p>
    {%- endif -%}
  {% endfor %}
{% endfor %}
