{% set healthNotes %}
  {% for question in child.healthQuestions.questions %}
    <h3 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">
      {{ question.question }}
    </h3>
    <p>{{ question.answer }}</p>
    {% if question.details %}
      <p>{{ question.details }}</p>
    {% endif %}
  {% endfor %}
{% endset %}

{% set healthNotes %}
  {% if child.healthQuestions.triage %}
    <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-2">Triage notes</h2>
    <p>{{ child.healthQuestions.triage }}</p>

    <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-2">Medical history answers</h2>
  {% else %}
    <p>No triage needed</p>
  {% endif %}

  {{ details({
    text: "Show answers",
    attributes: {
      open: true
    } if child.healthQuestions.hasAnswers,
    HTML: healthNotes,
    classes: "nhsuk-expander nhsuk-u-margin-bottom-0"
  }) }}
{% endset %}

{{ card({
  heading: "Medical history",
  headingLevel: "2",
  headingClasses: "nhsuk-heading-m",
  description: healthNotes
}) }}
