{% for id, question in campaign.healthQuestions %}
  <h3 class="nhsuk-heading-xs nhsuk-u-margin-bottom-2 {% if not loop.first %}nhsuk-u-margin-top-4{% endif %}">
    {{ question }}
  </h3>

  <p class="nhsuk-u-margin-bottom-0">
    {#- Response can be `true` if no detailed answer given -#}
    {%- if child.healthAnswers[id] -%}
      Yes
      {%- if child.healthAnswers[id] != true %}
        – {{ child.healthAnswers[id] }}
      {%- endif-%}
    {%- else -%}
      No
    {%- endif -%}
  </p>
{% endfor %}
