{% set description = "Responses to health questions need triage" %}

{% if child.triage.outcome == TRIAGE_OUTCOME.VACCINATE %}
  {% set colour = "purple" %}
  {% set description = "Jane Doe decided that " + child.fullName + " can be vaccinated." %}
{% endif %}

{% if (child.triage.outcome == TRIAGE_OUTCOME.DO_NOT_VACCINATE) or
      (child.triage.outcome == TRIAGE_OUTCOME.DELAY_VACCINATION) %}
  {% set colour = "red" %}
  {% set description = "Jane Doe decided that " + child.fullName + " should not be vaccinated." %}
{% endif %}

{{ card({
  classes: ("nhsuk-card--" + colour) if colour,
  heading: child.triage.outcome,
  headingClasses: "nhsuk-heading-m",
  description: description,
  feature: true
}) }}
