{% set consent = child.consent.outcome %}
{% set isGillickCompetent = consentRecord["gillick-competent"] === "Yes" %}

{% if child.outcome == PATIENT_OUTCOME.VACCINATED %}
  {% set color = "green" %}
{% elif child.outcome == PATIENT_OUTCOME.COULD_NOT_VACCINATE %}
  {% set color = "red" %}
{% else %}
  {% set color = "orange" %}
{% endif %}

{% if consent == CONSENT_OUTCOME.VALID %}
  {% set consentText %}
    {% if isGillickCompetent %}
      The child was assessed as Gillick competent and they gave consent.
    {% else %}
      Their {{ child.consent.parentOrGuardian.relationship | lower }} gave consent
    {% endif %}
  {% endset %}
{% elif consent == CONSENT_OUTCOME.REFUSED %}
  {% set consentText %}
    Their {{ child.consent.parentOrGuardian.relationship | lower }} refused to give consent
  {% endset %}
{% elif consent == CONSENT_OUTCOME.NO_RESPONSE %}
  {% set consentText %}
    No-one responded to our requests for consent{% if child.assessedAsNotGillickCompetent %}.
      {% if isGillickCompetent %}
        The child was assessed as Gillick competent, but they refused consent.
      {% else %}
        When assessed, the child was not Gillick competent.
      {% endif %}
    {% endif %}
  {% endset %}
{% endif %}

{% call appConsentBanner({
  color: color,
  heading: child.outcome,
  link: {
    href: "#",
    text: "Change outcome"
  }
}) %}
  <p class="nhsuk-body">
    {{ vaccination.outcome | safe }}
    {{ consentText | safe }}
  </p>
{% endcall %}
