{% set outcome = child.outcome %}
{% set consent = child.consent[campaign.type] %}
{% set isGillickCompetent = consentRecord['gillick-competent'] === 'Yes' %}

{% if child.actionTaken == ACTION_TAKEN.VACCINATED %}
  {% set color = 'green' %}
{% elif child.actionTaken == ACTION_TAKEN.COULD_NOT_GET_CONSENT %}
  {% set color = 'red' %}
  {% set outcomeText = 'Not vaccinated' %}
{% else %}
  {% set color = 'orange' %}
{% endif %}

{% if consent == 'Given' %}
  {% set consentText %}
    {% if isGillickCompetent %}
      The child was assessed as Gillick competent and they gave consent.
    {% else %}
      Their {{ child.parentOrGuardian.relationship | lower }} gave consent
    {% endif %}
  {% endset %}
{% elif consent == 'Refused' %}
  {% set consentText %}
    Their {{ child.parentOrGuardian.relationship | lower }} refused to give consent
  {% endset %}
{% elif consent == 'Unknown' %}
  {% set consentText %}
    No-one responded to our requests for consent{% if child.assessedAsNotGillickCompetent %}.
      {% if isGillickCompetent %}
        The child was assessed as Gillick competent, but they refused consent.
      {% else %}
        When assessed, the child was not Gillick competent.
      {% endif %}
    {% endif %}
  {% endset %}
{% endif %}

{% if vaccinationRecord['why-not-given'] %}
  {% set reasonText %}
    {{ vaccinationRecord['why-not-given'] }}<br>
  {% endset %}
{% endif %}

<div class="app-consent-banner app-consent-banner--{{ color }} nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-6">
  <span class="nhsuk-heading-m nhsuk-u-margin-bottom-0">
    {{ outcomeText or outcome }}
  </span>
  <p class="nhsuk-u-margin-top-2">
    {{ reasonText | safe }}
    {{ consentText | safe }}
  </p>
  <p class="nhsuk-u-margin-bottom-1">
    <a href="#" class="app-u-inherit">Change outcome</a>
  </p>
</div>
