{% set outcome = child.outcome %}
{% set consent = child.consent[campaign.type] %}
{% set isGillickCompetent = consentRecord["gillick-competent"] === "Yes" %}

{% if child.actionTaken == ACTION_TAKEN.VACCINATED %}
  {% set color = "green" %}
{% elif child.actionTaken == ACTION_TAKEN.COULD_NOT_GET_CONSENT %}
  {% set color = "red" %}
  {% set outcomeText = "Not vaccinated" %}
{% else %}
  {% set color = "orange" %}
{% endif %}

{% if consent == CONSENT.GIVEN %}
  {% set consentText %}
    {% if isGillickCompetent %}
      The child was assessed as Gillick competent and they gave consent.
    {% else %}
      Their {{ child.consent.parentOrGuardian.relationship | lower }} gave consent
    {% endif %}
  {% endset %}
{% elif consent == CONSENT.REFUSED %}
  {% set consentText %}
    Their {{ child.consent.parentOrGuardian.relationship | lower }} refused to give consent
  {% endset %}
{% elif consent == CONSENT.UNKNOWN %}
  {% set consentText %}
    No-one responded to our requests for consent{% if child.assessedAsNotGillickCompetent %}.
      {% if isGillickCompetent %}
        The child was assessed as Gillick competent, but they refused consent.
      {% else %}
        When assessed, the child was not Gillick competent.
      {% endif %}
    {% endif %}
  {% endset %}
{% endif %}

{% if vaccinationRecord["why-not-given"] %}
  {% set reasonText %}
    {{ vaccinationRecord["why-not-given"] }}<br>
  {% endset %}
{% endif %}

{% call appConsentBanner({
  color: color,
  heading: outcomeText or outcome,
  link: {
    href: "#",
    text: "Change outcome"
  }
}) %}
  <p class="nhsuk-body">
    {{ reasonText | safe }}
    {{ consentText | safe }}
  </p>
{% endcall %}
