{% set descriptionHtml %}
  {% for response in child.responses %}
    {% set detailText %}
      {{ response.status + " by " + response.parentOrGuardian.relationship }} on {{ response.date | govukDate }}
    {% endset %}

    {{ details({
      attributes: { open: true },
      text: detailText,
      HTML: summaryList({
        classes: "app-summary-list--no-bottom-border",
        rows: decorateRows([
          {
            key: response.parentOrGuardian.relationship,
            value: {
              html: response.parentOrGuardian.fullName
            }
          },
          {
            key: "Contact details",
            value: {
              html: [response.parentOrGuardian.tel, response.parentOrGuardian.email] | removeEmptyFromArray | join("<br>")
            }
          },
          {
            key: "Type of consent",
            value: response.method
          },
          {
            key: "Reason for refusal",
            value: {
              html: response.refusalReason | default("Personal choice") + (" – " + response.refusalReasonOther if response.refusalReason == "Other")
            }
          } if response.refusalReason
        ])
      })
    }) }}
  {% else %}
    <p class="nhsuk-body nhsuk-u-margin-bottom-0">No responses yet</p>
  {% endfor %}

  {% set detailsHtml %}
    {% include "campaign/child/_health-answers.html" %}
  {% endset %}

  {{ details({
    text: "Responses to health questions",
    attributes: { open: true } if child.consent.answersNeedTriage,
    HTML: detailsHtml,
    classes: "nhsuk-expander nhsuk-u-margin-bottom-0"
  }) if child.responses.length }}
{% endset %}

{{ card({
  heading: "Consent responses",
  headingClasses: "nhsuk-heading-m",
  descriptionHtml: descriptionHtml
}) }}
