{% set descriptionHtml %}
  <p class="nhsuk-body">{{ child.triage.outcome }}</p>
  {% if child.triage.notes.length %}
    <h3 class="nhsuk-heading-xs nhsuk-u-margin-bottom-2">Notes</h3>
    <ul class="nhsuk-list">
    {% for note in child.triage.notes | reverse %}
      <li>
        <p class="nhsuk-u-margin-bottom-1">{{ note.note }}</p>
        <p class="nhsuk-u-secondary-text-color nhsuk-u-font-size-16 {% if loop.last %}nhsuk-u-margin-bottom-0{% endif %}">{{ note.user.fullName }}, {{ note.date | govukDate }} at {{ note.date | govukTime }}</p>
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endset %}

{{ card({
  heading: "Triage",
  headingLevel: "2",
  headingClasses: "nhsuk-heading-m",
  descriptionHtml: descriptionHtml
}) }}
