{{ radios({
  fieldset: {
    legend: {
      classes: "nhsuk-fieldset__legend--s",
      text: "Triage status"
    }
  },
  items: [
    {
      text: TRIAGE.READY
    },
    {
      text: TRIAGE.DO_NOT_VACCINATE
    },
    {
      text: "Keep in triage",
      value: TRIAGE.NEEDS_FOLLOW_UP
    } if showKeepInTriage
  ],
  decorate: ["triage", campaign.id, child.nhsNumber, "status"]
}) }}

{{ textarea({
  label: {
    classes: "nhsuk-label--s nhsuk-u-margin-bottom-3",
    text: "Triage note (optional)"
  },
  rows: 5,
  value: "",
  decorate: ["triage", campaign.id, child.nhsNumber, "note"]
}) }}

{{ input({
  type: "hidden",
  value: data.user.name,
  decorate: ["triage", campaign.id, child.nhsNumber, "user"]
}) }}
