{{ textarea({
  label: {
    text: "Triage notes"
  },
  rows: 5,
  classes: "nhsuk-u-margin-bottom-0",
  decorate: ["triage", campaign.id, child.nhsNumber, "notes"]
}) }}

{{ radios({
  fieldset: {
    legend: {
      text: "Triage status"
    }
  },
  classes: "nhsuk-u-margin-bottom-0",
  items: [
    {
      text: TRIAGE.READY
    },
    {
      text: TRIAGE.DO_NOT_VACCINATE
    },
    {
      text: "Keep in triage",
      value: TRIAGE.NEEDS_FOLLOW_UP
    } if showKeepInTriage
  ],
  decorate: ["triage", campaign.id, child.nhsNumber, "status"]
}) }}
