{% set vaccineRecorded %}
  <p><a href="#">Change</a></p>
  {% set batch = data.vaccines.batches[vaccinationRecord.batch] %}

  {{ govukSummaryList({
    classes: "app-u-frutiger app-summary-list--no-bottom-border  nhsuk-u-margin-bottom-0",
    rows: decorateRows([
      {
        key: "Vaccine",
        value: batch.summary
      },
      {
        key: "Dose",
        value: "1 of 2"
      } if vaccineGiven and campaign.type == "HPV",
      {
        key: "Vaccine given?",
        value: vaccinationRecord.given
      },
      {
        key: "Site",
        value: "Nasal"
      } if vaccineGiven and batch.isNasal,
      {
        key: "Site",
        value: vaccinationRecord.where
      } if vaccineGiven and not batch.isNasal,
      {
        key: "Reason",
        value: vaccinationRecord["why-not-given"]
      } if not vaccineGiven,
      {
        key: "Date",
        value: "Today (" + "today" | govukDate + ")"
      },
      {
        key: "Time",
        value: "now" | govukTime
      } if vaccineGiven,
      {
        key: "Location",
        value: campaign.location
      },
      {
        key: "Vaccinator",
        value: "You (" + data.user.name + ")"
      }
    ])
  }) }}
{% endset %}

{{ card({
  heading: "Vaccination details",
  headingLevel: "2",
  headingClasses: "nhsuk-heading-m",
  description: vaccineRecorded
}) }}
