{% set descriptionHtml %}
  <p><a href="#">Change</a></p>
  {% set batch = data.vaccines.batches[vaccination.batch] %}

  {{ summaryList({
    rows: decorateRows([
      {
        key: "Vaccine",
        value: batch.summary
      },
      {
        key: "Dose",
        value: "1 of 2"
      } if vaccineGiven and campaign.type == "HPV",
      {
        key: "Outcome",
        value: vaccination.outcome
      },
      {
        key: "Site",
        value: vaccination.site
      } if vaccineGiven and vaccination.site,
      {
        key: "Date",
        value: "Today (" + "today" | govukDate + ")"
      },
      {
        key: "Time",
        value: "now" | govukTime
      } if vaccineGiven,
      {
        key: "Location",
        value: campaign.location
      },
      {
        key: "Vaccinator",
        value: "You (" + data.user.fullName + ")"
      },
      {
        key: "Notes",
        value: vaccination.notes | default("None", true)
      }
    ])
  }) }}
{% endset %}

{{ card({
  heading: "Vaccination details",
  headingClasses: "nhsuk-heading-m",
  descriptionHtml: descriptionHtml
}) }}
