{%- from "tag/macro.njk" import tag %}
{% if action == ACTION_NEEDED.VACCINATE %}
  {% set color = "purple" %}
{% elif action == ACTION_NEEDED.GET_CONSENT %}
  {% set color = "yellow" %}
{% elif action == ACTION_NEEDED.CHECK_REFUSAL %}
  {% set color = "orange" %}
{% elif action == ACTION_NEEDED.TRIAGE %}
  {% set color = "blue" %}
{% else %}
  {% set color = "white" %}
{% endif %}

{{ tag({
  text: action,
  classes: "nhsuk-tag--" + color + " nhsuk-u-font-size-16 nhsuk-u-width-full"
}) }}
