{% extends "layouts/wizard.html" %}
{% set title = "Which batches of Fluenz Tetra?" %}

{% block form %}
  {{ checkboxes({
    fieldset: {
      legend: {
        classes: "nhsuk-fieldset__legend--l",
        isPageHeading: true,
        text: title
      }
    },
    items: [
      {
        text: "P100475581 (Expires 1 Jan 2023)"
      },
      {
        text: "P100475582  (Expires 10 Jan 2023)"
      },
      {
        text: "P100475583  (Expires 2 Feb 2023)"
      },
      {
        text: "A different batch"
      }
    ],
    decorate: "day-setup.batches"
  }) }}
{% endblock %}
