{% extends "layouts/wizard.html" %}
{% set title = "Check and confirm what you’re doing today" %}
{% set buttonText = "Confirm and continue" %}

{% block form %}
  <h1 class="nhsuk-heading-l">{{ title | noOrphans | safe }}</h1>

  {{ summaryList({
    rows: decorateRows([
      {
        key: "Activity",
        data: "day-setup.where",
        href: "/day-setup/where"
      },
      {
        key: "Vaccinator",
        data: "day-setup.vaccinator",
        href: "/day-setup/who"
      },
      {
        key: "Vaccines",
        value: {
          html: d("day-setup.vaccines") | join("<br>")
        },
        href: "/day-setup/what"
      },
      {
        key: "Batches",
        value: {
          html: d("day-setup.batches") | join("<br>")
        },
        href: "/day-setup/batches"
      }
    ])
  }) }}
{% endblock %}
