{% extends "_layouts/wizard.html" %}

{% set title = "What are you doing today?" %}

{% block form %}
  {{ radios({
    fieldset: {
      legend: {
        classes: "nhsuk-fieldset__legend--l",
        isPageHeading: true,
        text: title
      }
    },
    items: [
      {
        html: "Flu campaign at St Mary’s Primary School<br>(morning session)",
        value: "Flu campaign at St Mary’s Primary School"
      },
      {
        html: "HPV campaign at Tundown Academy<br>(afternoon session)",
        value: "HPV campaign at Tundown Academy"
      },
      {
        text: "A catch-up clinic",
        value: "clinic"
      },
      {
        divider: "or"
      },
      {
        text: "Something else"
      }
    ],
    decorate: "day-setup.where"
  }) }}
{% endblock %}
