{% extends "_layouts/default.html" %}

{% set title = "Invite a team member" %}

{% block outerContent %}
  {{ backLink({
    href: "/users",
    classes: "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      {{ heading({ title: title }) }}

      <form method="post">
        {{ input({
          label: {
            text: "Their full name"
          },
          decorate: "users.new.fullName"
        }) }}

        {{ input({
          label: {
            text: "Their email address"
          },
          hint: {
            text: "They will use this to access the service"
          },
          decorate: "users.new.email"
        }) }}

        {{ button({
          text: "Send invite"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
