{% extends "_layouts/default.html" %}

{% set title = user.fullName %}

{% block outerContent %}
  {{ backLink({
    href: "/users",
    classes: "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      {{ heading({ title: title }) }}

      <form method="post" action="/users?success={{ user.id }}">
        {{ input({
          label: {
            classes: "nhsuk-label--s",
            text: "Name"
          },
          decorate: "users." + user.id + ".fullName"
        }) }}

        {{ input({
          label: {
            classes: "nhsuk-label--s",
            text: "Email address"
          },
          decorate: "users." + user.id + ".email"
        }) }}

        {{ radios({
          fieldset: {
            legend: {
              classes: "nhsuk-fieldset__legend--s",
              text: "Professional body"
            }
          },
          items: [{
            text: "General Medical Council",
            value: "gmc"
          }, {
            text: "General Pharmaceutical Council",
            value: "gphc"
          }, {
            text: "Health and Care Professions Council",
            value: "hcpc"
          }, {
            text: "Nursing and Midwifery Council",
            value: "nmc"
          }],
          decorate: "users." + user.id + ".registrationBody"
        }) }}

        {{ input({
          classes: "nhsuk-input--width-10",
          label: {
            classes: "nhsuk-label--s",
            text: "Registration number"
          },
          hint: {
            text: "Also known as a GMC number or nurse’s pin number"
          },
          decorate: "users." + user.id + ".registration"
        }) }}

        {{ button({
          text: "Save changes",
          classes: "nhsuk-u-margin-top-3"
        }) }}
      </form>

      <p>
        <a href="#">Remove user</a>
      </p>
    </div>
  </div>
{% endblock %}
