{% extends "_layouts/default.html" %}

{% set title = "Edit batch" %}
{% set kayPath = "vaccines." + vaccine.id + ".batches." + batch.id + "." %}

{% block outerContent %}
  {{ backLink({
    href: "/vaccines",
    classes: "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      {{ heading({
        title: title,
        caption: vaccine.brand
      }) }}

      <form method="post">
        {{ input({
          label: {
            text: "Batch",
            classes: "nhsuk-label--s"
          },
          classes: "nhsuk-input--width-10",
          decorate: kayPath + "id"
        }) }}

        {{ dateInput({
          fieldset: {
            legend: {
              text: "Expiry date",
              classes: "nhsuk-fieldset__legend--s"
            }
          },
          hint: {
            text: "For example, 27 10 2023"
          },
          decorate: kayPath + "expiry"
        }) }}

        {{ button({
          text: "Save changes"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
