{% extends "_layouts/default.html" %}

{% set title = "Edit batch" %}

{% block outerContent %}
  {{ backLink({
    href: "/vaccines",
    classes: "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      {{ heading({
        title: title,
        caption: batch.brand
      }) }}

      <form method="post">
        {{ input({
          label: {
            text: "Batch",
            classes: "nhsuk-label--s nhsuk-u-margin-bottom-1"
          },
          classes: "nhsuk-input--width-10",
          decorate: "vaccines.batches." + batch.name + ".name"
        }) }}

        {{ dateInput({
          fieldset: {
            legend: {
              text: "Expiry date",
              classes: "nhsuk-fieldset__legend--s nhsuk-u-margin-bottom-1"
            }
          },
          hint: {
            text: "For example, 27 10 2023"
          },
          decorate: "vaccines.batches." + batch.name + ".expiry"
        }) }}

        {{ button({
          text: "Save changes"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
