{% extends "_layouts/default.html" %}
{% set title = "Manage vaccines" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      {{ heading({ title: title, size: "xl" }) }}

      {{ button({
        href: "#",
        text: "Add a new vaccine"
      }) }}

      {% for vaccine in data.vaccines.brands %}
        {% set descriptionHtml %}
          <p class="nhsuk-body"><a href="#">Add a batch</a></p>

          <table class="nhsuk-table">
            <thead class="nhsuk-table__head">
              <tr class="nhsuk-table__row">
                <th class="nhsuk-table__header" style="width: 30%">Batch</th>
                <th class="nhsuk-table__header" style="width: 50%">Expiry</th>
                <th class="nhsuk-table__header"></th>
                <th class="nhsuk-table__header"></th>
              </tr>
            </thead>
            <tbody class="nhsuk-table__body">
              {% for batch in batches %}
                {% if batch.brand == vaccine.brand %}
                  <tr class="nhsuk-table__row">
                    <td class="nhsuk-table__cell">{{ batch.name }}</td>
                    <td class="nhsuk-table__cell">{{ batch.expiry | isoDateFromDateInput | govukDate }}</td>
                    <td class="nhsuk-table__cell nhsuk-u-text-align-right">
                      <a href="/vaccines/{{ batch.name }}">Change</a>
                    </td>
                    <td class="nhsuk-table__cell nhsuk-u-text-align-right">
                      <a href="#">Move&nbsp;to&nbsp;archive</a>
                    </td>
                  </tr>
                {% endif %}
              {% endfor %}
            </tbody>
          </table>
        {% endset %}

        {{ card({
          heading: vaccine.brand + " (" + vaccine.vaccine + ")",
          headingClasses: "nhsuk-heading-m",
          descriptionHtml: descriptionHtml
        }) }}
      {% endfor %}
    </div>
  </div>
{% endblock %}
