{% if not patient.consent.outcome === CONSENT_OUTCOME.GIVEN %}
  {% set warningConsentFor = "the 3-in-1 booster" if patient.consent.outcome == CONSENT_OUTCOME.ONLY_3_IN_1 else "MenACWY" %}
  {{ warningCallout({
    heading: "Do not give both vaccines",
    classes: "nhsuk-u-margin-bottom-6",
    HTML: "<p>Consent has only been given for " + warningConsentFor + ".</p>"
  }) }}
{% endif %}

{% set descriptionHtml %}
  {% if session.is3in1MenACWY %}
    {{ checkboxes({
      items: [{
        text: "MenACWY",
        value: "men-acwy",
        conditional: {
          html: radios({
            items: [
              { text: VACCINATION_SITE.ARM_LEFT },
              { text: VACCINATION_SITE.ARM_RIGHT },
              { text: VACCINATION_SITE.OTHER }
            ],
            classes: "nhsuk-radios--inline",
            decorate: ["vaccination", session.id, patient.nhsNumber, "siteMenACWY"]
          })
        }
      }, {
        text: "3-in-1 booster",
        value: "3-in-1",
        conditional: {
          html: radios({
            items: [
              { text: VACCINATION_SITE.ARM_LEFT },
              { text: VACCINATION_SITE.ARM_RIGHT },
              { text: VACCINATION_SITE.OTHER }
            ],
            classes: "nhsuk-radios--inline",
            decorate: ["vaccination", session.id, patient.nhsNumber, "site3in1"]
          })
        }
      }, {
        divider: "or"
      }, {
        text: "None",
        value: "none"
      }],
      formGroup: {
        classes: "nhsuk-u-margin-bottom-7"
      },
      decorate: ["vaccination", session.id, patient.nhsNumber, "multi-given"]
    }) }}
  {% else %}
    {{ radios({
      items: [{
        text: "Yes, they got the full dose" if session.isFlu else
              "Yes, they got the " + session.type + " vaccine",
        value: VACCINATION_OUTCOME.VACCINATED,
        conditional: {
          html: radios({
            items: [
              { text: VACCINATION_SITE.ARM_LEFT },
              { text: VACCINATION_SITE.ARM_RIGHT },
              { text: VACCINATION_SITE.OTHER }
            ],
            classes: "nhsuk-radios--inline",
            decorate: ["vaccination", session.id, patient.nhsNumber, "site"]
          })
        } if session.isHPV
      }, {
        text: "Yes, they got half a dose",
        value: VACCINATION_OUTCOME.PART_VACCINATED
      } if session.isFlu, {
        text: "No, they did not get it",
        value: false
      }],
      decorate: ["vaccination", session.id, patient.nhsNumber, "outcome"]
    }) }}
  {% endif %}

  {{ button({
    text: "Continue"
  }) }}
{% endset %}

{{ card({
  heading: "Which vaccines did they get?" if session.is3in1MenACWY else "Did they get the " + session.type + " vaccine?",
  headingClasses: "nhsuk-heading-m",
  descriptionHtml: descriptionHtml
}) | formCard }}
