{% set descriptionHtml %}
  {%- set consentIcon = consentStatus(patient).icon -%}
  {%- set consentColour = consentStatus(patient).colour -%}
  <p class="app-status{{ " app-status--" + consentColour if consentColour }}">
    {{- icon(consentIcon) if consentIcon -}}
    {{- consentStatus(patient).text -}}
  </p>

  {% for response in patient.responses %}
    {% set detailsHtml %}
      {% include "patient/_response-summary.html" %}

      {# Check refusal if refused and no other response has confirmed refusal #}
      {% if (response.status == RESPONSE_CONSENT.REFUSED)
        and (patient.consent.outcome != CONSENT_OUTCOME.FINAL_REFUSAL) %}
        <p>
          <a class="nhsuk-u-font-weight-bold" href="/consent/{{ session.id}}/{{ patient.nhsNumber }}/consent?responseId={{ loop.index0 }}">Contact parent or guardian</a>
        </p>
      {% endif %}

      {# Get consent if previously contacted but no response #}
      {{ button({
        classes: "nhsuk-button--secondary nhsuk-u-margin-bottom-3",
        href: "/consent/" + session.id + "/" + patient.nhsNumber + "/consent?responseId=" + loop.index0,
        text: "Get consent"
      }) if response.status == RESPONSE_CONSENT.NO_RESPONSE }}
    {% endset %}

    {{ details({
      attributes: { open: true } if patient.outcome == PATIENT_OUTCOME.NO_OUTCOME_YET,
      text: responseHeading(response),
      HTML: detailsHtml
    }) }}
  {% endfor %}

  {{ details({
    text: "Responses to health questions",
    attributes: { open: true } if patient.triage.outcome == TRIAGE_OUTCOME.NEEDS_TRIAGE,
    HTML: summaryList({
      classes: "app-summary-list--full-width",
      rows: healthAnswerRows(session, patient.responses)
    }),
    classes: "nhsuk-expander"
  }) if patient.consent.hasHealthAnswers }}

  {% if not patient.responses.length %}
    {#- Add a new response to any existing -#}
    {{ input({
      name: "responseId",
      value: patient.responses.length,
      type: "hidden"
    }) }}

    {{ button({
      classes: "nhsuk-u-margin-bottom-0",
      href: "/consent/" + session.id + "/" + patient.nhsNumber,
      text: "Get consent"
    }) }}
  {% endif %}

  {% if patient.consent.outcome != CONSENT_OUTCOME.GIVEN %}
    {{ button({
      classes: "nhsuk-button--secondary nhsuk-u-margin-bottom-0",
      text: "Assess Gillick competence",
      value: "Gillick"
    }) if not (session.type == "Flu") }}
  {% endif %}
{% endset %}

{{ card({
  heading: "Consent",
  headingClasses: "nhsuk-heading-m",
  descriptionHtml: descriptionHtml
}) | formCard }}
