{{ card({
  heading: "Child details",
  headingClasses: "nhsuk-heading-m",
  descriptionHtml: summaryList({
    rows: decorateRows([
      {
        key: "Name",
        value: patient.fullName
      },
      {
        key: "Known as",
        value: patient.knownAs
      } if patient.knownAs,
      {
        key: "Date of birth",
        value: patient.dob | govukDate + " (aged " + patient.dob | age + ")"
      },
      {
        key: "Address",
        value: {
          html: patient.address | nl2br
        }
      } if not hasNoResponse,
      {
        key: "GP",
        value: patient.gpSurgery
      } if not hasNoResponse,
      {
        key: "NHS Number",
        value: patient.nhsNumber | formatNHSNumber
      } if not hasNoResponse
    ])
  })
}) }}
