{% set descriptionHtml %}
  {% set description = outcome(patient).description %}
  {% if description %}
    <p>{{ description }}</p>
  {% endif %}

  {% set lastTriageEvent = patient.triage.events[0] %}
  {% set triageCompleted = patient.triage.outcome != TRIAGE_OUTCOME.NEEDS_TRIAGE %}
  {% set triageSummaryList %}
    {{ summaryList({
      rows: decorateRows([
        {
          key: "Triage status",
          value: patient.triage.outcome
        } if triageCompleted,
        {
          key: "Date",
          value: lastTriageEvent.date | govukDate + " at " + lastTriageEvent.date | govukTime
        } if triageCompleted,
        {
          key: "Nurse",
          value: lastTriageEvent.user.fullName
        } if triageCompleted,
        {
          key: "Triage notes",
          value: {
            html: eventsList(patient.triage.events) if patient.triage.events else "None"
          }
        }
      ])
    }) if lastTriageEvent }}
  {% endset %}

  {% set vaccineSummary %}
    {% set vaccine = data.vaccines[vaccination.vaccineId] %}
    {% set batch = vaccine.batches[vaccination.batchId] %}
    {{ vaccine.summary | replace(")", "") }}, {{ batch.id }})
  {% endset %}

  {{ summaryList({
    rows: decorateRows([
      {
        key: "Reason",
        value: vaccination.outcome or patient.triage.outcome or patient.consent.outcome
      } if not vaccineGiven,
      {
        key: "Refusal " + (patient.consent.refusalReasonsDetailed.length | plural("reason", showNumber=false)),
        value: {
          html: patient.consent.refusalReasonsDetailed.join("<br>")
        }
      } if not vaccineGiven and patient.consent.refusalReasonsDetailed,
      {
        key: "Vaccine",
        value: vaccineSummary
      } if vaccineGiven,
      {
        key: "Dose",
        value: vaccine.dose | formatDose(vaccination)
      } if vaccineGiven,
      {
        key: "Site",
        value: vaccination.otherSite or vaccination.site
      } if vaccineGiven and vaccination.site,
      {
        key: "Date",
        value: "Today (" + "today" | govukDate + ")"
      } if vaccineGiven,
      {
        key: "Time",
        value: "now" | govukTime
      } if vaccineGiven,
      {
        key: "Location",
        value: session.location
      } if vaccineGiven,
      {
        key: "Vaccinator" if vaccineGiven else "Nurse",
        value: data.user.fullName + ", " + data.user.registration
      },
      {
        key: "Protocol",
        value: "Patient Group Directions"
      } if vaccineGiven,
      {
        key: "Notes",
        value: vaccination.notes | default("None", true)
      } if vaccination.notes
    ])
  }) if patient.outcome != PATIENT_OUTCOME.NO_OUTCOME_YET }}

  {% if patient.outcome == PATIENT_OUTCOME.NO_OUTCOME_YET %}
    {{ triageSummaryList | safe  }}
  {% else %}
    {{ details({
      text: "Triage outcome",
      HTML: triageSummaryList
    }) if lastTriageEvent }}
  {% endif %}
{% endset %}

{{ card({
  classes: "app-card--" + outcome(patient).colour,
  heading: outcome(patient).text,
  headingClasses: "nhsuk-heading-m",
  descriptionHtml: descriptionHtml,
  feature: true
}) }}
