{% set descriptionHtml %}
  {% set description = outcome(patient, consentRecord).description %}
  {% if description %}
    <p>{{ description }}</p>
  {% endif %}

  {% set vaccineSummary %}
    {% set vaccine = data.vaccines[vaccination.vaccineId] %}
    {% set batch = vaccine.batches[vaccination.batchId] %}
    {{ vaccine.summary | replace(")", "") }}, {{ batch.id }})
  {% endset %}

  {{ summaryList({
    rows: decorateRows([
      {
        key: "Reason",
        value: vaccination.outcome or patient.triage.outcome or patient.consent.outcome
      } if not vaccineGiven,
      {
        key: "Refusal " + (patient.consent.refusalReasonsDetailed.length | plural("reason", showNumber=false)),
        value: {
          html: patient.consent.refusalReasonsDetailed.join("<br>")
        }
      } if not vaccineGiven and patient.consent.refusalReasonsDetailed,
      {
        key: "Vaccine",
        value: vaccineSummary
      } if vaccineGiven,
      {
        key: "Dose",
        value: vaccine.dose | formatDose(vaccination)
      } if vaccineGiven,
      {
        key: "Site",
        value: vaccination.otherSite or vaccination.site
      } if vaccineGiven and vaccination.site,
      {
        key: "Date",
        value: "Today (" + "today" | govukDate + ")"
      },
      {
        key: "Time",
        value: "now" | govukTime
      },
      {
        key: "Location",
        value: session.location
      },
      {
        key: "Vaccinator",
        value: "You (" + data.user.fullName + ")"
      },
      {
        key: "Notes",
        value: vaccination.notes | default("None", true)
      } if vaccineGiven
    ])
  }) if patient.outcome != PATIENT_OUTCOME.NO_OUTCOME_YET }}
{% endset %}

{{ card({
  classes: "app-card--" + outcome(patient, consentRecord).colour,
  heading: outcome(patient, consentRecord).text,
  headingClasses: "nhsuk-heading-m",
  descriptionHtml: descriptionHtml,
  feature: true
}) }}
