{% extends "layouts/wizard.html" %}
{% set vaccineGiven = data['flu-vaccination'][patient.nhsNumber]['given'] !== 'No' %}
{% set title = "Check and confirm vaccination details" if vaccineGiven else "Confirm the vaccine was not given" %}
{% set buttonText = "Confirm" %}

{% block form %}
  <h1 class="nhsuk-heading-l">{{ title }}</h1>

  {{ govukSummaryList({
    classes: "app-u-frutiger",
    rows: decorateRows([
      {
        key: 'Patient',
        value: patient.fullName
      },
      {
        key: 'Vaccine',
        data: 'vaccines.fluSpray.summary'
      },
      {
        key: 'Vaccine given',
        value: data['flu-vaccination'][patient.nhsNumber]['given'],
        href: '/flu-vaccination/' + patient.nhsNumber + '/has-it-been-given'
      },
      {
        key: 'Site',
        value: 'Nasal'
      } if vaccineGiven,
      {
        key: 'Reason',
        value: data['flu-vaccination'][patient.nhsNumber]['why-not-given'],
        href: '/flu-vaccination/' + patient.nhsNumber + '/not-given'
      } if not vaccineGiven,
      {
        key: 'Date',
        value: 'Today (' + "today" | govukDate + ')',
        href: '#'
      },
      {
        key: 'Time',
        value: "now" | govukTime,
        href: '#'
      } if vaccineGiven,
      {
        key: 'Location',
        data: 'campaign.location',
        href: '#'
      },
      {
        key: 'Vaccinator',
        value: 'You (' + data.user.name + ')',
        href: '#'
      }
    ])
  }) }}
{% endblock %}
