{% extends "layouts/wizard.html" %}
{% set title = "Record a flu vaccination" %}

{% block form %}
  <h1 class="nhsuk-heading-l">{{ title }}</h1>

  {% set html %}
    {{ summaryList({
      classes: "app-summary-list--no-bottom-border nhsuk-u-margin-bottom-0",
      rows: decorateRows([
        {
          key: "Vaccine",
          value: d("vaccines.fluSpray.type") | capitaliseFirstLetter
        },
        {
          key: "Brand",
          value: d("vaccines.fluSpray.brand") + ' (' + d("vaccines.fluSpray.method") + ')'
        },
        {
          key: "Batch",
          data: "vaccines.fluSpray.batch"
        }
      ])
    }) }}
  {% endset %}

  {{ card({
    heading: "",
    headingLevel: "2",
    headingClasses: "nhsuk-heading-m nhsuk-u-margin-bottom-1",
    HTML: html,
    classes: "nhsuk-u-margin-bottom-4"
  })}}

  {{ radios({
    fieldset: {
      legend: {
        classes: "nhsuk-fieldset__legend--m",
        text: "Are these details correct?"
      }
    },
    items: [{
      text: "Yes",
      value: "Yes"
    }, {
      text: "No, I need to change something",
      value: "No"
    }],
    decorate: ["flu-vaccination", patient.nhsNumber, "vaccine-correct"]
  }) }}

{% endblock %}
