{% macro notes(items) -%}
<ul class="nhsuk-list">
{% for item in items | reverse %}
  <li>
    <p class="nhsuk-u-margin-bottom-1">{{ item.note | nl2br | safe }}</p>
    <p class="nhsuk-u-secondary-text-color nhsuk-u-font-size-16 {% if loop.last %}nhsuk-u-margin-bottom-0{% endif %}">{{ item.user.fullName }}, {{ item.date | govukDate }} at {{ item.date | govukTime }}</p>
  </li>
{% endfor %}
</ul>
{% endmacro %}
