{% from "tag/macro.njk" import tag %}
{% from "_macros/icon.njk" import icon %}

{% macro sessions(sessions, isOffline) %}
<table class="nhsuk-table">
  <caption class="nhsuk-table__caption nhsuk-u-font-size-32">{{ sessions[0].type }}</caption>
  <thead class="nhsuk-table__head">
    <tr class="nhsuk-table__row">
      <th class="nhsuk-table__header">Date</th>
      <th class="nhsuk-table__header">Time</th>
      <th class="nhsuk-table__header">School</th>
      {% if isOffline %}<th class="nhsuk-table__header"></th>{% endif %}
    </tr>
  </thead>
  <tbody class="nhsuk-table__body">
    {% for session in sessions %}
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell app-u-width-one-fifth app-u-nowrap">
          {{ session.date | govukDate("truncate") }}
        </td>
        <td class="nhsuk-table__cell app-u-width-one-fifth">
          {{ session.date | govukTime }}
        </td>
        <td class="nhsuk-table__cell">
          {% if session.inProgress %}
            <p class="nhsuk-u-margin-bottom-2">{{ tag({
              classes: "nhsuk-tag--blue",
              text: "Session in progress"
            }) }}</p>
          {% endif %}
          <p class="nhsuk-u-margin-bottom-0 nhsuk-u-secondary-text-color">
            <a href="/sessions/{{ session.id }}">{{ session.school.name }}</a><br>{{ session.school.town }}, {{ session.school.postcode }}
          </p>
        </td>
        {% if isOffline %}
          <td class="nhsuk-table__cell nhsuk-u-text-align-right">
            {% if session["available-offline"] %}
              <span class="app-status app-status--green">
                {{ icon("tick") }} Available offline
              </span>
            {% else %}
              <span class="nhsuk-hint nhsuk-u-margin-bottom-0">
                Unavailable
              </span>
            {% endif %}
          </td>
        {% endif %}
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endmacro %}
