{% from "tag/macro.njk" import tag %}
{% from "_macros/icon.njk" import icon %}

{% macro sessions(campaigns, isOffline) %}
<table class="nhsuk-table">
  <caption class="nhsuk-table__caption nhsuk-u-font-size-32">{{ campaigns[0].type }}</caption>
  <thead class="nhsuk-table__head">
    <tr class="nhsuk-table__row">
      <th class="nhsuk-table__header">Date</th>
      <th class="nhsuk-table__header">Time</th>
      <th class="nhsuk-table__header">School</th>
      {% if isOffline %}<th class="nhsuk-table__header"></th>{% endif %}
    </tr>
  </thead>
  <tbody class="nhsuk-table__body">
    {% for campaign in campaigns %}
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell app-u-width-one-fifth app-u-nowrap">
          {{ campaign.date | govukDate("truncate") }}
        </td>
        <td class="nhsuk-table__cell app-u-width-one-fifth">
          {{ campaign.date | govukTime }}
        </td>
        <td class="nhsuk-table__cell">
          <a class="nhsuk-u-margin-right-2" href="/sessions/{{ campaign.id }}">{{ campaign.school.name }}</a>
          {{ tag({
            classes: "nhsuk-tag--blue",
            text: "In progress"
          }) if campaign.inProgress }}
        </td>
        {% if isOffline %}
          <td class="nhsuk-table__cell nhsuk-u-text-align-right">
            {% if campaign["available-offline"] %}
              <span class="app-status app-status--green">
                {{ icon("tick") }} Available offline
              </span>
            {% else %}
              <span class="nhsuk-hint nhsuk-u-margin-bottom-0">
                Unavailable
              </span>
            {% endif %}
          </td>
        {% endif %}
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endmacro %}
