{% extends "template.njk" %}
{% from "_macros/events-list.njk" import eventsList %}
{% from "_macros/heading.njk" import heading %}
{% from "_macros/icon.njk" import icon %}
{% from "_macros/notes.njk" import notes %}
{% from "_macros/sessions.njk" import sessions %}

{% block head %}
  <link rel="stylesheet" href="/public/application.css" media="all">
  <script src="/public/application.js" defer></script>
{% endblock %}

{% block pageTitle %}
  {{- "Error: " if errors -}}
  {{- title + " - " if title -}}
  {{- serviceName + " - NHS.UK" -}}
{% endblock %}

{% set bodyAttributes = {"data-module": "edge"} %}

{% block header %}
  {% if isOffline %}
    <div class="app-offline-banner">
      <div class="nhsuk-width-container">
        <span class="nhsuk-u-font-weight-bold nhsuk-u-font-size-19 nhsuk-u-margin-right-3">You are working offline</span>
        <a href="/help-offline" class="nhsuk-link nhsuk-text-colour">Help working offline</a>
      </div>
    </div>
  {% endif %}

  {{ header({
    classes: "app-header",
    service: {
      name: serviceName,
      href: "/dashboard" if data.token else "/"
    },
    homeHref: "/dashboard" if data.token else "/",
    showNav: "true" if data.token else "false",
    showSearch: "false",
    primaryLinks: [
      {
        url: "/sessions",
        label: "School sessions"
      },
      {
        url: "/vaccines",
        label: "Manage vaccines"
      },
      {
        url: "/users",
        label: "Manage team"
      },
      {
        url: "#",
        label: "Your account"
      },
      {
        url: "/account/sign-out",
        label: "Sign out"
      }
    ]
  }) }}
{% endblock %}

{% block footer %}
  {{ footer({
    links: [
      {
        URL: "/clear-session-data",
        label: "Clear session data"
      },
      {
        URL: "/feature-flags",
        label: "Feature flags"
      },
      {
        URL: "/go-offline" if data.features.offline.on === false else "/go-online",
        label: "Go offline" if data.features.offline.on === false else "Go online"
      }
    ],
    linksColumn2: [
      {
        URL: "/go/in-progress",
        label: "In progress session"
      },
      {
        URL: "/go/record",
        label: "Record vaccinations"
      },

      {
        URL: "/go/triage",
        label: "Triage"
      },
      {
        URL: "/go/in-progress-triage",
        label: "In progress triage"
      }
    ],
    linksColumn3: [
      {
        URL: "/scenarios/office",
        label: "Scenario 1"
      },
      {
        URL: "/scenarios/offline",
        label: "Scenario 2"
      },
      {
        URL: "/scenarios/back-online",
        label: "Scenario 3"
      }
    ],
    metaLinks: [
      {
        URL: "https://consent-prototype.herokuapp.com",
        label: "Consent prototype"
      },
      {
        URL: "https://childhood-vaccinations.designhistory.app",
        label: "Design history"
      }
    ]
  }) }}
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  {% if patient %}
    <script>console.log('Patient', {{ patient | dump | safe }});</script>
  {% endif %}
  {% if vaccination %}
    <script>console.log('Vaccination', {{ vaccination | dump | safe }});</script>
  {% endif %}
  {% if consentRecord %}
    <script>console.log('Consent record', {{ consentRecord | dump | safe }});</script>
  {% endif %}
{% endblock %}
