{% set descriptionHtml %}
  {% for response in patient.responses %}
    {% set detailsHtml %}
      {% include "campaign/patient/_response-summary.html" %}

      {{ button({
        classes: "nhsuk-button--secondary nhsuk-u-margin-bottom-3",
        href: "/consent/" + campaign.id + "/" + patient.nhsNumber + "/consent?responseId=" + loop.index0,
        text: "Check refusal"
      }) if response.status == RESPONSE_CONSENT.REFUSED }}
    {% endset %}

    {{ details({
      attributes: { open: true } if patient.outcome == PATIENT_OUTCOME.NO_OUTCOME_YET,
      text: responseHeading(response),
      HTML: detailsHtml
    }) }}
  {% else %}
    <p>No responses yet.</p>
  {% endfor %}

  {{ details({
    text: "Responses to health questions",
    attributes: { open: true } if patient.triage.outcome == TRIAGE_OUTCOME.NEEDS_TRIAGE,
    HTML: summaryList({
      classes: "app-summary-list--full-width",
      rows: healthAnswerRows(campaign, patient.responses)
    }),
    classes: "nhsuk-expander"
  }) if patient.consent.outcome == CONSENT_OUTCOME.GIVEN }}

  {% if patient.consent.notes.length %}
    <hr>
    <h3 class="nhsuk-heading-s">Consent log</h3>
    {{ notes(patient.consent.notes) }}
  {% endif %}

  {% if not patient.responses.length %}
    {#- Add a new response to any existing -#}
    {{ input({
      name: "responseId",
      value: patient.responses.length,
      type: "hidden"
    }) }}

    {{ button({
      classes: "nhsuk-u-margin-bottom-0",
      text: "Get consent",
      value: "Yes",
      decorate: ["vaccination", campaign.id, patient.nhsNumber, "get-consent"]
    }) }}

    {{ button({
      classes: "nhsuk-button--secondary nhsuk-u-margin-bottom-0",
      text: "Assess Gillick competence",
      value: "Gillick",
      decorate: ["vaccination", campaign.id, patient.nhsNumber, "get-consent"]
    }) if not (campaign.type == "Flu") }}
  {% endif %}
{% endset %}

{{ card({
  heading: "Consent",
  headingClasses: "nhsuk-heading-m",
  descriptionHtml: descriptionHtml
}) | formCard }}
