{% set descriptionHtml %}
  <p>
    <a href="#">Change</a>
  </p>
  {% set isGillickCompetent = consentRecord["gillick-competent"] === "Yes" %}

  {{ summaryList({
    rows: decorateRows([
      {
        key: "Assessment",
        value: {
          html: "Assessed by " + data.user.fullName + "<br>" + ("today" | govukDate)
        }
      },
      {
        key: "Gillick competent",
        value: {
          html: consentRecord["gillick-competent"]
        }
      } if consentRecord and consentRecord["gillick-competent"],
      {
        key: "Details",
        value: {
          html: consentRecord["gillick-assessment"]
        }
      } if consentRecord and consentRecord["gillick-assessment"],
      {
        key: "Consent",
        value: "Given by child" if consentRecord.consent === CONSENT_OUTCOME.VALID else "Refused by child"
      } if consentRecord and isGillickCompetent,
      {
        key: "Consent",
        value: "Could not get consent"
      } if not isGillickCompetent
    ])
  }) }}
{% endset %}

{{ card({
  heading: "Gillick competence",
  headingClasses: "nhsuk-heading-m",
  descriptionHtml: descriptionHtml
}) if consentRecord and consentRecord["gillick-competent"] }}
