{% set descriptionHtml %}
  <p>{{ outcome(patient, consentRecord).description }}</p>

  {{ summaryList({
    rows: decorateRows([
      {
        key: "Reason",
        value: patient.consent.outcome or patient.triage.outcome or vaccination.outcome
      } if not vaccineGiven,
      {
        key: "Vaccine",
        value: data.vaccines.batches[vaccination.batch].summary
      } if vaccineGiven,
      {
        key: "Dose",
        value: "1 of 2"
      } if vaccineGiven and campaign.type == "HPV",
      {
        key: "Site",
        value: vaccination.site
      } if vaccineGiven and vaccination.site,
      {
        key: "Date",
        value: "Today (" + "today" | govukDate + ")"
      },
      {
        key: "Time",
        value: "now" | govukTime
      } if vaccineGiven,
      {
        key: "Location",
        value: campaign.location
      },
      {
        key: "Vaccinator",
        value: "You (" + data.user.fullName + ")"
      },
      {
        key: "Notes",
        value: vaccination.notes | default("None", true)
      } if vaccineGiven
    ])
  }) if patient.outcome != PATIENT_OUTCOME.NO_OUTCOME_YET }}
{% endset %}

{{ card({
  classes: "nhsuk-card--" + outcome(patient, consentRecord).colour,
  heading: outcome(patient, consentRecord).text,
  headingClasses: "nhsuk-heading-m",
  descriptionHtml: descriptionHtml,
  feature: true
}) }}
