{{ summaryList({
  rows: decorateRows([
    {
      key: "Name",
      value: {
        html: response.parentOrGuardian.fullName
      },
      href: "#" if showActions
    },
    {
      key: "Relationship",
      value: {
        html: response.parentOrGuardian | relationshipName
      },
      href: "#" if showActions
    } if response.parentOrGuardian.relationship,
    {
      key: "Contact",
      value: {
        html: [response.parentOrGuardian.tel, response.parentOrGuardian.email] | removeEmptyFromArray | join("<br>") or "Not provided"
      },
      href: "#" if showActions
    } if response.parentOrGuardian.tel or response.parentOrGuardian.email,
    {
      key: "Gillick competent?",
      value: response.gillickCompetent + (" – " + response.gillickAssessment if response.gillickAssessment),
      href: "#" if showActions
    } if response.gillickCompetent,
    {
      key: "Response",
      value: {
        html: eventsList(response.events)
      },
      href: "#" if showActions
    },
    {
      key: "Refusal reason",
      value: {
        html: response.refusalReason | default("Personal choice") + (" – " + response.refusalReasonOther if response.refusalReason == "Other")
      },
      href: "#" if showActions
    } if response.status == RESPONSE_CONSENT.REFUSED or
      response.status == RESPONSE_CONSENT.FINAL_REFUSAL
  ])
}) }}
