{% set descriptionHtml %}
  {% for response in patient.responses %}
    {% set detailText %}
      {{ response.status + " by " + response.parentOrGuardian.relationship }} on {{ response.date | govukDate }}
    {% endset %}

    {{ details({
      attributes: { open: true } if patient.outcome == PATIENT_OUTCOME.NO_OUTCOME_YET,
      text: detailText,
      HTML: summaryList({
        rows: decorateRows([
          {
            key: response.parentOrGuardian.relationship,
            value: {
              html: response.parentOrGuardian.fullName
            }
          },
          {
            key: "Contact details",
            value: {
              html: [response.parentOrGuardian.tel, response.parentOrGuardian.email] | removeEmptyFromArray | join("<br>")
            }
          },
          {
            key: "Type of consent",
            value: response.method
          },
          {
            key: "Reason for refusal",
            value: {
              html: response.refusalReason | default("Personal choice") + (" – " + response.refusalReasonOther if response.refusalReason == "Other")
            }
          } if response.refusalReason
        ])
      })
    }) }}
  {% endfor %}

  {{ details({
    text: "Responses to health questions",
    attributes: { open: true } if patient.consent.answersNeedTriage,
    HTML: summaryList({
      classes: "app-summary-list--full-width",
      rows: healthAnswerRows(campaign, patient)
    }),
    classes: "nhsuk-expander"
  }) }}
{% endset %}

{{ card({
  heading: "Consent responses",
  headingClasses: "nhsuk-heading-m",
  descriptionHtml: descriptionHtml
}) if patient.responses.length }}
