{% extends "_layouts/default.html" %}

{% set title = school.name %}

{% block beforeContent %}
  {{ breadcrumbs({
    items: [
      {
        text: "Home",
        href: "/dashboard"
      },
      {
        text: "Manage schools",
        href: "/schools"
      },
      {
        text: title
      }
    ]
  }) }}
{% endblock %}

{% block content %}
  <h1 class="nhsuk-heading-l">
    {{ title | noOrphans | safe }}
    <span class="nhsuk-caption-l nhsuk-u-margin-top-2">{{ school.address }}, {{ school.town }}. {{ school.postcode }}</span>
  </h1>

  {% set patientsHtml %}
    <table class="nhsuk-table app-table--dense">
      <thead class="nhsuk-table__head">
        <tr class="nhsuk-table__row">
          <th class="nhsuk-table__header">Name</th>
          <th class="nhsuk-table__header">Date of birth</th>
        </tr>
      </thead>
      <tbody class="nhsuk-table__body">
        {% for patient in school.cohort %}
          <tr class="nhsuk-table__row">
            <td class="nhsuk-table__cell">
              <a href="/schools/{{ urn }}">{{ patient.fullName }}</a>
            </td>
            <td class="nhsuk-table__cell">{{ patient.dob | govukDate }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endset %}

  {% set sessionsHtml %}
    {% if not isOffline %}
      {{ button({
        href: "/sessions/new/start",
        text: "Add a new session"
      }) }}
    {% endif %}

    {% set flu = school.sessions | objectToArray | selectFromArray("type", "Flu") %}
    {{ sessions(flu, isOffline, 24) if flu.length }}

    {% set hpv = school.sessions | objectToArray | selectFromArray("type", "HPV") %}
    {{ sessions(hpv, isOffline, 24) if hpv.length }}

    {% set 3in1 = school.sessions | objectToArray | selectFromArray("type", "3-in-1 and MenACWY") %}
    {{ sessions(3in1, isOffline, 24) if 3in1.length }}
  {% endset %}

  {% set responsesHtml %}
    {% set responses = school.unmatchedResponses %}
    {% if responses.length %}
      <table class="nhsuk-table app-table--dense" id="patients">
        <thead class="nhsuk-table__head">
          <tr class="nhsuk-table__row">
            <th class="nhsuk-table__header">Parent or guardian</th>
            <th class="nhsuk-table__header">Child</th>
            <th class="nhsuk-table__header">Date of birth</th>
            <th class="nhsuk-table__header">Response</th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          {% for response in responses %}
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">
                <a href="/schools/{{ school.urn }}/responses/{{ response.id }}">{{ response.parentOrGuardian.fullName }}</a>
              </td>
              <td class="nhsuk-table__cell">
                {{ response.child.fullName }}
                {% if response.child.knownAs %}
                  <br><span class="nhsuk-u-font-size-16">Known as: {{ response.child.knownAs }}</span>
                {% endif %}
              </td>
              <td class="nhsuk-table__cell">
                {{ response.child.dob | govukDate("truncate") }}
              </td>
              <td class="nhsuk-table__cell">
                {{ response.status }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p class="nhsuk-body">There are no unmatched consent responses.</p>
    {% endif %}
  {% endset %}

  {{ tabs({
    items: [
      {
        id: "patients",
        label: "Children (" + school.cohort.length + ")",
        panel: { html: patientsHtml }
      } if school.cohort,
      {
        id: "sessions",
        label: "School sessions (" + school.sessions.length + ")",
        panel: { html: sessionsHtml }
      },
      {
        id: "responses",
        label: "Unmatched consent responses (" + school.unmatchedResponses.length + ")",
        panel: { html: responsesHtml }
      } if school.unmatchedResponses
    ]
  }) }}
{% endblock %}
