.app-consent-banner {
  @include nhsuk-responsive-margin(7, "bottom");
  @include nhsuk-responsive-padding(5);
  @include nhsuk-responsive-padding(4, "bottom");
  @include nhsuk-responsive-padding(4, "top");

  .nhsuk-heading-m {
    margin-bottom: nhsuk-spacing(2);
  }

  :last-child {
    margin-bottom: 0;
  }

  .nhsuk-link {
    color: inherit;
  }

  .nhsuk-icon__tick,
  .nhsuk-icon__cross {
    vertical-align: bottom;
  }

  &--white {
    border: 1px solid $nhsuk-border-color;
    background-color: #ffffff;
  }

  &--green {
    color: #004c23;
    border: 1px solid #004c23;
    background-color: #cce5d8;
  }

  &--aqua-green {
    color: #00524d;
    border: 1px solid #00524d;
    background-color: #ccedeb;
  }

  &--purple {
    color: #240050;
    border: 1px solid #240050;
    background-color: #d6cce3;
  }

  &--red {
    color: #6b140e;
    border: 1px solid #6b140e;
    background-color: #f7d4d1;
  }

  &--orange {
    color: #4d3708;
    border: 1px solid #4d3708;
    background-color: #ffdc8e;
  }

  &--blue {
    color: #004281;
    border: 1px solid #004281;
    background-color: #ccdff1;
  }

  &--yellow {
    color: #4d4712;
    border: 1px solid #4d4712;
    background-color: #fff59d;
  }
}
