.app-u-hidden-link {
  text-decoration: none;
  color: inherit !important; // stylelint-disable-line declaration-no-important

  &:hover {
    text-decoration: underline;
  }
}

.app-u-nowrap {
  white-space: nowrap;
}

.app-u-text-decoration-none {
  text-decoration: none;
}

.app-u-width-one-fifth {
  width: 100% !important; // stylelint-disable-line declaration-no-important

  @include mq($from: tablet) {
    width: 20% !important; // stylelint-disable-line declaration-no-important
  }
}
