// GOV.UK Frontend options
$govuk-font-family: "Frutiger W01", arial, sans-serif;
$govuk-global-styles: false;
$govuk-new-link-styles: true;
$govuk-assets-path: "/govuk/assets/";

@import "node_modules/nhsuk-frontend/packages/nhsuk";

// Import GOV.UK Frontend
@import "govuk-frontend/govuk/all";

// Import GOV.UK Prototype Components
@import "@x-govuk/govuk-prototype-components/x-govuk/all";

// Import email layout
@import "email";

// NHS.UK frontend overrides
.nhsuk-summary-list:where(:not(:has(.nhsuk-summary-list__actions))) {
  .nhsuk-summary-list__value {
    @include mq($from: tablet) {
      width: 70%;
    }
  }
}

.nhsuk-summary-list__row:not(:has(.nhsuk-summary-list__actions))::after {
  border-bottom: 1px solid $nhsuk-border-color;
  content: "";
  display: table-cell;
}

.nhsuk-tag {
  &--white {
    font-weight: normal;
    border-style: dashed;
  }
}

.nhsuk-card {
  &--green {
    .nhsuk-card__heading--feature {
      background-color: $color_nhsuk-green;
    }
  }

  &--orange {
    .nhsuk-card__heading--feature {
      background-color: $color_nhsuk-warm-yellow;
      color: $nhsuk-focus-text-color;
    }
  }

  &--purple {
    .nhsuk-card__heading--feature {
      background-color: $color_nhsuk-purple;
    }
  }

  &--red {
    .nhsuk-card__heading--feature {
      background-color: $color_nhsuk-red;
    }
  }
}

// GOV.UK Frontend overrides
.govuk-notification-banner {
  border-color: $color_nhsuk-blue;

  .govuk-notification-banner__header {
    background-color: $color_nhsuk-blue;
  }

  &--success {
    border-color: $color_nhsuk-green;

    .govuk-notification-banner__header {
      background-color: $color_nhsuk-green;
    }
  }
}

// App utilities
.app-u-hidden-link {
  text-decoration: none;
  color: inherit !important;

  &:hover {
    text-decoration: underline;
  }
}

.app-u-nowrap {
  white-space: nowrap;
}

// App components
.app-online-status {
  align-items: center;
  display: inline-flex;
  font-weight: bold;
  gap: nhsuk-spacing(1);

  &--online {
    color: $color_nhsuk-green
  }

  &--offline {
    color: $color_nhsuk-red
  }
}

.app-offline-banner {
  background: #ccdff1;
  padding: nhsuk-spacing(3) 0 nhsuk-spacing(3);

  .nhsuk-link {
    @include nhsuk-link-style-text;
  }
}

.app-summary-list--full-width {
  .nhsuk-summary-list__row {
    border-bottom: 1px solid $nhsuk-border-color;
    display: block;
    margin-bottom: nhsuk-spacing(3);

    &:last-of-type {
      border: none;
      margin-bottom: 0;
    }
  }

  .nhsuk-summary-list__key,
  .nhsuk-summary-list__value,
  .nhsuk-summary-list__actions {
    border: none;
    display: block;
    text-align: left;
    width: 100%;
  }

  .nhsuk-summary-list__key {
    margin-bottom: 0;
  }

  .nhsuk-summary-list__value {
    margin-bottom: nhsuk-spacing(2);
  }
}

.app-table--patients {
  .nhsuk-table__cell {
    padding-top: nhsuk-spacing(2);
    padding-bottom: nhsuk-spacing(2);
    vertical-align: middle;
  }
}

.app-list--filters {
  [aria-current] {
    @include nhsuk-link-style-default;
    @include nhsuk-link-style-text;
    @include nhsuk-typography-weight-bold;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.app-loader {
  @keyframes draw {
    0% {
      stroke-dashoffset: 25;
    }

    100% {
      stroke-dashoffset: 0;
    }
  }

  circle {
    animation: draw 1.5s ease-in-out, pulse 10s ease-in;
    animation-iteration-count: infinite, 1;
    fill: none;
    stroke: $color_nhsuk-blue;
    stroke-width: 1;
    stroke-dasharray: 25;
  }
}
