// GOV.UK Frontend options
$govuk-font-family: "Frutiger W01", arial, sans-serif;
$govuk-global-styles: false;
$govuk-new-link-styles: true;
$govuk-assets-path: "/govuk/assets/";

@import "node_modules/nhsuk-frontend/packages/nhsuk";

// Import GOV.UK Frontend
@import "govuk-frontend/dist/govuk/all";

// Import GOV.UK Prototype Components
@import "@x-govuk/govuk-prototype-components/x-govuk/all";

// Import app components
@import "action-table";
@import "button";
@import "card";
@import "email";
@import "header";
@import "list";
@import "loader";
@import "notification-banner";
@import "offline-banner";
@import "status";
@import "summary-list";
@import "table";
@import "tag";
@import "utilities";

// GOV.UK Frontend overrides
.govuk-file-upload::file-selector-button {
  @extend .nhsuk-button;
  @extend .nhsuk-button--secondary;

  color: $color_nhsuk-white;
  font-weight: bold;
}

// NHS.UK Frontend overrides
.nhsuk-label--s,
.nhsuk-fieldset__legend--s {
  padding-top: nhsuk-spacing(2);
  margin-bottom: nhsuk-spacing(2);
}
