// GOV.UK Frontend options
$govuk-font-family: "Frutiger W01", arial, sans-serif;
$govuk-global-styles: false;
$govuk-new-link-styles: true;
$govuk-assets-path: "/govuk/assets/";
$govuk-border-colour: #d8dde0;

@import "node_modules/nhsuk-frontend/packages/nhsuk";

// Import GOV.UK Frontend
@import "govuk-frontend/dist/govuk/all";

// Import GOV.UK Prototype Components
@import "@x-govuk/govuk-prototype-components/x-govuk/all";

// Import app components
@import "action-table";
@import "button";
@import "card";
@import "email";
@import "header";
@import "list";
@import "loader";
@import "notification-banner";
@import "offline-banner";
@import "status";
@import "summary-list";
@import "table";
@import "tabs";
@import "tag";
@import "utilities";

// GOV.UK Frontend overrides
.govuk-file-upload::file-selector-button {
  @extend .nhsuk-button;
  @extend .nhsuk-button--secondary;

  color: $color_nhsuk-white;
  font-weight: bold;
  margin-bottom: 0;
}

// NHS.UK Frontend overrides
.nhsuk-label,
.nhsuk-fieldset__legend {
  padding-top: nhsuk-spacing(2);
  margin-bottom: nhsuk-spacing(2);
}

// GOV.UK Frontend overrides
.govuk-phase-banner__content__tag {
  background-color: $color_nhsuk-blue;
}

// Highlight code within body copy
li code,
p code,
td code {
  background-color: $color_nhsuk-white;
  color: #d14;
  padding: 2px nhsuk-spacing(2);
  word-break: break-word;
}

// Use NHSUK colour for <mark>
mark {
  background-color: $color_nhsuk-pale-yellow;
}
