{% extends "layouts/email.html" %}

{% set title = "Check and confirm details" %}
{% set subject = "You can now record vaccinations" %}
{% set from = "Manage vaccinations for school-aged children <manage-school-aged-vaccinations@nhs.net>" %}
{% set name = data.users["123"].fullName if data.users["123"] else "Jane Doe" %}
{% set to = name + " <" + data.users["123"].email + ">" if data.users["123"] else false %}

{% block email %}
  <p>Dear {{ name }},</p>
  <p>You can now use the Record children’s vaccinations service.</p>
  <p>Confirm your contact details and set a password by going to:</p>
  <p><a href="#">https://www.manage-school-aged-vaccinations.service.nhs.uk/invitation?w=12345</a></p>
  <p>If you have any problems, contact [contact telephone number]</p>
  <p>[Name of SAIS team]</p>
{% endblock %}
