{%- from "tag/macro.njk" import tag %}
{% if action == ACTION_TAKEN.VACCINATED %}
  {% set color = "green" %}
{% elif action == ACTION_TAKEN.COULD_NOT_GET_CONSENT %}
  {% set color = "red" %}
{% elif action == ACTION_TAKEN.COULD_NOT_VACCINATE %}
  {% set color = "orange" %}
{% elif action == ACTION_TAKEN.REFUSED_CONSENT %}
  {% set color = "red" %}
{% elif action == ACTION_TAKEN.DO_NOT_VACCINATE %}
  {% set color = "red" %}
{% else %}
  {% set color = "white" %}
{% endif %}

{{ tag({
  text: action,
  classes: "nhsuk-tag--" + color + " nhsuk-u-font-size-16 nhsuk-u-width-full"
}) }}
