{%- from "tag/macro.njk" import tag %}
{% if outcome == OUTCOME.VACCINATED %}
  {% set color = "green" %}
{% elif outcome == OUTCOME.NO_CONSENT %}
  {% set color = "red" %}
{% elif outcome == OUTCOME.COULD_NOT_VACCINATE %}
  {% set color = "orange" %}
{% elif outcome == OUTCOME.NO_OUTCOME_YET %}
  {% set color = "white" %}
{% endif %}

{{ tag({
  text: outcome,
  classes: "nhsuk-tag--" + color + " nhsuk-u-font-size-16 nhsuk-u-width-full"
}) }}
