{% set title = "Did they get the " + (campaign.type | lower if campaign.type == "Flu" else campaign.type) + " vaccine?" %}

{{ radios({
  fieldset: {
    legend: {
      text: heading({ caption: child.fullName, title: title }),
      classes: "nhsuk-fieldset__legend--l"
    }
  } if consentJourney,
  items: [{
    text: "Yes, they got the " + (campaign.type | lower if campaign.type == "Flu" else campaign.type) + " vaccine",
    value: VACCINATION_OUTCOME.VACCINATED,
    conditional: {
      html: radios({
        items: [
          { text: VACCINATION_SITE.ARM_LEFT },
          { text: VACCINATION_SITE.ARM_RIGHT },
          { text: VACCINATION_SITE.OTHER }
        ],
        classes: "nhsuk-radios--inline",
        decorate: ["vaccination", campaign.id, child.nhsNumber, "site"]
      })
    } if not campaign.isFlu
  }, {
    text: "No, they did not get it",
    value: false
  }],
  decorate: ["vaccination", campaign.id, child.nhsNumber, "outcome"]
}) }}
