<table class="nhsuk-table">
  <thead class="nhsuk-table__head">
    <tr class="nhsuk-table__row">
      <th class="nhsuk-table__header">Date</th>
      <th class="nhsuk-table__header">Time</th>
      <th class="nhsuk-table__header" style="width: 50%">School</th>
      <th class="nhsuk-table__header nhsuk-u-text-align-right" style="width: 25%"></th>
    </tr>
  </thead>
  <tbody class="nhsuk-table__body">
    {% for id, c in data.campaigns %}
      {% if c.type === type %}
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell">
          {{ c.date | govukDate("truncate") }}
        </td>
        <td class="nhsuk-table__cell">
          {{ c.date | govukTime }}
        </td>
        <td class="nhsuk-table__cell">
            <a href="/campaign/{{ c.id }}">{{ c.school.name }}</a>
        </td>
        <td class="nhsuk-table__cell nhsuk-u-text-align-right">
          {% if c["available-offline"] %}
            <span class="app-online-status app-online-status--online">
              {{ appIcon({ type: "tick" }) }} Available offline
            </span>
          {% elseif isOffline %}
            <span class="nhsuk-hint nhsuk-u-margin-bottom-0">Unavailable</span>
          {% endif %}
        </td>
      </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>
