<table class="nhsuk-table">
  <thead class="nhsuk-table__head">
    <tr class="nhsuk-table__row">
      <th class="nhsuk-table__header">Date</th>
      <th class="nhsuk-table__header">Time</th>
      <th class="nhsuk-table__header">School</th>
      {% if not campaign["available-offline"] or not isOffline %}
        <th class="nhsuk-table__header nhsuk-u-text-align-right"></th>
      {% endif %}
    </tr>
  </thead>
  <tbody class="nhsuk-table__body">
    {% for id, campaign in data.campaigns %}
      {% if campaign.type === type %}
      <tr class="nhsuk-table__row">
        <td class="nhsuk-table__cell app-u-nowrap">
          {{ campaign.date | govukDate("truncate") }}
        </td>
        <td class="nhsuk-table__cell">
          {{ campaign.date | govukTime }}
        </td>
        <td class="nhsuk-table__cell">
            <a href="/campaign/{{ id }}">{{ campaign.school.name }}</a>
        </td>
        {% if campaign["available-offline"] %}
          <td class="nhsuk-table__cell nhsuk-u-text-align-right">
            <span class="app-online-status app-online-status--online">
              {{ icon("tick") }} Available offline
            </span>
          </td>
        {% elseif isOffline %}
          <td class="nhsuk-table__cell nhsuk-u-text-align-right">
            <span class="nhsuk-hint nhsuk-u-margin-bottom-0">Unavailable</span>
          </td>
        </td>
        {% endif %}
      </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>
