{% extends "_layouts/default.html" %}

{% set title = "You’re back online" %}

{% block content %}
  {{ appHeading({ title: title }) }}

  {% if totalOfflineChangesCount == 1 %}
    <p>1 offline change needs syncing.</p>
  {% else %}
    <p>{{ totalOfflineChangesCount }} offline changes need syncing.</p>
  {% endif %}

  {{ button({
    text: "Sync your changes" if totalOfflineChangesCount > 1 else "Sync your change",
    href: "/synced-ok",
    classes: "nhsuk-u-margin-bottom-2"
  }) }}

  <hr>
  <p class="nhsuk-u-margin-bottom-2">
    <a href="/dashboard">Continue without syncing</a>
  </p>
  {% if totalOfflineChangesCount == 1 %}
    <p>You will need to sync your change later.</p>
  {% else %}
    <p>You will need to sync your changes later.</p>
  {% endif %}
{% endblock %}
