{% extends "_layouts/default.html" %}

{% set title = serviceName + " (MAVIS)" %}

{% block content %}
  {% if hasOfflineChanges %}
    {{ warningCallout({
      heading: "You have offline changes",
      HTML: "<p>Your offline changes will automatically sync when you’re back&nbsp;online.</p>"
    }) }}
  {% endif %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      {{ heading({ title: title, size: "xl" }) }}

      <h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-1">
        <a href="/sessions">School sessions</a>
      </h2>
      <p class="nhsuk-u-margin-bottom-1">Use this area to:</p>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>create new school sessions</li>
        <li>upload cohort lists</li>
        <li>send emails to parents</li>
        <li>check consent requests</li>
        <li>triage answers to health questions</li>
        <li>record vaccinations</li>
      </ul>

      <h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-1">
        <a href="/vaccines">Manage vaccines</a>
      </h2>
      <p>Add or remove batches</p>

      <h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-1">
        <a href="/reports">Reports</a>
      </h2>
      <p>View service and campaign performance reports</p>

      <hr>

      <h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-1">
        <a href="/pilot">Manage pilot</a>
      </h2>
      <p>Download a list of parents interested in the pilot, and upload a cohort list</p>

      <!--h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-1">
        <a href="/schools">Manage schools</a>
      </h2>
      <p>Add or remove schools</p-->

      <h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-1">
        <a href="/users">Manage team</a>
      </h2>
      <p>Add or remove team members and set permissions</p>

      <h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-1">
        <a href="#">Your account</a>
      </h2>
      <p>Change your email address or password</p>
    </div>
  </div>
{% endblock %}
