{% extends "layouts/default.html" %}
{% set title = "Record children’s vaccinations" %}

{% block main %}
  <div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="main-content" role="main">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
          {% if hasAnyOfflineChanges %}
            {{ warningCallout({
              heading: "You have offline changes",
              HTML: "<p>Your offline changes will automatically sync when you’re back&nbsp;online.</p>",
              classes: "nhsuk-u-margin-top-0"
            }) }}
          {% endif %}

          <h1 class="nhsuk-heading-xl">{{ title | noOrphans | safe }}</h1>

          <!-- <div class="nhsuk-card">
            <div class="nhsuk-card__content"> -->
              <h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-1">
                <a href="/school-sessions">School sessions</a>
              </h2>
              <p>Manage sessions and record vaccinations</p>

              <hr />

              <h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-1">
                <a href="#">Your account</a>
              </h2>
              <p>Change your email address or password</p>

              <h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-1">
                <a href="/manage-users">Manage team</a>
              </h2>
              <p>Add or remove team members and set permissions</p>
            <!-- </div>
          </div> -->
        </div>
      </div>
    </main>
  </div>
{% endblock %}
