{% extends "layouts/default.html" %}
{% set title = "You’re signed in as " + data.user.name %}

{% block content %}
  <form action="/dashboard" method="post">
    {{ appHeading({ title: title, size: "xl" }) }}

    <p>You’re using these details:</p>

    {{ summaryList({
      rows: decorateRows([
        {
          key: "Activity",
          value: {
            html: "Flu campaign at St Mary’s Primary School"
          },
          href: "#"
        },
        {
          key: "Vaccines",
          value: "Fluenz Tetra, " + d("vaccines.fluSpray.batch"),
          href: "#"
        },
        {
          key: "Vaccinator",
          value: "You (Jane Doe)",
          href: "#"
        }
      ])
    }) }}

    {{ button({
      text: "Continue",
      href: "/campaign/flu"
    }) }}
  </form>
{% endblock %}
