{% extends "_layouts/default.html" %}

{% set title = "Enter your code to begin working offline" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post">
        {{ input({
          label: {
            text: title,
            isPageHeading: true,
            classes: "nhsuk-label--l nhsuk-u-margin-bottom-2"
          },
          hint: {
            text: "Your code is 3 words, it is not case sensitive.",
            classes: "nhsuk-u-margin-bottom-2"
          },
          type: "text",
          classes: "nhsuk-input--width-20",
          decorate: "confirm-offline-password"
        }) }}

        <p>
          <a href="#">I’ve forgotten my code</a>
        </p>

        {{ button({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
