{% extends "layouts/default.html" %}

{% set title = "Record children’s vaccinations" %}

{% block main %}
  <div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="main-content" role="main">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <h1 class="nhsuk-heading-xl">{{ serviceName + " prototype" }}</h1>

          <ul class="nhsuk-list">
            <li><a href="/start">Start page</a></li>
            <li><a href="/dashboard">Signed in dashboard</a></li>
            <li><a href="/go/record-vaccinations">Record vaccinations view</a></li>
          </ul>

          <h2 class="nhsuk-heading-m">Other prototypes</h2>

          <p>
            <a href="https://consent-prototype.herokuapp.com/">Consent prototypes</a>
          </p>

          <h2 class="nhsuk-heading-m">Design history</h2>
          <p>
            <a href="http://good-machine-design-history.herokuapp.com/">Design history</a>
          </p>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
