{% extends "layouts/default.html" %}

{% set title = "Manage vaccinations for school-aged children" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      {{ appHeading({ title: serviceName + " prototype", size: "xl" }) }}

      <ul class="nhsuk-list">
        <li><a href="/start">Start page</a></li>
        <li><a href="/dashboard">Signed in dashboard</a></li>
        <li><a href="/go/record-vaccinations">Record vaccinations view</a></li>
        <li><a href="/go/in-progress">In progress session</a></li>
        <li><a href="/go/in-progress-triage">In progress triage</a></li>
        <li><a href="/go/triage">Triage view</a></li>
      </ul>

      <h2 class="nhsuk-heading-m">Other prototypes</h2>
      <p>
        <a href="https://consent-prototype.herokuapp.com/">Give or refuse consent for vaccinations</a>
      </p>

      <h2 class="nhsuk-heading-m">Design history</h2>
      <p>
        <a href="https://childhood-vaccinations.designhistory.app/">Design history</a>
      </p>
    </div>
  </div>
{% endblock %}
