{% extends "layouts/default.html" %}
{% set title = "Manage users" %}

{% block pageNavigation %}
  {{ breadcrumb({
    text: "Home",
    href: "/dashboard"
  }) }}
{% endblock %}

{% block main %}
  <div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="main-content" role="main">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">

          <h1 class="nhsuk-heading-xl">
            {{ title | noOrphans | safe }}
          </h1>

          <table class="nhsuk-table">
            <thead class="nhsuk-table__head">
              <tr class="nhsuk-table__row">
                <th class="nhsuk-table__header">Name</th>
                <th class="nhsuk-table__header">Email address</th>
              </tr>
            </thead>
            <tbody class="nhsuk-table__body">
              {% for user in data.users %}
                <tr class="nhsuk-table__row">
                  <td class="nhsuk-table__cell">
                    <a href="#">{{ user.fullName }}</a>
                  </td>
                  <td class="nhsuk-table__cell">{{ user.email }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
