{% extends "layouts/default.html" %}
{% set title = "Create a password to protect your offline changes" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="nhsuk-heading-l">{{ title | noOrphans | safe }}</h1>

          <p>Before you can work offline, you need to create a password. We’ll use this to keep your offline changes secure.</p>

          <h2 class="nhsuk-heading-m">Create your password</h2>

          <p>Keep a safe record of your password. It’s best practice to let your browser save your password.</p>

          {{ input({
            label: {
              text: "Offline password",
              classes: "nhsuk-label--s nhsuk-u-margin-bottom-2"
            },
            hint: {
              text: "Your password must be at least 12 characters long"
            },
            type: "password",
            classes: "nhsuk-input--width-20",
            decorate: "offline-password"
          }) }}

          {{ input({
            label: {
              text: "Confirm offline password",
              classes: "nhsuk-label--s nhsuk-u-margin-bottom-2"
            },
            type: "password",
            classes: "nhsuk-input--width-20",
            decorate: "confirm-offline-password"
          }) }}

          {{ button({
            text: "Save password"
          }) }}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
