{% extends "_layouts/default.html" %}

{% set title = "You are vaccinating in a school session where there is no internet access" %}

{% block skipLink %}{% endblock %}
{% block header %}{% endblock %}

{% block content %}
  <form class="nhsuk-u-reading-width" method="post">
    {{ appHeading({ title: title, caption: "Scenario", size: "xl" }) }}

    <p>You need to use the information you’ve saved while in the office.</p>

    {{ button({
      text: "Continue"
    }) }}
  </form>
{% endblock %}
