{% extends "_layouts/default.html" %}

{% set title = "You are in the office before leaving for a school session" %}

{% block skipLink %}{% endblock %}
{% block header %}{% endblock %}

{% block content %}
  <form class="nhsuk-u-reading-width" method="post">
    {{ appHeading({ title: title, caption: "Scenario", size: "xl" }) }}

    <p>You know that the school you are visiting does not have internet.</p>

    <p>You need to make the information you’ll use available offline.</p>

    {{ button({
      text: "Continue"
    }) }}
  </form>
{% endblock %}
