{% extends "_layouts/default.html" %}

{% set title = "School sessions" %}

{% block outerContent %}
  {{ breadcrumb({
    text: "Home",
    href: "/dashboard"
  }) }}
{% endblock %}

{% block content %}
  {{ warningCallout({
    heading: "You have offline changes",
    HTML: "<p>Your offline changes will upload when you’re back&nbsp;online.</p>",
    classes: "nhsuk-u-margin-top-0"
  }) if hasAnyOfflineChanges }}

  {{ heading({ title: title, size: "xl" }) }}

  {% if not isOffline %}
    <p><a href="/campaign/new/start">Add a session</a></p>
  {% endif %}

  {% set flu = data.campaigns | objectToArray | selectFromArray("type", "Flu") %}
  {{ sessions(flu, isOffline) if flu.length }}

  {% set hpv = data.campaigns | objectToArray | selectFromArray("type", "HPV") %}
  {{ sessions(hpv, isOffline) if hpv.length }}

  {% set 3in1 = data.campaigns | objectToArray | selectFromArray("type", "3-in-1 and MenACWY") %}
  {{ sessions(3in1, isOffline) if 3in1.length }}
{% endblock %}
