{% extends "_layouts/default.html" %}

{% set title = "You’ll need to use a code to make offline changes" %}

{% block outerContent %}
  {{ backLink({
    href: "/sessions/" + sessionId,
    classes: "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ heading({ title: title }) }}

      <p>Make a copy of this code and keep it safe, we will ask you for it when you are working offline.</p>

      {% set descriptionHtml %}
        <p>
          <code class="nhsuk-u-font-size-24 nhsuk-u-font-weight-bold">tomato-lettuce-pear</code>
        </p>
        <p>
          <a href="#">Get a different code</a>
        </p>
      {% endset %}

      {{ card({
        heading: "Your code:",
        headingClasses: "nhsuk-heading-xs nhsuk-u-font-weight-normal",
        descriptionHtml: descriptionHtml
      }) }}

      <form method="post">
        {{ input({
          label: {
            text: "Confirm your code",
            classes: "nhsuk-label--s"
          },
          type: "text",
          classes: "nhsuk-input--width-20",
          decorate: "offline-code"
        }) }}

        {{ button({
          text: "Confirm and continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
