{% extends "layouts/default.html" %}
{% set title = "You’ll need to use a code to make offline changes" %}

{% block pageNavigation %}
<div class="nhsuk-width-container">
  {{ backLink({
    href: "/campaign/" + campaignId,
    classes: "nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-0"
  }) }}
</div>
{% endblock %}

{% block main %}
  <div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="main-content" role="main">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <h1 class="nhsuk-heading-l">{{ title | noOrphans | safe }}</h1>

              <p>Make a copy of this code and keep it safe, we will ask you for it when you are working offline.</p>

              <div class="nhsuk-card nhsuk-u-margin-bottom-4">
                <div class="nhsuk-card__content">
                  <p class="nhsuk-u-margin-bottom-0">Your code:</p>
                  <h3 class="nhsuk-card__heading nhsuk-u-padding-top-0 nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-4">
                    tomato-lettuce-pear
                  </h3>
                  <p class="nhsuk-u-margin-top-0">
                    <a href="#">Get a different code</a>
                  </p>
                </div>
              </div>

              <form method="post">
                {{ input({
                  label: {
                    text: "Confirm your code",
                    classes: "nhsuk-label--s nhsuk-u-margin-bottom-2"
                  },
                  type: "text",
                  classes: "nhsuk-input--width-20",
                  decorate: "offline-code"
                }) }}

                {{ button({
                  text: "Confirm and continue"
                }) }}
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
