{% extends "_layouts/default.html" %}

{% set title = "Sign in" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <form action="/dashboard" method="post">
        {{ heading({ title: title, size: "xl" }) }}

        {{ input({
          label: {
            text: "Email address"
          },
          decorate: "user.email"
        }) }}

        {{ input({
          label: {
            text: "Password"
          },
          type: "password",
          decorate: "user.password"
        }) }}

        <p><a href="#">I’ve forgotten my password</a></p>

        {{ button({
          text: "Sign in"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
