{% extends "layouts/default.html" %}
{% set title = "3 changes had a problem" %}

{% block main %}
  <div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="main-content" role="main">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <h1 class="nhsuk-heading-l">{{ title | noOrphans | safe }}</h1>

          <p>Sometimes, two people can change the same record in different ways. This creates a conflict.</p>

          <p>Our support team are now working to resolve the conflict. This is normally simple and quick.</p>

          <p>The team will get in touch if they need more information. They’ll also let you know when the problems are fixed.</p>

          <p>Your changes are safe and no data has been lost.</p>

          {% set problemsHtml %}
            <ul class="govuk-list">
              <li><a href="#">Bobby Doe</a></li>
              <li><a href="#">Sally Fields</a></li>
              <li><a href="#">Jo Hendrix</a></li>
            </ul>
          {% endset %}

          {{ details({
            text: "See which changes had a problem",
            HTML: problemsHtml,
            classes: "nhsuk-u-margin-bottom-6"
          }) }}

          <h2 class="nhsuk-heading-m">Everything else synced successfully</h2>

          {% set everythingHtml %}
            <ul class="govuk-list">
              <li>
                <a href="#">29 March – Hele’s Secondary School</a><br />
                120 changes
              </li>
            </ul>
          {% endset %}

          {{ details({
            text: "See your synced changes",
            HTML: everythingHtml,
            classes: "nhsuk-u-margin-bottom-6"
          }) }}

          {{ button({
            classes: "nhsuk-u-margin-top-4",
            text: "Finish",
            href: "/dashboard"
          }) }}

          <p>
            If you have any questions you can contact:<br >
            <a href="#">{{ data.support }}</a>
          </p>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
