{% extends "layouts/default.html" %}
{% set title = "Your offline changes have synced successfully" %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <div id="syncing-changes">
        {{ appHeading({ title: "Syncing your changes" }) }}

        <svg class="loader" viewBox="0 0 50 50">
          <circle class="circle" cx="25" cy="25" r="20" stroke="#005eb8" stroke-width="5" fill="none"></circle>
        </svg>
      </div>

      <div id="changes-synced" style="display: none">
        {{ appHeading({ title: title }) }}

        {% set everythingHtml %}
        <ul class="govuk-list">
          <li>
            <a href="#">29 March – Hele’s Secondary School</a><br>
            120 changes
          </li>
        </ul>
      {% endset %}

      {{ details({
        text: "See your synced changes",
        HTML: everythingHtml,
        classes: "nhsuk-u-margin-bottom-6"
      }) }}

        {{ button({
          text: "Continue",
          href: "/dashboard",
          classes: "nhsuk-u-margin-bottom-3"
        }) }}
      </div>
    </div>
  </div>
{% endblock %}

{% block bodyEnd %}
<script>
  setTimeout(function() {
    document.getElementById('syncing-changes').style.display = 'none';
    document.getElementById('changes-synced').style.display = 'block';
  }, 5000);
</script>
{% endblock %}
