{% extends "layouts/default.html" %}
{% set title = "Manage vaccines" %}

{% block outerContent %}
  {{ breadcrumb({
    text: "Home",
    href: "/dashboard"
  }) }}
{% endblock %}

{% block content %}
  {{ appHeading({ title: title }) }}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      {% for vaccine in data.vaccines.brands %}
      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
        <h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-1">{{ vaccine.brand }} ({{ vaccine.vaccine }})</h2>
        <p>
          <a href="#">Add a batch</a>
        </p>

        <table class="govuk-table app-table--no-bottom-border">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" style="width: 30%">Batch</th>
              <th class="govuk-table__header" style="width: 50%">Expiry</th>
              <th class="govuk-table__header"></th>
              <th class="govuk-table__header"></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {% for batch in batches %}
              {% if batch.brand == vaccine.brand %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">{{ batch.name }}</td>
                <td class="govuk-table__cell">{{ batch.expiry | isoDateFromDateInput | govukDate }}</td>
                <td class="govuk-table__cell nhsuk-u-text-align-right">
                  <a href="/vaccines/{{ batch.name }}">Change</a>
                </td>
                <td class="govuk-table__cell nhsuk-u-text-align-right">
                  <a href="#">Move&nbsp;to&nbsp;archive</a>
                </td>
              </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
        </div>
      </div>
      {% endfor %}

      <p class="nhsuk-u-margin-top-6">
        <a href="#" class="nhsuk-button">Add a new vaccine</a>
      </p>

    </div>
  </div>
{% endblock %}
