{% set consentValue %}
  <b>3-in-1</b><br />
  {{ 'Parental consent' if child.consent['3-in-1'] else 'No consent' }}
  <br />
  <p class="nhsuk-u-margin-top-2">
    <b>MenACWY</b>
    <br />
    {{ 'Parental consent' if child.consent['men-acwy'] else 'No consent' }}
  </p>
{% endset %}

<div class="nhsuk-card">
  <div class="nhsuk-card__content">
    {% set parentContactDetailsHtml %}
      <div class="nhsuk-u-margin-top-2 nhsuk-u-font-size-16">
        Telephone: {{ child.parentOrGuardian.telephone }}<br />
        Email: {{ child.parentOrGuardian.email }}
      </div>
    {% endset %}

    {{ summaryList({
      classes: "app-summary-list--no-bottom-border nhsuk-u-margin-bottom-0",
      rows: decorateRows([
        {
          key: 'Name',
          value: child.fullName
        },
        {
          key: 'Known as',
          value: child.preferredName
        } if child.preferredName,
        {
          key: 'Sex',
          value: child.sex
        },
        {
          key: 'Date of birth',
          value: child.dob | govukDate + ' (aged ' + child.age + ')'
        },
        {
          key: 'Consent',
          value: 'Parental'
        } if not campaign.is3in1MenACWY,
        {
          key: 'Consent',
          value: {
            html: consentValue
          }
        } if campaign.is3in1MenACWY,
        {
          key: 'GP',
          value: child.gp
        },
        {
          key: 'NHS Number',
          value: child.nhsNumber | formatNHSNumber
        },
        {
          key: child.parentOrGuardian.relationship,
          value: {
            html: child.parentOrGuardian.fullName + parentContactDetailsHtml
          }
        }
      ])
    }) }}
  </div>
</div>
