{% set healthNotes %}
  {% for question in child.healthQuestions.questions %}
    <h3 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">
      {{ question.question }}
    </h3>
    <p>{{ question.answer }}</p>
  {% endfor %}
{% endset %}

{% set healthNotes %}
  {% if child.healthQuestions.triageNotes %}
    <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-2">Triage notes</h2>
    <p>{{ child.healthQuestions.triageNotes }}</p>

    <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-2">Medical history answers</h2>
  {% else %}
    <p>No triage needed</p>
  {% endif %}

  {{ details({
    "text": "Show answers",
    "HTML": healthNotes,
    classes: "nhsuk-expander nhsuk-u-margin-bottom-0"
  }) }}
{% endset %}

{{ card({
  heading: "Medical history",
  headingLevel: "2",
  headingClasses: "nhsuk-heading-m",
  description: healthNotes
}) }}
