{% if not child.consent.both %}
  {% set warningConsentFor %}
    {{ 'the 3-in-1 booster' if child.consent['3-in-1'] == 'Yes' else 'MenACWY' }}
  {% endset %}
  {{ warningCallout({
    heading: "Do not give both vaccines",
    classes: "nhsuk-u-margin-bottom-6",
    HTML: "<p>Consent has only been given for " + warningConsentFor + ".</p>"
  }) }}
{% endif %}

{% set wasGiven %}
  {% set whereMenACWY %}
    {{ radios({
      items: [
        { text: "Left arm" },
        { text: "Right arm" },
        { text: "Other" }
      ],
      classes: "nhsuk-radios--inline",
      decorate: ['vaccination', campaign.id, child.nhsNumber, "where-men-acwy"]
    }) }}
  {% endset %}

  {% set where3in1 %}
    {{ radios({
      items: [
        { text: "Left arm" },
        { text: "Right arm" },
        { text: "Other" }
      ],
      classes: "nhsuk-radios--inline",
      decorate: ['vaccination', campaign.id, child.nhsNumber, "where-3-in-1"]
    }) }}
  {% endset %}

  {{ checkboxes({
    items: [{
      text: "MenACWY",
      value: "men-acwy",
      conditional: {
        html: whereMenACWY
      }
    }, {
      text: "3-in-1 booster",
      value: "3-in-1",
      conditional: {
        html: where3in1
      }
    }, {
      divider: 'or'
    }, {
      text: "None",
      value: "none"
    }],
    formGroup: {
      classes: 'nhsuk-u-margin-bottom-7'
    },
    decorate: ["vaccination", campaign.id, child.nhsNumber, "multi-given"]
  }) }}

  {{ button({
    text: 'Continue',
    classes: 'nhsuk-u-margin-bottom-2'
  }) }}
{% endset %}

<form method="post">
  {{ card({
    heading: "Which vaccines did they get?",
    headingLevel: "2",
    headingClasses: "nhsuk-heading-m",
    description: wasGiven
  }) }}
</form>
