{% if activeFilters %}
<p><a href="?">Remove all filters</a></p>
{% endif %}

{{ input({
  formGroup: {
    classes: "nhsuk-u-margin-top-3"
  },
  label: {
    text: "By name"
  },
  decorate: "search"
}) }}

{% if triaging %}
  <p class="nhsuk-u-margin-bottom-1">By notes</p>
  <ul class="nhsuk-list">
    <li {% if activeFilters.medical == "true" %}class="app-active-filter"{% endif %}>
      <a href="{{ filterPath(activeFilters, "medical", "true") }}">Has notes</a>
    </li>
    <li {% if activeFilters.medical == "false" %}class="app-active-filter"{% endif %}>
      <a href="{{ filterPath(activeFilters, "medical", "false") }}">No notes</a>
    </li>
  </ul>

  <p class="nhsuk-u-margin-bottom-1">By triage status</p>
  <ul class="nhsuk-list">
    {% for key, item in TRIAGE_OUTCOME %}
      {% set active = activeFilters.triageOutcome == key %}
      <li {% if active %}class="app-active-filter"{% endif %}>
        <a href="{{ filterPath(activeFilters, "triage.outcome", key) }}">{{ item }}</a>
      </li>
    {% endfor %}
  </ul>
{% endif %}

<p class="nhsuk-u-margin-bottom-1">By year group</p>
<ul class="nhsuk-list">
  {% for group in campaign.yearGroups %}
    {% set active = activeFilters.year == group.number %}
    <li {% if active %}class="app-active-filter"{% endif %}>
      <a href="{{ filterPath(activeFilters, "year", group.number) }}">
        {{ group.name }}
      </a>
    </li>
  {% endfor %}
</ul>

{% if tab.actionNeededFilter %}
<p class="nhsuk-u-margin-bottom-1">By action needed</p>
<ul class="nhsuk-list">
  {% for key, item in actionsFilter %}
    {% set active = activeFilters.actionNeeded == key %}
    <li {% if active %}class="app-active-filter"{% endif %}>
      <a href="{{ filterPath(activeFilters, "actionNeeded", key) }}">{{ item }}</a>
    </li>
  {% endfor %}
</ul>
{% endif %}

<script>
  function filterTable() {
    var inputValue = document.getElementById('search').value.toLowerCase();
    var rows = document.getElementById('children').querySelectorAll('tbody tr');

    for (var i = 0; i < rows.length; i++) {
      var nameCell = rows[i].getElementsByTagName('td')[0];
      var name = nameCell.textContent || nameCell.innerText;
      if (name.toLowerCase().indexOf(inputValue) > -1) {
        rows[i].style.display = '';
      } else {
        rows[i].style.display = 'none';
      }
    }
  }
  document.getElementById('search').addEventListener('input', filterTable);
</script>
