{% set patient = data.success | patientFromNHSNumber(campaign) %}
{% if noConsent %}
  {% set html %}
    {% if isOffline %}
      <p class="govuk-notification-banner__heading">
        Offline changes saved for {{ patient.fullName }}
      </p>
      <p>
        You will need to go online to sync your changes.
      </p>
    {% else %}
      <p class="govuk-notification-banner__heading">
        Outcome saved for {{ patient.fullName }}
      </p>
    {% endif %}
    <p>
      <a href="/sessions/{{ campaign.id }}/patient/{{ patient.nhsNumber }}">View child record</a>
    </p>
  {% endset %}

  {{ govukNotificationBanner({
    html: html,
    type: "success"
  }) }}
{% elseif success %}
  {% set html %}
    {% if isOffline %}
      <p class="govuk-notification-banner__heading">
        Offline changes saved for {{ patient.fullName }}
      </p>
      <p>
        You will need to go online to sync your changes.
      </p>
    {% else %}
      <p class="govuk-notification-banner__heading">
        Record saved for {{ patient.fullName }}
      </p>
    {% endif %}
    <p>
      <a href="/sessions/{{ campaign.id }}/patient/{{ patient.nhsNumber or success }}">View child record</a>
    </p>
  {% endset %}

  {{ govukNotificationBanner({
    html: html,
    type: "success"
  }) }}
{% endif %}
