<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-quarter">
    {% include "campaign/_filters.html" %}
  </div>
  <div class="nhsuk-grid-column-three-quarters">
    {% if tab.results.length %}
      <table class="nhsuk-table app-children-table" id="children">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header">Name</th>
            <th class="govuk-table__header">
              {{- "Reason for refusal" if isRefusalReasonNeeded else "Date of birth" -}}
            </th>
            <th class="govuk-table__header">
              {{- "Action needed" if tab.actionNeeded else "Outcome" -}}
            </th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for patient in tab.results %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="/campaign/{{ campaign.id }}/child-triage/{{ patient.nhsNumber }}">{{ patient.fullName }}</a>
                {% if patient.knownAs %}
                  <br><span class="nhsuk-u-font-size-16">Known as: {{ patient.knownAs }}</span>
                {% endif %}
              </td>
              <td class="govuk-table__cell nhsuk-u-font-size-16">
                {% if isRefusalReasonNeeded %}
                  {% for reason in patient.consent.refusalReasons %}
                    {{ reason | noOrphans | safe }}
                    {% if not loop.last %}<br>{% endif %}
                  {% endfor %}
                {% else %}
                  {{ patient.dob | govukDate("truncate") }}
                {% endif %}
              </td>
              <td class="govuk-table__cell">
                {{ tag({
                  text: action(patient).text,
                  classes: "nhsuk-tag--" + action(patient).colour + " nhsuk-u-font-size-16 nhsuk-u-width-full"
                }) if tab.actionNeeded else tag({
                  text: outcome(patient).text,
                  classes: "nhsuk-tag--" + outcome(patient).colour + " nhsuk-u-font-size-16 nhsuk-u-width-full"
                }) }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <div style="margin-top: 32px; border: 2px solid #b1b4b6; min-height: 300px">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-heading-l">No results</h2>
          <p>We couldn’t find any children that matched your filters.</p>
          <p><a href="?">Remove filter</a></p>
        </div>
      </div>
    {% endif %}
  </div>
</div>
