<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-quarter">
    {% include "campaign/_filters.html" %}
  </div>
  <div class="nhsuk-grid-column-three-quarters">
    {% if tab.results.length %}
      <table class="nhsuk-table app-table--patients" id="patients">
        <thead class="nhsuk-table__head">
          <tr class="nhsuk-table__row">
            <th class="nhsuk-table__header">Name</th>
            <th class="nhsuk-table__header">
              {{- "Reason for refusal" if isRefusalReasonNeeded else "Date of birth" -}}
            </th>
            <th class="nhsuk-table__header">
              {{- "Action needed" if tab.actionNeeded else "Outcome" -}}
            </th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          {% for patient in tab.results %}
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">
                <a href="/campaign/{{ campaign.id }}/child/{{ patient.nhsNumber }}">{{ patient.fullName }}</a>
                {% if patient.knownAs %}
                  <br><span class="nhsuk-u-font-size-16">Known as: {{ patient.knownAs }}</span>
                {% endif %}
              </td>
              <td class="nhsuk-table__cell nhsuk-u-font-size-16">
                {% if isRefusalReasonNeeded %}
                  {% for reason in patient.consent.refusalReasons %}
                    {{ reason | noOrphans | safe }}
                    {% if not loop.last %}<br>{% endif %}
                  {% endfor %}
                {% else %}
                  {{ patient.dob | govukDate("truncate") }}
                {% endif %}
              </td>
              <td class="nhsuk-table__cell">
                {{ tag({
                  text: action(patient).text,
                  classes: "nhsuk-tag--" + action(patient).colour + " nhsuk-u-font-size-16 nhsuk-u-width-full"
                }) if tab.actionNeeded else tag({
                  text: outcome(patient).text,
                  classes: "nhsuk-tag--" + outcome(patient).colour + " nhsuk-u-font-size-16 nhsuk-u-width-full"
                }) }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      {% set descriptionHtml %}
        <p class="nhsuk-body">We couldn’t find any children that matched your filters.</p>
        <p class="nhsuk-body"><a href="?">Remove filter</a></p>
      {% endset %}
      {{ card({
        heading: "No results",
        descriptionHtml: descriptionHtml
      }) }}
    {% endif %}
  </div>
</div>
