{% set triageStatus = data.triage[campaign.id][child.nhsNumber].status or child.triageStatus %}
{% if triageStatus == TRIAGE.READY %}
  {% set icon = 'tick' %}
  {% set color = 'green' %}
{% elif triageStatus == TRIAGE.NO_CONSENT_RESPONSE %}
  {% set color = 'white' %}
{% elif triageStatus == TRIAGE.REFUSED_CONSENT %}
  {% set icon = 'cross' %}
  {% set color = 'red' %}
{% elif triageStatus == TRIAGE.DO_NOT_VACCINATE %}
  {% set icon = 'cross' %}
  {% set color = 'red' %}
{% elif triageStatus == TRIAGE.NEEDS_FOLLOW_UP %}
  {% set color = 'blue' %}
{% elif triageStatus == TRIAGE.TO_DO %}
  {% set color = 'grey' %}
{% endif %}

<div
  class="app-outcome-tag nhsuk-tag nhsuk-tag--{{ color }}"
  style="width: 100%"
>
  {% if icon %}
    {{ appIcon({ type: icon }) }}
  {% endif %}
  <span class="nhsuk-u-font-size-16">
    {{ triageStatus }}
  </span>
</div>
