{% extends "layouts/default.html" %}
{% set title = child.fullName %}
{% set vaccineGiven = vaccination.outcome == VACCINATION_OUTCOME.VACCINATED %}
{% set isUnknown = child.consent.unknown or child.consent[campaign.type] == CONSENT.UNKNOWN %}
{% set refused = child.consent.refusedBoth or child.consent[campaign.type] == CONSENT.REFUSED %}
{% set consented = not refused and not isUnknown %}

{% block pageNavigation %}
  <div class="nhsuk-width-container">
    {{ backLink({
      href: "/campaign/" + campaign.id + "/children",
      classes: "nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-0"
    }) }}
  </div>
{% endblock %}

{% block main %}
  <div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="main-content" role="main">
      <h1 class="nhsuk-heading-l">{{ title | noOrphans | safe }}</h1>

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          {% if child.outcome == OUTCOME.NO_OUTCOME_YET %}
            {% if campaign.is3in1MenACWY %}
              {% include "campaign/child/_consent-banner-3-in-1.html" %}
            {% else %}
              {% include "campaign/child/_consent-banner.html" %}
            {% endif %}
          {% else %}
            {% include "campaign/child/_outcome-banner.html" %}
          {% endif %}

          {% if child.consent.responses %}
            {% include "campaign/child/_consent-responses.html" %}
          {% endif %}
        </div>
      </div>

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          {% include "campaign/child/_details.html" %}
          {% include "campaign/child/_consent-gillick.html" %}

          {% if consented %}
            {% include "campaign/child/_vaccinate-health-questions.html" %}
            {% include "campaign/child/_triage.html" %}
          {% endif %}

          {% if child.outcome == OUTCOME.NO_OUTCOME_YET %}
            {% if isUnknown or refused %}
              {% include "campaign/child/_action-get-consent.html" %}
            {% elseif campaign.is3in1MenACWY %}
              {% include "campaign/child/_action-vaccinate-3-in-1.html" %}
            {% elseif child.triageStatus == TRIAGE_OUTCOME.VACCINATE %}
              {% include "campaign/child/_action-vaccinate.html" %}
            {% endif %}
          {% elif child.outcome == OUTCOME.VACCINATED %}
            {% include "campaign/child/_vaccination-recorded.html" %}
          {% endif %}
        </div>

        <div class="nhsuk-grid-column-one-third">
          {% if campaign["available-offline"] %}
            <div id="available-offline">
              <h2 class="nhsuk-heading-s nhsuk-u-margin-top-5" style="color: #007f3b">
                <svg class="nhsuk-icon nhsuk-icon__tick" style="vertical-align: bottom" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" width="34" height="34">
                  <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="#007f3b"></path>
                </svg>
                Available offline
              </h2>
              {% if not child.seen.isOffline and not child.hadOfflineChanges %}
                <p>You can make changes to this child’s record while not connected to the internet.</p>
              {% endif %}
            </div>

            {% if child.seen.isOffline %}
              <hr>
              <h2 class="nhsuk-heading-s">You made changes offline</h2>
              <p>Your changes will automatically sync when you’re back online.</p>
            {% endif %}

            {% if child.hadOfflineChanges and not child.seen.isOffline %}
              <hr>
              <h2 class="nhsuk-heading-s">Your changes were synced</h2>
              <p>They were synced on {{ "today" | govukDate }} at {{ "now" | govukTime }}.</p>
              <p><a href="#">Hide this message</a></p>
            {% endif %}
          {% endif %}
        </div>
      </div>
    </main>
  </div>
{% endblock %}
