{% extends "layouts/default.html" %}

{% if filteredYearGroup %}
  {% set caption = "Record vaccinations" %}
  {% set title = filteredYearGroup.name %}
{% else %}
  {% set title = "Record vaccinations" %}
{% endif %}

{% block pageNavigation %}
  {{ breadcrumb({
    items: [
      {
        text: "Home",
        href: "/dashboard"
      },
      {
        text: "School sessions",
        href: "/school-sessions"
      }
    ],
    text: campaign.title,
    href: "/campaign/" + campaign.id
  }) }}
{% endblock %}

{% block main %}
  <div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="main-content" role="main">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
          {% include 'campaign/_children-banner.html' %}

          {% if campaign['available-offline'] %}
            <span class="nhsuk-heading-s nhsuk-u-margin-bottom-1" style="color: #007f3b">Available offline</span>
          {% endif %}

          <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-6">
            {% if caption %}<span class="nhsuk-caption-l">{{ caption }}</span>{% endif %}
            {{ title | noOrphans | safe }}
          </h1>

          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-quarter">
              {{ input({
                label: {
                  text: 'By name'
                },
                decorate: 'search'
              }) }}

              <p class="nhsuk-u-margin-bottom-1">By year group</p>
              <ul class="nhsuk-list">
                {% for group in campaign.yearGroups %}
                  <li>
                    {% if filteredYearGroup.number == group.number %}
                      <a class="app-u-inherit app-u-text-decoration-none nhsuk-u-font-weight-bold" href="?year={{ group.number }}">
                        {{ group.name }}
                      </a>
                    {% else %}
                      <a href="?year={{ group.number }}">
                        {{ group.name }}
                      </a>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>

              <p class="nhsuk-u-margin-bottom-1">By outcome</p>
              <ul class="nhsuk-list">
                {% for key, item in OUTCOME %}
                  <li>
                    <a href="?outcome={{ key }}">{{ item }}</a>
                  </li>
                {% endfor %}
              </ul>

              <p class="nhsuk-u-margin-bottom-1">By consent</p>
              <ul class="nhsuk-list">
                {% for key, item in CONSENT %}
                  <li>
                    <a href="?consent={{ key }}">{{ item }}</a>
                  </li>
                {% endfor %}
              </ul>
              {# <ul class="nhsuk-list">
                <li>
                  <a href="#">{{ CONSENT.GIVEN }}</a>
                </li>
                <li>
                  <a href="#">{{ CONSENT.REFUSED }}</a>
                </li>
                <li>
                  <a href="#">{{ CONSENT.UNKNOWN }}</a>
                </li>
              </ul> #}
            </div>
            <div class="nhsuk-grid-column-three-quarters">
              <table class="nhsuk-table app-children-table" id="children">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th class="govuk-table__header">Name</th>
                    <th class="govuk-table__header">Date of birth</th>
                    <th class="govuk-table__header">Consent</th>
                    <th class="govuk-table__header" style="width: 200px">Outcome</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  {% for child in (filteredChildren or campaign.children) %}
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">
                        <a href="/campaign/{{ campaign.id }}/child/{{ child.nhsNumber }}">{{ child.fullName }}</a>
                        {% if child.preferredName %}
                          <br />Known as: {{ child.preferredName }}
                        {% endif %}
                      </td>
                      <td class="govuk-table__cell" style="width: 150px">
                        {{ child.dob | govukDate('truncate') }}
                      </td>
                      <td class="govuk-table__cell">
                        {% set consentText = child.consent.text if campaign.is3in1MenACWY else child.consent[campaign.type] %}
                        {{ consentText }}
                      </td>
                      <td class="govuk-table__cell">
                        {{ appOutcomeTag(child.outcome) }}
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>

  <script>
    function filterTable() {
      var inputValue = document.getElementById("search").value.toLowerCase();
      var rows = document.getElementById("children").querySelectorAll("tbody tr");

      for (var i = 0; i < rows.length; i++) {
        var nameCell = rows[i].getElementsByTagName("td")[0];
        var name = nameCell.textContent || nameCell.innerText;
        if (name.toLowerCase().indexOf(inputValue) > -1) {
          rows[i].style.display = "";
        } else {
          rows[i].style.display = "none";
        }
      }
    }
    document.getElementById("search").addEventListener("input", filterTable);
  </script>
{% endblock %}
