{% extends "layouts/default.html" %}

{% if filteredYearGroup %}
  {% set caption = "Record vaccinations" %}
  {% set title = filteredYearGroup.name %}
{% else %}
  {% set title = "Record vaccinations" %}
{% endif %}

{% block pageNavigation %}
  {{ breadcrumb({
    items: [
      {
        text: "Home",
        href: "/dashboard"
      },
      {
        text: "Your campaigns",
        href: "/your-campaigns"
      }
    ],
    text: campaign.title,
    href: "/campaign/" + campaign.id
  }) }}
{% endblock %}


{% block main %}
  <div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="main-content" role="main">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
          {% if success %}
            {% set html %}
              {% if isOffline %}
                <p class="govuk-notification-banner__heading">
                  Offline changes saved
                </p>
                <p>
                  You will need to go online to sync your changes.
                </p>
              {% else %}
                <p class="govuk-notification-banner__heading">
                  Record saved
                </p>
              {% endif %}
            {% endset %}

            {{ govukNotificationBanner({
              html: html,
              classes: "app-u-frutiger",
              type: "success"
            }) }}
          {% endif %}

          <h1 class="nhsuk-heading-l">
            {% if caption %}<span class="nhsuk-caption-l">{{ caption }}</span>{% endif %}
            {{ title | noOrphans | safe }}
          </h1>

          {% if campaign['available-offline'] %}
            {% set tagHtml %}
              <span class="nhsuk-u-font-weight-bold nhsuk-u-font-size-16">
                You can record vaccinations for these children while offline
              </span>
            {% endset %}

            <div class="nhsuk-u-margin-bottom-4" style="margin-top: -15px">
            {{ tag({
              html: tagHtml,
              classes: 'nhsuk-tag--blue'
            }) }}
            </div>
          {% endif %}

          {% set listOfPeople %}
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-quarter">
              <p class="nhsuk-u-margin-bottom-1">By year group:</p>
              <ul class="nhsuk-list">
                {% for group in campaign.yearGroups %}
                  <li>
                    {% if filteredYearGroup.number == group.number %}
                      <a class="app-u-inherit app-u-text-decoration-none nhsuk-u-font-weight-bold" href="?year={{ group.number }}">
                        {{ group.name }}
                      </a>
                    {% else %}
                      <a href="?year={{ group.number }}">
                        {{ group.name }}
                      </a>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>

              <p class="nhsuk-u-margin-bottom-1">By status:</p>
              <ul class="nhsuk-list">
                <li>
                  <a href="#">Seen</a>
                </li>
                <li>
                  <a href="#">Not seen</a>
                </li>
              </ul>

              <!-- <p class="nhsuk-u-margin-bottom-1">By consent:</p>
              <ul class="nhsuk-list">
                <li>
                  <a href="#">Consent given</a>
                </li>
                <li>
                  <a href="#">Consent refused</a>
                </li>
                <li>
                  <a href="#">No response</a>
                </li>
              </ul> -->
            </div>
            <div class="nhsuk-grid-column-three-quarters">

              <div class="app-search">
                {{ input({
                  label: {
                    text: 'Search by name'
                  },
                  decorate: 'search'
                }) }}
              </div>

              <table class="nhsuk-table" id="children">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th class="govuk-table__header">Name</th>
                    <th class="govuk-table__header">Date of birth</th>
                    <th class="govuk-table__header">Seen by nurse</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  {% for child in (filteredChildren or campaign.children) %}
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">
                        <a href="/campaign/{{ campaign.id }}/child/{{ child.nhsNumber }}">{{ child.fullName }}</a>
                        {% if child.preferredName %}
                          <br />Known as: {{ child.preferredName }}
                        {% endif %}
                      </td>
                      <td class="govuk-table__cell" style="width: 150px">
                        {{ child.dob | govukDate('truncate') }}
                      </td>
                      <td class="govuk-table__cell">
                        {% if child.seen.text != 'Not yet' %}
                          {% set isOfflineSaved = child.seen.isOffline %}
                          {% set color = "#004281" if isOfflineSaved else '#007f3b' %}
                          {% set tagHtml %}
                            <svg class="nhsuk-icon nhsuk-icon__tick app-icon-small" style="vertical-align: top" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" width="17" height="17">
                              <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="{{ color }}"></path>
                            </svg>
                            <span class="nhsuk-u-font-weight-bold nhsuk-u-font-size-16">
                              Saved {{ 'offline' if isOfflineSaved }}
                            </span>
                          {% endset %}

                          {{ tag({
                            html: tagHtml,
                            classes: 'nhsuk-tag--blue' if child.seen.isOffline else 'nhsuk-tag--green'
                          }) }}
                        {% endif %}
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          {% endset %}

          {{ card({
            "heading": "Children",
            "headingLevel": "2",
            "headingClasses": "nhsuk-heading-m",
            "description": listOfPeople,
            "classes": "nhsuk-u-margin-bottom-0"
          }) }}
        </div>
      </div>
    </main>
  </div>

  <script>
    function filterTable() {
      var inputValue = document.getElementById("search").value.toLowerCase();
      var rows = document.getElementById("children").querySelectorAll("tbody tr");

      for (var i = 0; i < rows.length; i++) {
        var nameCell = rows[i].getElementsByTagName("td")[0];
        var name = nameCell.textContent || nameCell.innerText;
        if (name.toLowerCase().indexOf(inputValue) > -1) {
          rows[i].style.display = "";
        } else {
          rows[i].style.display = "none";
        }
      }
    }
    document.getElementById("search").addEventListener("input", filterTable);
  </script>
{% endblock %}
