{% extends "layouts/default.html" %}
{% set title = child.fullName %}
{% set vaccineGiven = vaccinationRecord['given'] !== 'No' %}
{% set isUnknown = child.consent.unknown or child.consent[campaign.type] == 'Unknown' %}
{% set refused = child.consent.refusedBoth or child.consent[campaign.type] == 'No' %}
{% set consented = not refused and not isUnknown %}
{% set responded = consented or refused %}

{% block pageNavigation %}
  <div class="nhsuk-width-container">
    {{ backLink({
      href: "/campaign/" + campaign.id + "/children",
      classes: "nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-0"
    }) }}
  </div>
{% endblock %}

{% block main %}
  <div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="main-content" role="main">
      <h1 class="nhsuk-heading-l">
        {{ title | noOrphans | safe }}
      </h1>

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          {% include 'campaign/_available-offline.html' %}

          {% if campaign.is3in1MenACWY %}
            {% include 'campaign/child/_consent-banner-3-in-1.html' %}
          {% else %}
            {% include 'campaign/child/_consent-banner.html' %}
          {% endif %}

          {% include 'campaign/child/_details.html' %}

          {% if consented %}
            {% include 'campaign/child/_health-notes.html' %}
          {% endif %}

          {% if child.seen.text == 'Not yet' %}
            {% if isUnknown or refused %}
                {% include 'campaign/_child-action-get-consent.html' %}
            {% elseif campaign.is3in1MenACWY %}
              {% include 'campaign/child/_action-vaccinate-3-in-1.html' %}
            {% else %}
              {% include 'campaign/child/_action-vaccinate.html' %}
            {% endif %}
          {% else %}
            {% include 'campaign/child/_vaccination-recorded.html' %}
          {% endif %}

          <div class="nhsuk-card">
            <div class="nhsuk-card__content">
              {{ textarea({
                label: {
                  text: "Add notes",
                  classes: "nhsuk-label--m nhsuk-u-margin-bottom-3"
                },
                rows: 5,
                name: "notes",
                classes: "nhsuk-u-margin-bottom-0",
                decorate: ["vaccination", campaign.id, child.nhsNumber, "notes"]
              }) }}

              {{ button({
                text: "Add notes",
                classes: "nhsuk-button--secondary"
              }) }}
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
