{% extends "layouts/default.html" %}
{% set title = campaign.title %}

{% block pageNavigation %}
  {{ breadcrumb({
    text: "Home",
    href: "/dashboard"
  }) }}
{% endblock %}


{% block main %}
  <div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="main-content" role="main">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
          <h1 class="nhsuk-heading-l">
            {{ title | noOrphans | safe }}
            <span class="nhsuk-caption-l nhsuk-u-margin-top-2">{{ campaign.date | govukDate() }} at {{ campaign.date | govukTime }}</span>
          </h1>

          <h2 class="nhsuk-heading-s">
            <a href="#">Send consent requests</a>
          </h2>

          <p>Use this section to:</p>
          <ul class="nhsuk-list nhsuk-list--bullet">
            <li>send vaccination consent requests to parents</li>
            <li>send reminders to parents who have not responded</li>
            <li>view uptake for vaccination consent</li>
          </ul>

          <h2 class="nhsuk-heading-s">
            <a href="#">Triage consent responses</a>
          </h2>

          <p>Use this section to:</p>
          <ul class="nhsuk-list nhsuk-list--bullet">
            <li>check for contraindications</li>
            <li>approve for vaccination</li>
            <li>contact parents about their answers to health questions</li>
          </ul>

          <h2 class="nhsuk-heading-s">
            <a href="#">Manage vaccines</a>
          </h2>

          <p>Use this section to:</p>
          <ul class="nhsuk-list nhsuk-list--bullet">
            <li>see vaccine brands, batches and expiration dates</li>
            <li>add and remove vaccines and batches</li>
          </ul>

          <h2 class="nhsuk-heading-s">
            <a href="/campaign/{{ campaign.id }}/students">Record vaccinations</a>
          </h2>

          <p>Use this section to:</p>
          <ul class="nhsuk-list nhsuk-list--bullet">
            <li>record vaccinations for children</li>
            <li>check the vaccine a child was given</li>
          </ul>

          <h2 class="nhsuk-heading-s">
            <a href="#">Edit campaign</a>
          </h2>

          <p>Use this section to:</p>
          <ul class="nhsuk-list nhsuk-list--bullet">
            <li>change the campaign date</li>
            <li>manage access to the campaign</li>
          </ul>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
