{% extends "layouts/default.html" %}
{% set title = campaign.title %}

{% block pageNavigation %}
  {{ breadcrumb({
    text: "Home",
    href: "/dashboard"
  }) }}
{% endblock %}


{% block main %}
  <div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="main-content" role="main">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
          <h1 class="nhsuk-heading-l">
            {{ title | noOrphans | safe }}
            <span class="nhsuk-caption-l nhsuk-u-margin-top-2">{{ campaign.date | govukDate() }} at {{ campaign.date | govukTime }}</span>
          </h1>

          <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-1">
            <a href="#">Send consent requests</a>
          </h2>
          <p>Send vaccination consent requests and reminders to parents.</p>

          <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-1">
            <a href="#">Triage consent responses</a>
          </h2>
          <p>Check for contraindications and contact parents.</p>

          <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-1">
            <a href="#">Manage vaccines</a>
          </h2>
          <p>Add or change vaccines, batches and expiry dates.</p>

          <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-1">
            <a href="/campaign/{{ campaign.id }}/students">Record vaccinations</a>
          </h2>
          <p>Record vaccinations for children.</p>

          <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-1">
            <a href="#">Edit session</a>
          </h2>
          <p>Change dates and manage access.</p>
        </div>
      </div>
    </main>
  </div>
{% endblock %}
