{% extends "layouts/default.html" %}
{% set title = patient.fullName %}
{% set vaccineGiven = vaccinationRecord['given'] !== 'No' %}

{% block pageNavigation %}
  {{ breadcrumb({
    items: [
      {
        text: "Home",
        href: "/dashboard"
      },
      {
        text: campaign.title,
        href: "/campaign/" + campaign.id
      }
    ],
    text: "Record vaccinations",
    href: "/campaign/" + campaign.id + "/students"
  }) }}
{% endblock %}

{% block main %}
  <div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="main-content" role="main">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <h1 class="nhsuk-heading-l">
            {{ title | noOrphans | safe }}
            {% include 'campaign/_available-offline.html' %}
          </h1>

          {% include 'campaign/_patient-details.html' %}
          {% include 'campaign/_patient-health-notes.html' %}

          {% if patient.seen.text == 'Not yet' %}
            {% include 'campaign/_patient-vaccination-action.html' %}
          {% else %}
            {% include 'campaign/_patient-vaccination-recorded.html' %}
          {% endif %}
        </div>
      </div>
    </main>
  </div>
{% endblock %}
