{% extends "_layouts/default.html" %}

{% set title = patient.fullName %}
{% set vaccineGiven =
  vaccination.outcome == VACCINATION_OUTCOME.VACCINATED or
  vaccination.outcome == VACCINATION_OUTCOME.PART_VACCINATED
%}
{% set hasNoResponse = patient.consent.outcome == CONSENT_OUTCOME.NO_RESPONSE %}
{% set hasRefused = patient.consent.outcome == CONSENT_OUTCOME.REFUSED %}
{% set hasConsented = patient.consent.outcome == CONSENT_OUTCOME.GIVEN %}
{% set triageNeeded = patient.triage.outcome == TRIAGE_OUTCOME.NEEDS_TRIAGE %}
{% set readyToVaccinate = (patient.triage != true) or (patient.triage.outcome == TRIAGE_OUTCOME.VACCINATE) %}

{% block outerContent %}
  {% set referrer = data.referrer or "record" %}
  {{ backLink({
    href: "/sessions/" + campaign.id + "/" + referrer,
    classes: "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}
  {{ heading({ title: title }) }}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      {% include "campaign/patient/_outcome.html" %}
      {% include "campaign/patient/_details.html" %}
      {% include "campaign/patient/_consent.html" %}
      {% include "campaign/patient/_triage-notes.html" %}

      {% if patient.outcome == PATIENT_OUTCOME.NO_OUTCOME_YET %}
        {% if triageNeeded %}
          {% include "campaign/patient/_action-triage.html" %}
        {% elif hasConsented and readyToVaccinate and campaign.inProgress %}
          {% include "campaign/patient/_action-vaccinate.html" %}
        {% endif %}
      {% endif %}
    </div>

    <div class="nhsuk-grid-column-one-third">
      {% if campaign["available-offline"] %}
        <div id="available-offline">
          <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-1 nhsuk-u-margin-top-5">
            <span class="app-status app-status--green">
              {{ icon("tick") }} Available offline
            </span>
          </h2>
          {% if not patient.seen.isOffline and not patient.hadOfflineChanges %}
            <p>You can make changes to this child’s record while not connected to the internet.</p>
          {% endif %}
        </div>

        {% if patient.seen.isOffline %}
          <hr>
          <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-1">You made changes offline</h2>
          <p>Your changes will automatically sync when you’re back online.</p>
        {% endif %}

        {% if patient.hadOfflineChanges and not patient.seen.isOffline %}
          <hr>
          <h2 class="nhsuk-heading-s nhsuk-u-margin-bottom-1">Your changes were synced</h2>
          <p>They were synced on {{ "today" | govukDate }} at {{ "now" | govukTime }}.</p>
          <p><a href="#">Hide this message</a></p>
        {% endif %}
      {% endif %}
    </div>
  </div>
{% endblock %}
