{% extends "layouts/default.html" %}
{% set title = patient.fullName %}
{% set vaccineGiven = vaccinationRecord['given'] !== 'No' %}

{% block pageNavigation %}
  {{ breadcrumb({
    items: [
      {
        text: "Home",
        href: "/dashboard"
      },
      {
        text: campaign.title,
        href: "/campaign/" + campaign.id
      }
    ],
    text: "Record vaccinations",
    href: "/campaign/" + campaign.id + "/students"
  }) }}
{% endblock %}

{% set consentValue %}
  <b>3-in-1</b><br />
  {{ 'Parental consent' if patient.consent['3-in-1'] else 'No consent' }}
  <br />
  <p class="nhsuk-u-margin-top-2">
    <b>MenACWY</b>
    <br />
    {{ 'Parental consent' if patient.consent['men-acwy'] else 'No consent' }}
  </p>
{% endset %}

{% block main %}
  <div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="main-content" role="main">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <h1 class="nhsuk-heading-l">
            {{ title | noOrphans | safe }}
            {% include 'campaign/_available-offline.html' %}
          </h1>

          {% set about %}
            {{ summaryList({
              classes: "app-summary-list--no-bottom-border nhsuk-u-margin-bottom-0",
              rows: decorateRows([
                {
                  key: 'Name',
                  value: patient.fullName
                },
                {
                  key: 'Known as',
                  value: patient.preferredName
                } if patient.preferredName,
                {
                  key: 'Sex',
                  value: patient.sex
                },
                {
                  key: 'Date of birth',
                  value: patient.dob | govukDate + ' (aged ' + patient.age + ')'
                },
                {
                  key: 'Consent',
                  value: 'Parental'
                } if not campaign.is3in1MenACWY,
                {
                  key: 'Consent',
                  value: {
                    html: consentValue
                  }
                } if campaign.is3in1MenACWY,
                {
                  key: 'GP',
                  value: patient.gp
                },
                {
                  key: 'NHS Number',
                  value: patient.nhsNumber
                },
                {
                  key: 'Screening',
                  value: {
                    html: patient.screening + '<br /><a href="#">Show health questions and answers</a>'
                  }
                }
              ])
            }) }}
          {% endset %}

          {{ card({
            heading: "About them",
            headingLevel: "2",
            headingClasses: "nhsuk-heading-m",
            description: about
          }) }}

          {% set record %}
            {% if campaign.type == "HPV" %}
              <p>They need their 1st dose.</p>
            {% endif %}

            {% if campaign.is3in1MenACWY %}
              {% if not patient.consent.both %}
                {% set consentSlug %}{{ '3-in-1' if patient.consent['3-in-1'] else 'men-acwy' }}{% endset %}
                {% set consentFor %}{{ '3-in-1' if patient.consent['3-in-1'] else 'MenACWY' }}{% endset %}
                {% set warningConsentFor %}{{ 'the 3-in-1 booster' if patient.consent['3-in-1'] else 'MenACWY' }}{% endset %}

                {{ warningCallout({
                  heading: "Do not give both vaccines",
                  classes: "nhsuk-u-margin-bottom-6",
                  HTML: "<p>Consent has only been given for " + warningConsentFor + ".</p>"
                }) }}

                {{ button({
                  text: 'Record ' + consentFor + ' vaccination',
                  href: '/' + consentSlug + '-vaccination/' + campaign.id + '/' + patient.nhsNumber,
                  classes: 'nhsuk-u-margin-bottom-2'
                }) }}
              {% else %}
                {{ button({
                  text: 'Record ' + campaign.type + ' vaccinations',
                  href: '/vaccination/' + campaign.id + '/' + patient.nhsNumber + '/which-first',
                  classes: 'nhsuk-u-margin-bottom-2'
                }) }}
              {% endif %}
            {% else %}
              {{ button({
                text: 'Record ' + campaign.type + ' vaccination',
                href: '/vaccination/' + campaign.id + '/' + patient.nhsNumber,
                classes: 'nhsuk-u-margin-bottom-2'
              }) }}
            {% endif %}
          {% endset %}

          {% set vaccineRecorded %}
            <p><a href="#">Change</a></p>

            {{ govukSummaryList({
              classes: "app-u-frutiger app-summary-list--no-bottom-border  nhsuk-u-margin-bottom-0",
              rows: decorateRows([
                {
                  key: 'Vaccine',
                  value: campaign.vaccines[0].summary
                },
                {
                  key: 'Dose',
                  value: '1 of 2'
                } if vaccineGiven and campaign.type == "HPV",
                {
                  key: 'Vaccine given?',
                  value: vaccinationRecord.given
                },
                {
                  key: 'Site',
                  value: 'Nasal'
                } if vaccineGiven and campaign.vaccines[0].method == "Nasal spray",
                {
                  key: 'Site',
                  value: vaccinationRecord.where
                } if vaccineGiven and campaign.vaccines[0].method == "Injection",
                {
                  key: 'Reason',
                  value: vaccinationRecord['why-not-given']
                } if not vaccineGiven,
                {
                  key: 'Date',
                  value: 'Today (' + "today" | govukDate + ')'
                },
                {
                  key: 'Time',
                  value: 'now' | govukTime
                } if vaccineGiven,
                {
                  key: 'Location',
                  value: campaign.location
                },
                {
                  key: 'Vaccinator',
                  value: 'You (' + data.user.name + ')'
                }
              ])
            }) }}
          {% endset %}

          {% if patient.seen.text == 'Not yet' %}
            {{ card({
              heading: "Record vaccination",
              headingLevel: "2",
              headingClasses: "nhsuk-heading-m",
              description: record
            }) }}
          {% else %}
            {% if isOffline %}
              <div class="app-offline-status">
                <b>Vaccination record stored on your device</b><br />
                You need to connect to the internet to save it
              </div>
            {% endif %}
            {{ card({
              heading: "Vaccination details",
              headingLevel: "2",
              headingClasses: "nhsuk-heading-m",
              description: vaccineRecorded
            }) }}
          {% endif %}
<!--
          <h2 class="nhsuk-heading-m">Health notes</h2>

          {% set healthNotes %}
            <h3 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Do they have a disease or treatment that severely affects their immune system?</h3>
            <p>No</p>

            <h3 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Does anyone in their household having treatment that severely affects their immune system?</h3>
            <p>No</p>

            <h3 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Have they been diagnosed with asthma?</h3>
            <p>No</p>

            <h3 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Do they have a severe egg allergy?</h3>
            <p>No</p>

            <h3 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Are they taking aspirin medication?</h3>
            <p>No</p>
          {% endset %}

          {{ details({
            "text": "None given (Show answers)",
            "HTML": healthNotes
          }) }} -->

          {% set parent %}
            {{ summaryList({
              classes: "app-summary-list--no-bottom-border nhsuk-u-margin-bottom-0",
              rows: decorateRows([
                {
                  key: 'Name',
                  value: patient.parentOrGuardian.fullName
                },
                {
                  key: 'Relationship to child',
                  value: patient.parentOrGuardian.relationship
                },
                {
                  key: 'Contact details',
                  value: {
                    html: patient.parentOrGuardian.telephone + '<br />' + patient.parentOrGuardian.email
                  }
                }
              ])
            }) }}
          {% endset %}

          {{ card({
            heading: "Parent or guardian",
            headingLevel: "2",
            headingClasses: "nhsuk-heading-m",
            description: parent
          }) }}
        </div>
      </div>
    </main>
  </div>
{% endblock %}
