{% extends "_layouts/default.html" %}

{% set title = "Record vaccinations" %}
{% set section = "record" %}

{% block outerContent %}
  {{ breadcrumb({
    items: [
      {
        text: "Home",
        href: "/dashboard"
      },
      {
        text: "School sessions",
        href: "/school-sessions"
      }
    ],
    text: campaign.title,
    href: "/campaign/" + campaign.id
  }) }}
{% endblock %}

{% block content %}
  {% include "campaign/_notification-banner.html" %}

  {% if campaign["available-offline"] %}
    <span class="app-status app-status--green">
      {{ icon("tick") }} Available offline
    </span>
  {% endif %}

  {{ heading({
    title: filteredYearGroup.name if filteredYearGroup else title,
    caption: title if filteredYearGroup
  }) }}

  {% set actionNeeded %}
    {% set tab = filters.actionNeeded %}
    {% include "campaign/_tab.html" %}
  {% endset %}

  {% set vaccinated %}
    {% set tab = filters.vaccinated %}
    {% include "campaign/_tab.html" %}
  {% endset %}

  {% set couldNotVaccinate %}
    {% set tab = filters.couldNotVaccinate %}
    {% include "campaign/_tab.html" %}
  {% endset %}

  {{ tabs({
    items: [
      {
        id: "action-needed",
        label: filters.actionNeeded.label,
        panel: { html: actionNeeded }
      },
      {
        id: "vaccinated",
        label: filters.vaccinated.label,
        panel: { html: vaccinated }
      },
      {
        id: "not-vaccinated",
        label: filters.couldNotVaccinate.label,
        panel: { html: couldNotVaccinate }
      }
    ]
  }) }}
{% endblock %}
