{% extends "layouts/default.html" %}

{% set title = "Consent responses" %}

{% block outerContent %}
  {{ breadcrumb({
    items: [
      {
        text: "Home",
        href: "/dashboard"
      },
      {
        text: "School sessions",
        href: "/school-sessions"
      }
    ],
    text: campaign.title,
    href: "/campaign/" + campaign.id
  }) }}
{% endblock %}

{% block content %}
  {% include "campaign/_notification-banner.html" %}

  {% if campaign["available-offline"] %}
    <span class="nhsuk-heading-s nhsuk-u-margin-bottom-1" style="color: #007f3b">Available offline</span>
  {% endif %}

  {{ appHeading({
    title: filteredYearGroup.name if filteredYearGroup else title,
    caption: title if filteredYearGroup,
    size: "xl"
  }) }}

  {% set consentValid %}
    {% set tab = filters.consentValid %}
    {% include "campaign/_tab.html" %}
  {% endset %}

  {% set consentRefused %}
    {% set tab = filters.consentRefused %}
    {% include "campaign/_tab.html" %}
  {% endset %}

  {% set consentConflicts %}
    {% set tab = filters.consentConflicts %}
    {% include "campaign/_tab.html" %}
  {% endset %}

  {% set noResponse %}
    {% set tab = filters.noResponse %}
    {% include "campaign/_tab.html" %}
  {% endset %}

  {{ tabs({
    items: [
      {
        id: "consent-valid",
        label: filters.consentValid.label,
        panel: { html: consentValid }
      },
      {
        id: "consent-refused",
        label: filters.consentRefused.label,
        panel: { html: consentRefused }
      },
      {
        id: "consent-conflicts",
        label: filters.consentConflicts.label,
        panel: { html: consentConflicts }
      },
      {
        id: "no-response",
        label: filters.noResponse.label,
        panel: { html: noResponse }
      }
    ]
  }) }}
{% endblock %}
