{% extends "_layouts/default.html" %}

{% set title = "Triage health questions" %}

{% block outerContent %}
  {{ breadcrumb({
    items: [
      {
        text: "Home",
        href: "/dashboard"
      },
      {
        text: "School sessions",
        href: "/school-sessions"
      }
    ],
    text: campaign.title,
    href: "/campaign/" + campaign.id
  }) }}
{% endblock %}

{% block content %}
  {% include "campaign/_notification-banner.html" %}

  {% if campaign["available-offline"] %}
    <span class="app-online-status app-online-status--online">
      {{ icon("tick") }} Available offline
    </span>
  {% endif %}

  {{ heading({
    title: filteredYearGroup.name if filteredYearGroup else title,
    caption: title if filteredYearGroup,
    size: "xl"
  }) }}

  {% set triageNeeded %}
    {% set tab = filters.triageNeeded %}
    {% include "campaign/_tab.html" %}
  {% endset %}

  {% set triageCompleted %}
    {% set tab = filters.triageCompleted %}
    {% include "campaign/_tab.html" %}
  {% endset %}

  {% set noTriageNeeded %}
    {% set tab = filters.noTriageNeeded %}
    {% include "campaign/_tab.html" %}
  {% endset %}

  {{ tabs({
    items: [
      {
        id: "needs-triage",
        label: filters.triageNeeded.label,
        panel: { html: triageNeeded }
      },
      {
        id: "triage-completed",
        label: filters.triageCompleted.label,
        panel: { html: triageCompleted }
      },
      {
        id: "no-triage-needed",
        label: filters.noTriageNeeded.label,
        panel: { html: noTriageNeeded }
      }
    ]
  }) }}
{% endblock %}

{% block bodyEnd %}
<script>
  function filterTable() {
    var inputValue = document.getElementById("search").value.toLowerCase();
    var rows = document.getElementById("children").querySelectorAll("tbody tr");

    for (var i = 0; i < rows.length; i++) {
      var nameCell = rows[i].getElementsByTagName("td")[0];
      var name = nameCell.textContent || nameCell.innerText;
      if (name.toLowerCase().indexOf(inputValue) > -1) {
        rows[i].style.display = "";
      } else {
        rows[i].style.display = "none";
      }
    }
  }
  document.getElementById("search").addEventListener("input", filterTable);
</script>
{% endblock %}
