{% extends "template.njk" %}
{% from "_components/icon/macro.njk" import appIcon %}
{% from "_components/iconTick/macro.njk" import appIconTick %}
{% from "_components/iconCross/macro.njk" import appIconCross %}
{% from "_components/outcomeTag/macro.njk" import appOutcomeTag %}

{% block head %}
  <link rel="stylesheet" href="/public/stylesheets/application.css" media="all">
  <script src="/public/javascripts/application.js" defer></script>
{% endblock %}

{% block pageTitle %}
  {{- "Error: " if errors -}}
  {{- title + " - " if title -}}
  {{- serviceName + " - NHS.UK" -}}
{% endblock %}

{% set bodyAttributes = {"data-module": "edge"} %}

{% block header %}
  {% if isOffline %}
    <div class="app-offline-indicator">
      <div class="nhsuk-width-container">
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-two-thirds">
            <span class="nhsuk-u-font-weight-bold nhsuk-u-font-size-19">You are working offline</span>
            <span class="nhsuk-u-padding-left-2 nhsuk-u-padding-right-2"></span>
            <a href="/help-offline" class="app-u-inherit">Help working offline</a>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  {% if offlineUploaded %}
    <div class="app-changes-synced-indicator">
      <div class="nhsuk-width-container">
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-two-thirds">
            <svg class="nhsuk-icon nhsuk-icon__tick" style="vertical-align: bottom" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" aria-hidden="true" width="17" height="17">
              <path stroke-width="4" stroke-linecap="round" d="M18.4 7.8l-8.5 8.4L5.6 12" stroke="#fff"></path>
            </svg>
            <span class="nhsuk-u-font-weight-bold nhsuk-u-font-size-22 nhsuk-u-padding-left-1">Your offline changes have been saved successfully</span>
            <div class="nhsuk-u-margin-top-2">
              <a href="/dismiss-upload" class="app-u-inherit">Hide this message</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  {{ header({
    service: {
      name: serviceName,
      href: "/"
    },
    showNav: "false",
    showSearch: "false",
    containerClasses: "nhsuk-width-container"
  }) }}
{% endblock %}

{% block beforeContent %}
  {% block pageNavigation %}{% endblock %}
{% endblock %}

{% block footer %}
  {{ footer({
    links: [
      {
        label: "Clear session data",
        URL: "/clear-session-data"
      } if useAutoStoreData, {
        label: "Feature flags",
        URL: "/feature-flags"
      }, {
        label: "Go offline",
        URL: "/go-offline"
      } if data.features.offline.on == false else {
        label: "Go online",
        URL: "/go-online"
      }
    ]
  }) }}
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  {% if child %}
    <script>console.log('Child', {{ child | dump | safe }});</script>
  {% endif %}
  {% if vaccinationRecord %}
    <script>console.log('Vaccination record', {{ vaccinationRecord | dump | safe }});</script>
  {% endif %}
{% endblock %}
