{% extends "template.njk" %}
{% from "_components/icon/macro.njk" import appIcon %}
{% from "_components/iconTick/macro.njk" import appIconTick %}
{% from "_components/iconCross/macro.njk" import appIconCross %}
{% from "_components/outcomeTag/macro.njk" import appOutcomeTag %}

{% block head %}
  <link rel="stylesheet" href="/public/stylesheets/application.css" media="all">
  <script src="/public/javascripts/application.js" defer></script>
{% endblock %}

{% block pageTitle %}
  {{- "Error: " if errors -}}
  {{- title + " - " if title -}}
  {{- serviceName + " - NHS.UK" -}}
{% endblock %}

{% set bodyAttributes = {"data-module": "edge"} %}

{% block header %}
  {% if isOffline %}
    <div class="app-offline-indicator">
      <div class="nhsuk-width-container">
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-two-thirds">
            <span class="nhsuk-u-font-weight-bold nhsuk-u-font-size-19">You are working offline</span>
            <span class="nhsuk-u-padding-left-2 nhsuk-u-padding-right-2"></span>
            <a href="/help-offline" class="app-u-inherit">Help working offline</a>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  {% if offlineUploaded %}
    <div class="app-changes-synced-indicator nhsuk-u-padding-top-9 nhsuk-u-padding-bottom-9">
      <div class="nhsuk-width-container">
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-two-thirds">
            <span class="nhsuk-u-font-weight-bold nhsuk-u-font-size-48 nhsuk-u-padding-left-1">Your offline changes have synced successfully</span>
            <div class="nhsuk-u-margin-top-2">
              <a href="/dismiss-upload" class="app-u-inherit">Hide this message</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  {{ header({
    service: {
      name: serviceName,
      href: "/"
    },
    showNav: "false",
    showSearch: "false",
    containerClasses: "nhsuk-width-container"
  }) }}
{% endblock %}

{% block beforeContent %}
  {% block pageNavigation %}{% endblock %}
{% endblock %}

{% block footer %}
  <footer role="contentinfo">
    <div class="nhsuk-footer" id="nhsuk-footer">
      <div class="nhsuk-width-container">
        <h2 class="nhsuk-u-visually-hidden">Scenario links</h2>
        <ul class="nhsuk-footer__list nhsuk-u-margin-bottom-6">
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="/scenario-office">Scenario 1</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="/scenario-offline">Scenario 2</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="/scenario-back-online">Scenario 3</a>
          </li>
        </ul>

        <h2 class="nhsuk-u-visually-hidden">Support links</h2>
        <ul class="nhsuk-footer__list">
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="/clear-session-data">Clear session data</a>
          </li>
          <li class="nhsuk-footer__list-item">
            <a class="nhsuk-footer__list-item-link" href="/feature-flags">Feature flags</a>
          </li>
          {% if data.features.offline.on === false %}
            <li class="nhsuk-footer__list-item">
              <a class="nhsuk-footer__list-item-link" href="/go-offline">Go offline</a>
            </li>
          {% else %}
            <li class="nhsuk-footer__list-item">
              <a class="nhsuk-footer__list-item-link" href="/go-online">Go online</a>
            </li>
          {% endif %}
        </ul>

        <p class="nhsuk-footer__copyright">&copy; Crown copyright</p>
      </div>
    </div>
  </footer>
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  {% if child %}
    <script>console.log('Child', {{ child | dump | safe }});</script>
  {% endif %}
  {% if vaccinationRecord %}
    <script>console.log('Vaccination record', {{ vaccinationRecord | dump | safe }});</script>
  {% endif %}
{% endblock %}
