{% extends "template.njk" %}
{% from "_components/consentBanner/macro.njk" import appConsentBanner %}
{% from "_components/heading/macro.njk" import appHeading %}
{% from "_components/icon/macro.njk" import appIcon %}

{% block head %}
  <link rel="stylesheet" href="/public/application.css" media="all">
  <script src="/public/application.js" defer></script>
{% endblock %}

{% block pageTitle %}
  {{- "Error: " if errors -}}
  {{- title + " - " if title -}}
  {{- serviceName + " - NHS.UK" -}}
{% endblock %}

{% set bodyAttributes = {"data-module": "edge"} %}

{% block header %}
  {% if isOffline %}
    <div class="app-offline-banner">
      <div class="nhsuk-width-container">
        <span class="nhsuk-u-font-weight-bold nhsuk-u-font-size-19 nhsuk-u-margin-right-3">You are working offline</span>
        <a href="/help-offline" class="nhsuk-link nhsuk-text-colour">Help working offline</a>
      </div>
    </div>
  {% endif %}

  {{ header({
    service: {
      name: serviceName,
      href: "/"
    },
    showNav: "false",
    showSearch: "false"
  }) }}
{% endblock %}

{% block footer %}
  {{ footer({
    links: [
      {
        URL: "/clear-session-data",
        label: "Clear session data"
      },
      {
        URL: "/feature-flags",
        label: "Feature flags"
      },
      {
        URL: "/go-offline" if data.features.offline.on === false else "/go-online",
        label: "Go offline" if data.features.offline.on === false else "Go online"
      }
    ],
    linksColumn2: [
      {
        URL: "/scenario-office",
        label: "Scenario 1"
      },
      {
        URL: "/scenario-offline",
        label: "Scenario 2"
      },
      {
        URL: "/scenario-back-online",
        label: "Scenario 3"
      }
    ]
  }) }}
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  {% if child %}
    <script>console.log('Child', {{ child | dump | safe }});</script>
  {% endif %}
  {% if vaccination %}
    <script>console.log('Vaccination', {{ vaccination | dump | safe }});</script>
  {% endif %}
  {% if consentRecord %}
    <script>console.log('Consent record', {{ consentRecord | dump | safe }});</script>
  {% endif %}
{% endblock %}
